#errorCatcher Echo
## $Id: indexWarn.html.tmpl  2017-12-30 13:24:18Z hes $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location WetterWarnungen</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src='js/hesweewx.js'></script>

  </head>

<body>
<button onclick="topFunction()" id="hesBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("hesBtn").style.display = "block";
    } else {
        document.getElementById("hesBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

 <div id="hes11"> 

  #include $Extras.header

  <div id="stats_group">

   #set global $period1 = $yesterday($data_binding="weewx_binding")
   #set global $period2 = $day($data_binding="weewx_binding")
   #set global $period1Name = "Gestern"
   #set global $period2Name = "Heute"

   #include $Extras.chart

  </div> <!--End class "stats_group" -->  

 <div id="content">        
  <div id="about">
   <h3>Wetterwarnungen des Deutschen Wetterdienstes</h3>
    <p>
    #include $Extras.dwd30
    </p>
    <hr />
  </div>
  <p>&nbsp;</p>
 </div> <!-- end id "about" -->

  #include $Extras.footer

</div>
</body>

</html>
