#errorCatcher Echo
##    $Revision: 1126 $
##    $Author: tkeffer $
##    $Date: 2013-03-27 14:52:32 -0700 (Wed, 27 Mar 2013) $
#encoding UTF-8
<!doctype html>
<html lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$station.location Aktuelle Wetter Bedingungen</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src='js/hesweewx.js'></script>
    <script>
      window.onload = function() { applypopups(); }
    </script>

  </head>

<body>
<button onclick="topFunction()" id="hesBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("hesBtn").style.display = "block";
    } else {
        document.getElementById("hesBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

   <div id="container">

    #include $Extras.header
 
   <div id="stats_group">

    #set global $period1 = $yesterday($data_binding="weewx_binding")
    #set global $period2 = $day($data_binding="weewx_binding")
    #set global $period1Name = "Gestern"
    #set global $period2Name = "Heute"

    #include $Extras.chart
    <div>
      #include $Extras.about
    </div>

   </div> <!--End class "stats_group" -->

      <div id="content">
        <div id="about">
          <div class="header">
            PC  Celeron / 4 MB Ram / 1 TB HDD
          </div>
          <hr />
          <div id="plots">
                Der Tag<br />
                <img src="daycpu.png" alt="cpu" /><br />
                <img src="daycpu1.png" alt="cpu" /><br />
                <img src="dayload.png" alt="load" /><br /> 
                <img src="daydisk.png" alt="disk" /><br /> 
                <img src="dayhome.png" alt="home" /><br />
                <img src="daymem.png" alt="mem" /><br /> 
                <img src="dayswap.png" alt="swap" /><br />
                <img src="daynet.png" alt="net" /><br />
                <img src="daycputemp.png" alt="CPUTemp" />
                <img src="daybavolt.png" alt="Spanung" /><br />
                <img src="daybakern.png" alt="CPU-Takt" />
                <hr />
                Die Wetterstation<br />
                <img src="dayBate.png" alt="ConsBattVolt" />
                <img src="dayStat.png" alt="CPUTemp" />
                <img src="dayVolt.png" alt="CPU Volt" />
                <img src="daybattery.png" alt="battery" />
                
             <br /><hr /><br />Die Woche<br /><hr />
                <img src="weekcpu.png" alt="cpu" /><br />
                <img src="weekcpu1.png" alt="cpu" /><br />
                <img src="weekload.png" alt="load" /><br />
                <img src="weekdisk.png" alt="disk" /><br />
                <img src="weekmem.png" alt="mem" /><br />
                <img src="weeknet.png" alt="net" />
                <img src="weekcputemp.png" alt="CPU temp" />
                <img src="weekbavolt.png" alt="Spanung" /><br />
                <img src="weekbakern.png" alt="CPU-Takt" />
                <img src="weekBate.png" alt="CPUBaterie" />
                <img src="weekStat.png" alt="ISS" />
                <br /><hr />
                <img src="monthBate.png" alt="CPUBaterie" />
                <img src="monthStat.png" alt="ISS" />
<br />
                
          </div> <!-- End id "plots" -->
       </div> <!-- End id "about" -->  
    </div> <!-- End id "content" -->

  #include $Extras.footer

</div>
</body>

</html>
