#errorCatcher Echo
## Standard for weewx - Copyright 2012-2013 Matthew Wall
## $Id: index.html.tmpl 743 2013-12-22 23:24:18Z mwall $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->

    <title>$station.location Messwerte</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />

    <script src='js/hesweewx.js'></script>
    <script src="js/RGraph.gauge.js"></script> 
    <script src="js/RGraph.common.core.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/gauge.js"></script>

  </head>

<body>
 <button onclick="topFunction()" id="hesBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("hesBtn").style.display = "block";
    } else {
        document.getElementById("hesBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

   <div id='hes11'>
    #include $Extras.header
    <div id="stats_group">

    #set global $period1 = $yesterday($data_binding="weewx_binding")
    #set global $period2 = $day($data_binding="weewx_binding")
    #set global $period1Name = "Gestern"
    #set global $period2Name = "Heute"
   
    #include $Extras.chart
    <p>&nbsp;</p>
    <div>
     #include $Extras.about
    </div>
   </div> <!--End class "stats_group" -->
 
    <div id="content">
      <div id="about">
        <div class="header">
          <h3>Wissenswert</h3>
        </div>
      </div> <!-- End id "about" -->
      <div id="plots">
       <hr />
       <h3 id="ssi">Summer-Simmer-Index</h3>
          <p>Der Summer-Simmer-Index bezieht sich im Vergleich zum Hitzeindex auf die gefühlte Hitze in der Nacht und 
             stellt einen Fraktor für das Unwohlsein dar. Er findet ab 22 C° Anwendung.</p>
          <table>
           <tr><td>Stufe</td><td>SSI in Grad Celsius</td><td>Gefahren</td></tr>
           <tr><td>1</td><td>21,3 bis 25,0</td><td>Etwas kühl. Die meisten Personen fühlen sich wohl.</td></tr>
           <tr><td>2</td><td>25,0 bis 28,3</td><td>Optimal. Fast jeder fühlt sich wohl.</td></tr>
           <tr><td>3</td><td>28,3 bis 32,8</td><td>Etwas heiß. Die meisten Personen fühlen sich wohl.</td></tr>
           <tr><td>4</td><td>32,8 bis 37,8</td><td>Heiß. Teilweises Unwohlsein.</td></tr>
           <tr><td>5</td><td>37,8 bis 44,4</td><td>Medium hot. Unwohlsein. Gefahr von Hitzeschlag.</td></tr>
           <tr><td>6</td><td>44,4 bis 51,7</td><td>Sehr heiß. Gefahr von Hitzeschlag.</td></tr>
           <tr><td>7</td><td>51,7 bis 65,6</td><td>Extrem Heiß. Sehr große Gefahr eines Hitzeschlages.</td></tr>
          </table>
       <hr />
       <h3 id="hi">Hitzeindex</h3>
        <p>Wer kennt das nicht, es ist schwül draußen und somit eine hohe 
           Luftfeuchtigkeit. Der Hitzeindex gibt aus der aktuellen Temperatur und der 
           Luftfeuchtigkeit die gefühlte Temperatur an. Dieser Hitzeindex wird nur in den 
           Sommermonaten und ab 27C° benutzt.</p>
      <hr />
      <h3 id="gef">Gefühlte Temperatur</h3>
      <p>Der Hitzeindex wird in °C angeben und stellt die gefühlte Temperatur auf Basis der gemessenen Lufttemperatur sowie der relativen Luftfeuchtigkeit dar. 
Hintergrund ist deren Wirkung auf den menschlichen Organismus und das hierdurch bestimmte Wärmeempfinden, weshalb der Hitzeindex ein Ausdruck dafür ist, 
wie diese Faktoren in ihrer Kombination auf das tatsächliche Temperatur- und damit Wohlempfinden einer Person Einfluss nehmen. 
Dieser Einfluss wirkt über die Beeinträchtigung der Thermoregulation, insbesondere des Schwitzens, und hat eine maßgebliche Wirkung auf die individuelle Lebensqualität. 
Eine hohe Luftfeuchtigkeit behindert dabei die Transpiration über die Haut und wird daher in Kombination mit einer hohen Temperatur als schwüle Hitze wahrgenommen. 
Diese belastet den Kreislauf wesentlich stärker als eine trockene Hitze.</p>
      <table>
        <tr><td>in Grad Celsius</td><td>Thermisches Empfinden</td><td>Thermophysiologische Beanspruchung</td></tr>
        <tr><td>unter −39  </td><td>sehr kalt</td><td>extremer Kältestress/td></tr>
        <tr><td>−39 bis −26</td><td>kalt</td><td>starker Kältestress</td></tr>
        <tr><td>−26 bis −13</td><td>kühl</td><td>mäßiger Kältestress</td></tr>
        <tr><td>−13 bis 0  </td><td>leicht kühl</td><td>schwacher Kältestress</td></tr>
        <tr><td>0 bis 20   </td><td>behaglich</td><td>Wohlbefinden möglich</td></tr>
        <tr><td>20 bis 26  </td><td>leicht warm</td><td>schwache Wärmebelastung</td></tr>
        <tr><td>26 bis 32  </td><td>warm</td><td>mäßige Wärmebelastung</td></tr>
        <tr><td>32 bis 38  </td><td>heiß</td><td>starke Wärmebelastung</td></tr>
        <tr><td>über 38</td><td>sehr heiß</td><td>extreme Wärmebelastung</td></tr>
      </table>

      <h3 id="temp">Die Temperatur</h3>
<p>Die Temperatur ist eine physikalische Zustandsgröße, die von Organismen als Wärme beziehungsweise Kälte empfunden wird. 
Hohe Temperaturen bezeichnet man als heiß, niedrige als kalt. Die Werte der Temperatur werden meist in der Maßeinheit "Grad" angegeben, 
wobei verschiedene empirische Temperaturskalen üblich sind, wie Celsius und Kelvin. Als Ausgangswerte für deren Einteilung und den 
Nullpunkt verwendet man die Übergangstemperatur chemisch reiner Stoffe von einem Aggregatzustand in einen anderen, z.B. den Siedepunkt 
des Wassers oder den Schmelzpunkt von Eis bei Normaldruck.</p>

<h3 id="relLF">Die relative Luftfeuchte </h3>
<p>Die relative Feuchte ist das Verhältnis des aktuellen Dampfdrucks zum maximal möglichen Wasserdampfdruck (Sättigungsdampfdruck) bei gegebenem Druck und Temperatur. 
Die relative Feuchte wird als Prozentwert angegeben. Bei Sättigung herrscht gemäß dieser Definition somit 100% relative Feuchte.
Je wärmer die Luft ist, desto mehr Wasser kann sie aufnehmen. Kühlt sich feuchte Luft soweit ab, dass die Sättigungsmenge überschritten wird, entsteht Nebel, Tau oder Regen. </p>

<h3 id="wind">Die Windgeschwindigkeit</h3>
<p>Die Windgeschwindigkeit ist der Weg, den Luft pro Zeiteinheit im Raum zurücklegt. 
Die Geschwindigkeit des Windes wird in der Meteorologie offiziell entsprechend den physikalischen SI-Einheiten 
in Meter pro Sekunde (oder auch Kilometer pro Stunde) angegeben oder auch als Windstärke klassifiziert. </p>

<h3 id="rich">Die Windrichtung</h3>
<p>Die Windrichtung ist die Himmelsrichtung, aus der der Wind kommt. Sie wird in der Meteorologie entweder als eine von 
acht Hauptwindrichtungen (Nord, Nordost, Ost, Südost, Süd, Südwest, West und Nordwest) oder als Gradzahl der 
Kompassrose (zwischen 1° und 360°) angegeben. Die Gradzahl zählt von Norden im Uhrzeigersinn. </p>

<p>Auf Wetterkarten wird die Windrichtung mit Pfeilen angegeben. Die Spitze des Windpfeils zeigt die Richtung an, 
in die der Wind weht. An der Basis des Pfeils geben Striche und Dreiecke die Windstärke an. </p>

<h3 id="relLD">Der relative Luftdruck </h3>
<p>Der relative Luftdruck an einem beliebigen Ort der Erdatmosphäre ist der hydrostatische Druck der Luft, der an diesem Ort herrscht. 
Dieser Druck stimmt überein mit der Gewichtskraft der Luftsäule, die auf der Erdoberfläche oder einem auf ihr befindlichen Körper steht. </p>

<p>Eine Messung, die sich auf die Höhe der Erdoberfläche über Normalnull bezieht (sogenannter absoluter Luftdruck), würde in die Fläche 
übertragen eher die Topografie des Geländes als die tatsächlichen Schwankungen des Luftdrucks wiedergeben. Um dies auszugleichen und die 
Werte damit vergleichbar zu machen bedient man sich einer Reduktion auf Meereshöhe (sogenannter relativer Luftdruck).</p>

<h3 id="schnee">Die Schneehöhe </h3>
<p>Die Schneehöhe ist aufgeschichteter Niederschlag in Form von Schnee. Sie wird in der Maßeinheit cm gemessen. </p>
 
<p>ähnlich wie bei flüssigem Niederschlag (Regen) entsteht langandauernder, gleichmäßiger Schneefall leichter bis mäßiger 
Intensität fast immer aus Schichtwolken, während der starke großflockige, ergiebige und teils von Graupel durchsetzter 
Schneefall aus konvektiven Wolken (Schauerwolken, Schneeschauer) fällt.</p>

<h3 id="regen">Der Niederschlag  </h3>
<p>Wenn Wassertröpfchen oder Eisteilchen eine bestimmte Größe erreichen (etwa 0,1 mm bei Wassertröpfchen und 1,5 mm 
Durchmesser bei Eiskristallen), so können sie von den Aufwinden nicht mehr in der Schwebe gehalten werden und beginnen 
Richtung Boden zu fallen. Wenn sie diese dann erreichen, spricht man vom Niederschlag, also Regen.</p>

<h3 id="chill">Der Windchill = gefühlte Temperatur im Wind </h3>
<p>Die Windchill-Temperatur ist die Temperatur, die die nackte Haut durch die Verdunstung in Abhängigkeit 
von der gemessenen Lufttemperatur, der Luftfeuchte und der Windgeschwindigkeit empfindet. </p>

<p>Der Begriff &quot;Windchill&quot; ist aus dem amerikanisch-sprachigen Raum übernommen worden. </p>

<h3 id="tau">Der Taupunkt </h3>
<p>Der Taupunkt ist die Temperatur, bei der der Wasserdampfgehalt der Luft gleich dem maximal Möglichen ist. 
Die Taupunkttemperatur ist also gleich der Lufttemperatur bei einer relativen Luftfeuchte von 100 %.
Der Taupunkt ist somit auch eine Maßzahl für den aktuellen Feuchtegehalt der Luft bei einer gegebenen Temperatur. 
So liegt er zum Beispiel bei einer warmen, verhältnismäßig trockenen Wüstenluft deutlich unter der herrschenden 
Lufttemperatur, weil man die Wüstenluft gehörig abkühlen müsste, bis sie so kühl ist, dass der in ihr enthaltene 
Wasserdampf eine Wasserdampfsättigung verursachen würde.</p>
  
<p>Im Winter ist der Taupunkt besonders wichtig zur Berechnung der Schneefallgrenze.</p>

<h3 id="dampfD">Der Dampfdruck </h3>
<p>Bei konstanter Temperatur ist der Dampfdruck der Druck, bei dem eine Flüssigkeit beginnt in den gasförmigen 
Zustand überzugehen. Der Dampfdruck ist der Partialdruck des Wasserdampfes am Gesamtluftdruck. Er ist stark 
von der Temperatur der Luft abhängig.
Warme Luft kann deutlich mehr Wasserdampf aufnehmen als kalte. Ab einem bestimmten Dampfdruck bei einer 
gegebenen Temperatur kann die Luft jedoch keinen weiteren Wasserdampf mehr aufnehmen und das evtl. 
überschüssige Wasser kondensiert aus. Man spricht in diesem Zusammenhang auch vom Sättigungsdampfdruck.</p>

<h3 id="Sdd">Der Sättigungsdampfdruck </h3>
<p>Warme Luft kann deutlich mehr Wasserdampf aufnehmen als kalte. Ab einem bestimmten Dampfdruck bei einer gegebenen 
Temperatur kann die Luft jedoch keinen weiteren Wasserdampf mehr aufnehmen und das evtl. überschüssige Wasser 
kondensiert aus. Man spricht in diesem Zusammenhang auch vom Sättigungsdampfdruck. 
Der Sättigungsdampfdruck lässt sich zahlenmäßig mit Hilfe der Magnus-Formel bestimmen. Im Übrigen beziehen sich 
die Angaben des Sättigungsdampfdruckes bei der Magnus-Formel immer auf eine ebene Grenzfläche zwischen Wasser und feuchter Luft.</p>

<h3 id="absLD">Der Absolut Luftdruck </h3>
<p>Der Absolut Luftdruck ist der Luftdruck, der aktuell am Messort herrscht und somit abhängig von der Stationshöhe, was wiederrum 
zur Folge hat, das man ihn nicht mit dem gemessenen Luftdruck einer anderen Station vergleichen kann. Deshalb wird er auf Meereshöhe 
reduziert (auch wenn der Wert dabei größer wird), dann spricht man vom relativen Luftdruck und somit sind alle Geländefaktoren entfernt, 
der Wert kann verglichen werden. 
Allerdings ist der Absolut Luftdruck nicht ganz umsonst, er wird z.B. für den Siedepunkt des Wassers, die spezifische Feuchte und die Luftdichte benötigt. </p>

<h3 id="spezF">Die spezifische Feuchte  </h3>
<p>Bezeichnet die Menge Wasserdampf in Gramm, die in einem Kilogramm feuchter Luft vorhanden ist. Die spezifische Feuchte ist bei vertikaler Bewegung der Luft 
konstant, da sich hierbei zwar das Volumen und die Dichte der Luft verändern, nicht aber ihr Gewicht.</p>

<h3 id="saeF">Die Sättigungsfeuchte </h3>
<p>Die Luft kann abhängig von ihrer Temperatur immer nur eine bestimmte, maximale Menge an Wasserdampf aufnehmen, 
bevor es zur Kondensation bzw. Wolkenbildung kommt. Hat die Luft bei einer gegebenen Temperatur T ihre maximal 
mögliche Wasserdampfmenge aufgenommen, so nennt man die Luft gesättigt und bezeichnet diese maximale Feuchtemenge 
als Sättigungsfeuchte zu der gegebenen Temperatur T. Im Falle, dass die Luft gesättigt ist, beträgt die relative Luftfeuchte 100 Prozent.</p>

<h3 id="LD">Die Luftdichte</h3>
<p>Die Luftdichte ist definiert als die Luftmasse pro Volumen. Sie wird in kg/m&sup3; angegeben. Die Luftdichte trockener Luft ist nur abhängig vom 
Luftdruck und der Lufttemperatur. Feuchte Luft hat bei gleichem Druck und gleicher Temperatur eine etwas geringere Dichte.</p>

<h3 id="absF">Die Absolute Feuchte </h3>
<p>Bezeichnet die Menge Wasserdampf in Gramm, die in einem m³; feuchter Luft vorhanden ist. Die spezifische Feuchte ist bei 
vertikaler Bewegung der Luft konstant, da sich hierbei zwar das Volumen und die Dichte der Luft verändern, nicht aber ihr Gewicht.</p>


<h3 id="cloud">Die Wolkenhöhe </h3>
<p>Dieser berechnete Wert stellt die Höhe der Wolken beim Standort der Wetterstation dar. Der Wert wird unabhängig davon ob überhaupt Wolken 
vorhanden sind, berechnet und gilt nur für Cumulus Wolken (s.u.). Für andere Wolkenarten (Gewitterwolken, Regenwolken) ist dieser Wert 
nur ein SEHR grober Schätzwert.</p>

<h3 id="schneeG">Die Schneefallgrenze </h3>
<p>Die Schneefallgrenze wird in Metern über den Meeresspiegel angegeben. Liegt man in seinem über der Schneefallgrenze, hat man 
Schneefall zu erwarten. Liegt man unter der Schneefallgrenze, hat man keinen Schneefall zu erwarten. 
Klein Rogahn liegt auf 52 Metern über dem Meeresspiegel. </p>

<h3 id="sicht">Die Sichtweite </h3>
<p>Als Sichtweite bezeichnet man die Entfernung, bei der Objekte gerade noch erkannt werden. Zwei Effekte schränken die Sichtweite 
ein: atmosphärische Störungen wie Schneefall oder Nebel führen zur Lichtdämpfung und die Krümmung der Erde deckt entfernte Objekte ab.</p>

<h3 id="siede">Der Siedepunkt </h3>
<p>Der Siedepunkt oder auch Kochpunkt von Wasser ist die Phasengrenzlinie zwischen Gas und Flüssigkeit. Er setzt sich also aus den 
beiden Zustandsgrößen Druck und Temperatur beim Übergang eines Stoffes vom flüssigen in den gasförmigen Aggregatzustand zusammen.</p>

<p>Einfacher gesagt: Bei dieser Temperatur beginnt Wasser zu kochen. </p>

<h3 id="">Die Eikochzeit  </h3>
<p>Die Kochzeit für ein weiches (4-Minuten)-Ei in Minuten</p>
<p>Die Formel hat zwar nicht direkt etwas mit dem Wetter zu tun, aber sie stimmt in etwa. Wer sie ernst nimmt, ist selbst schuld.</p>
<p>  Diese Formel ist als Beispiel dafür gedacht wie das Wetter in die verschiedensten Lebensbereiche eingreift ohne dass man die 
Effekte gleich mit dem Wetter; hier z.B. dem Luftdruck; in Verbindung bringen kann. Bei schlechtem Wetter oder oben auf dem Berg 
müssen die Eier halt etwas länger gekocht werden ... </p>

<h3 id="wetBulb">Die Feuchtkugeltemperatur  </h3>
<p>bald...</p>

<h3 id="siolMoist">Die Bodenfeuchtigkeit</h3>
<p>Die Bodenfeuchte wird mittels einer Sonde gemessen. Der Feuchtigkeitsgehalt des Erdbodens wirkt sich auf die 
Erdboden - und Oberflächentemperatur aus: Je feuchter der Boden, desto träger die Schwankungen. 
Ein sehr nasser Boden friert nur langsam durch und bleibt lange tief gefroren, da eine große Menge Energie für den Wechsel 
des Aggregatzustandes des Wasser gebraucht wird. 
Interessant ist dieser Messwert für alle Böden nutzenden Berufe, vor allem für die Landwirtschaft. 
Der Feuchtigkeitsgehalt mit einer Watermark-Sonde® in 10, 20 und 50 cm Tiefe gemessen. 
Ein trockener Boden besteht aus mineralischen Bestandteilen und mit Luft gefüllten Hohlräumen. 
Ist der Boden komplett mit Feuchtigkeit gesättigt, ist die gesamte Luft durch Wasser ersetzt. 
Gemessen wird der Unterdruck von 0-200 in Zentibar (cb), den die Pflanzen überwinden müssen, 
um gegen die Kapillarkraft Wasser aufnehmen zu können. Je weniger Wasser im Boden vorhanden ist, 
desto größer ist der (negative) Druck, desto höher die Anzeige in cb. </p>

<h4>Bodenbedingungen Anzeige Zentibar (cb)</h4>
<ul>
<li><b>0-10</b> = Nasser - gesättigter Boden; Gesättigter Boden. nach ergiebigen Regenfällen.</li>
<li><b>10-20</b> = Boden ausreichend feucht; Alle Böden sind ausreichend nass. Keine Bewässerung nötig.</li>
<li><b>20-40</b> = mittelschwere Böden noch feucht; leichte Böden trocknen aus und brauchen Bewässerung</li>
<li><b>40-60</b> = nur schwere Böden noch feucht; leichte und mittelschwere Böden, die Pflanzen mit Hauptwurzeln in Sensortiefe brauchen Bewässerung</li>
<li><b>60-100</b> = Bewässern notwendig; Büsche zeigen auf leichten und steinigen Böden Trockenstress.</li>
<li><b>100-200</b> = Trockener Boden; Ohne Bewässerung gibt es bereits Trockenschäden auf allen Bodensorten.</li>
</ul>
<h4>am Standort der Wetterstation; mittel-/ schwerer Boden</h4>

<h3 id="wolke">Der Bewölkungsschlüssel </h3>
<p>Der Grad der Bewölkung ist ein geachtelter Schlüssel:</p>
<ul>
<li>  0 = wolkenlos</li>
<li>  1 = sonnig </li>
<li>  2 = heiter </li>
<li>  3 = leicht bewölkt </li>
<li>  4 = wolkig</li>
<li>  5 = bewölkt </li>
<li>  6 = stark bewölkt</li> 
<li>  7 = fast bedeckt </li>
<li>  8 = bedeckt</li>
</ul>
<h3 id="volt">Die Systemspannung </h3>
<p>  Da die Wetterstation akkugepuffert ist und die Akkus bei Nachtstrom nachgeladen werden, ist dies ein über den Tag veränderlicher 
(stetig abnehmender) Wert. Die höchste Spannung ist um 6 Uhr morgens, die niedrigste um 22 Uhr Abends. Samstag und Sonntag ist Dauerladung auf ca. 27V.</p>

<hr />
       <h3>Quellen</h3>
       <ul>
        <li>Matthias: Hitzeindex und Summer Simmer Index,<a href="http://www.wandernonline.de/html/hitzeindex_ssi.html">www.wandernonline.de/html/hitzeindex_ssi.html</a></li>
        <li>John W. Pepi: The New Summer Simmer Index, <a href="http://www.summersimmer.com/ssi.htm">www.summersimmer.com/ssi.htm</a></li>
        <li>Hydrological Observatory of Athens: Monthly Means SSI, <a href="http://hoa.ntua.gr/contours/monthlyssi/">hoa.ntua.gr/contours/monthlyssi/</a></li>
       </ul>
       </div> <!-- End id "plots" -->
     </div> <!-- End id "content" -->


     #include $Extras.footer

</div>
</body>
   
</html>
