#errorCatcher Echo
## Standard for weewx - Copyright 2015 Hartmut Schweidler
#encoding UTF-8

<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="weather, Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location Statistik</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type='text/javascript' src='js/hesweewx.js'></script>

  </head>

<body>
<button onclick="topFunction()" id="hesBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("hesBtn").style.display = "block";
    } else {
        document.getElementById("hesBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
<div id="hes11"> 

 #include $Extras.header
 #include $Extras.cwarn
 <div id="stats_group">

    #set global $period1 = $yesterday
    #set global $period2 = $day
    #set global $period1Name = "Gestern"
    #set global $period2Name = "Heute"

    #include $Extras.chart

 </div> <!--End class "stats_group" -->  

 <div id="content">        
  <div id="about">
   <div class="header">Übersichten seit dem 31.10.2013 (Beginn dieser Wetteraufzeichnungen) </div>
    <p>Es werden die Messergebnisse der Wetterstation WX-2013 und von 13 one-wire Sensoren erfasst und gespeichert.</p>
    <p>Die WX-2013 wurde am <b>20.06.2016 durch eine Vantage Pro2 Aktiv Plus, 6163EU</b> ersetzt. <br />
       Seit dem 04.02.2017 werden auch die Bodenfeuchte, die Bodentemperatur und die Blattfeuchte mit einer Davis Sensorstation 6345 OVCS erfasst.</p>
    <table>
     <caption class="caption">Koordinaten der Wetterstation</caption>
      <tr>
       <td class="label">Breitengrad:</td>
       <td class="data">$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</td>
      </tr>
      <tr>
       <td class="label">L&auml;ngengrad:</td>
       <td class="data">$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</td>
      </tr>
      <tr>
       <td class="label">H&ouml;he:</td>
       <td class="data">$station.altitude</td>
      </tr>
     </table>
     <hr />
    <h3>Jahresarchiv</h3>
 #for $year in $alltime.years
     #set $yr = $year.dateTime.format("%Y")
     #set $hesweby = "Archiv/KR-" + $yr + "-table.html"
     #set $heslisy = $yr
     <input type="button" value="$heslisy" onclick="openURL('$hesweby')" />
 #end for
 <hr />

     <h3>Monatsarchive</h3>
<table>
  #for $year in $alltime.years
    <tr>
     <td>$year.dateTime.format("%Y")</td>
     #set $yearhes = $year.dateTime.format("%Y")
     #for $month in $year.months
        #if $month.outTemp.avg.raw is not None:
           #set $monthes = $month.dateTime.format("%m")
           #set $montheb = $month.dateTime.format("%b")  
           #set $hesweb = "Archiv/KR-" + $yearhes + "-" +  $monthes + "-table.html"
           <td><input type="button" value="$montheb" onclick="openURL('$hesweb')" /></td>
        #else
           <td>-</td>
        #end if
     
     #end for
     </tr>
  #end for
</table>
<hr />
<h3>Grünlandtemperatursumme</h3>
<p>Die Grünlandtemperatursumme von <b>200</b> wurde erreicht</p>
<table>
 <tr><td>1999</td><td>am</td><td>25.03.1999</td>
     <td>2000</td><td>am</td><td>17.03.2000</td></tr>
 <tr><td>2001</td><td>am</td><td>03.04.2001</td>
     <td>2002</td><td>am</td><td>10.03.2002</td></tr>
 <tr><td>2003</td><td>am</td><td>03.04.2003</td>
     <td>2004</td><td>am</td><td>29.03.2004</td></tr>
 <tr><td>2005</td><td>am</td><td>01.04.2005</td>
     <td>2006</td><td>am</td><td>19.04.2006</td></tr>
 <tr><td>2007</td><td>am</td><td>09.03.2007</td>
     <td>2008</td><td>am</td><td>09.03.2008</td></tr>
 <tr><td>2009</td><td>am</td><td>02.04.2009</td>
     <td>2010</td><td>am</td><td>05.04.2010</td></tr>
 <tr><td>2011</td><td>am</td><td>01.04.2011</td>
     <td>2012</td><td>am</td><td>20.03.2012</td></tr>
 <tr><td>2013</td><td>am</td><td>21.03.2013</td>
     <td>2014</td><td>am</td><td>10.03.2014</td></tr>
 <tr><td>2015</td><td>am</td><td>19.03.2015</td>
     <td>2016</td><td>am</td><td>24.03.2016</td></tr>
 <tr><td>2017</td><td>am</td><td>26.03.2017</td>
     <td>2018</td><td>am</td><td>09.04.2018</td></tr> 
 <tr><td>2019</td><td>am</td><td>14.03.2019</td>
     <td>2020</td><td>am</td><td>05.03.2020</td></tr>
 <tr><td>2021</td><td>am</td><td>28.03.2021</td>
     <td>2022</td><td>am</td><td>&nbsp;</td></tr>
</table>
<p>Sie errechnet sich aus allen positiven Tagesmittelwerten. Im Januar wird dieser Wert mit 0,5 und im Februar mit 0,75 multipliziert.<br />
Ab März der volle positive Tageswert. Wird die Marke von 200 überschritten, beginnt die nachhaltige Vegetation. <br />
Es werden nur die Werte bis zum 31.Mai berücksichtigt.</p>
<hr />
<table>
 <tr><td><h3>Wärmesumme</h3></td><td><h3>Kältesumme</h3></td></tr>
 <tr><td>
  <table>
   <tr><td colspan="2">01.Juni bis 31.August</td></tr>
   <tr><td>Jahr</td><td>Wärmesumme</td></tr>
   <tr><td style="background-color: #ff4949;">1999</td><td style="background-color: #ff4949;">458,45 K</td></tr>
   <tr><td style="background-color: #ffac4b;">2000</td><td style="background-color: #ffac4b;">165,02 K</td></tr>
   <tr><td style="background-color: #ff4949;">2001</td><td style="background-color: #ff4949;">523,94 K</td></tr>
   <tr><td style="background-color: #ff4949;">2002</td><td style="background-color: #ff4949;">615,46 K</td></tr>      
   <tr><td style="background-color: #ff4949;">2003</td><td style="background-color: #ff4949;">752,46 K</td></tr>
   <tr><td style="background-color: #ff6969;">2004</td><td style="background-color: #ff6969;">310,22 K</td></tr>
   <tr><td style="background-color: #ff6969;">2005</td><td style="background-color: #ff6969;">369,92 K</td></tr>
   <tr><td style="background-color: #ff4949;">2006</td><td style="background-color: #ff4949;">840,40 K</td></tr>
   <tr><td style="background-color: #ff4949;">2007</td><td style="background-color: #ff4949;">417,36 K</td></tr>
   <tr><td style="background-color: #ff6969;">2008</td><td style="background-color: #ff6969;">359,06 K</td></tr>
   <tr><td style="background-color: #ff4949;">2009</td><td style="background-color: #ff4949;">476,57 K</td></tr>
   <tr><td style="background-color: #ff4949;">2010</td><td style="background-color: #ff4949;">597,76 K</td></tr>
   <tr><td style="background-color: #ff8c5f;">2011</td><td style="background-color: #ff8c5f;">228,38 K</td></tr>
   <tr><td style="background-color: #ff8c5f;">2012</td><td style="background-color: #ff8c5f;">226,03 K</td></tr>
   <tr><td style="background-color: #ff4949;">2013</td><td style="background-color: #ff4949;">450,19 K</td></tr>
   <tr><td style="background-color: #ff4949;">2014</td><td style="background-color: #ff4949;">834,17 K</td></tr>
   <tr><td style="background-color: #ff4949;">2015</td><td style="background-color: #ff4949;">736,50 K</td></tr>
   <tr><td style="background-color: #ff4949;">2016</td><td style="background-color: #ff4949;">531,13 K</td></tr>
   <tr><td style="background-color: #ffac4b;">2017</td><td style="background-color: #ffac4b;">146,35 K</td></tr>
   <tr><td style="background-color: #ff4949;">2018</td><td style="background-color: #ff4949;">910,00 K</td></tr>
   <tr><td style="background-color: #ff4949;">2019</td><td style="background-color: #ff4949;">679,92 K</td></tr>
   <tr><td style="background-color: #ff4949;">2020</td><td style="background-color: #ff4949;">506,56 K</td></tr>
   <tr><td style="background-color: #ff4949;">2021</td><td style="background-color: #ff4949;">581,36 K</td></tr>
   <tr><td>2022</td><td></td></tr>
   <tr><td colspan="2">Die Wärmesumme ist ein Indikator für die Klasse eines Sommers.<br />
                     Sie wird von Juni bis August ermittelt.<br />
                     Es werden alle Tagesmittelwerte größer als 20 berücksichtigt. </td>
   </tr>
  </table>
  </td><td>
  <table>
   <tr><td colspan="2">01.November bis 31.März</td></tr>
   <tr><td>Jahre</td><td>Kältesumme</td></tr>
   <tr><td style="background-color: #23ff9e;">ab 01.01.1999</td><td style="background-color: #23ff9e;">48,69 K</td></tr>
   <tr><td style="background-color: #23ff9e;">1999/ 2000</td><td style="background-color: #23ff9e;">26,03 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2000/ 2001</td><td style="background-color: #23ff9e;">78,03 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2001/ 2002</td><td style="background-color: #23ff9e;">52,16 K</td></tr>
   <tr><td style="background-color: #4b84ff;">2002/ 2003</td><td style="background-color: #4b84ff;">197,56 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2003/ 2004</td><td style="background-color: #23ff9e;">72,58 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2004/ 2005</td><td style="background-color: #23ff9e;">61,55 K</td></tr>
   <tr><td style="background-color: #4b84ff;">2005/ 2006</td><td style="background-color: #4b84ff;">158,31 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2006/ 2007</td><td style="background-color: #23ff9e;">17,75 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2007/ 2008</td><td style="background-color: #23ff9e;">27,98 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2008/ 2009</td><td style="background-color: #23ff9e;">72,43 K</td></tr>
   <tr><td style="background-color: rgb(7,206,243);">2009/ 2010</td><td style="background-color: rgb(7,206,243);">245,60 K</td></tr>
   <tr><td style="background-color: rgb(7,206,243);">2010/ 2011</td><td style="background-color: rgb(7,206,243);">228,38 K</td></tr>
   <tr><td style="background-color: #4b84ff;">2011/ 2012</td><td style="background-color: #4b84ff;">122,51 K</td></tr>
   <tr><td style="background-color: #4b84ff;">2012/ 2013</td><td style="background-color: #4b84ff;">170,03 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2013/ 2014</td><td style="background-color: #23ff9e;">60,54 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2014/ 2015</td><td style="background-color: #23ff9e;">26,64 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2015/ 2016</td><td style="background-color: #23ff9e;">68,08 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2016/ 2017</td><td style="background-color: #23ff9e;">76,28 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2017/ 2018</td><td style="background-color: #23ff9e;">85,67 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2018/ 2019</td><td style="background-color: #23ff9e;">31,11 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2019/ 2020</td><td style="background-color: #23ff9e;">2,47 K</td></tr>
   <tr><td style="background-color: #23ff9e;">2020/ 2021</td><td style="background-color: #23ff9e;">84,52 K</td></tr>
   <tr><td>2021/ 2022</td><td></td></tr>
   <tr><td colspan="2">Die Kältesumme ist ein Indikator für die Strenge eines Winters.<br />
                     Sie wird von November bis März ermittelt.<br />
                     Es werden alle negativen Tagesmittelwerte berücksichtigt. </td>
   </tr>
  </table>
  </td>
  </tr>
 </table>
    <hr />
 <table>
 <tr><td>
    <table>
     <tr><td style="background-color: #33ff33;">Summe &lt; 100</td>
         <td style="background-color: #33ff33;">nass kalter Sommer</td></tr>
     <tr><td style="background-color: #ffac4b;"> 100 - 200 </td>
         <td style="background-color: #ffac4b;">kühler Sommer</td></tr>
     <tr><td style="background-color: #ff8c5f;"> 200 - 300 </td>
         <td style="background-color: #ff8c5f;">normaler Sommer</td></tr>
     <tr><td style="background-color: #ff6969;"> 300 - 400 </td>
         <td style="background-color: #ff6969;">warmer Sommer</td></tr>
     <tr><td style="background-color: #ff4949;">Summe &gt; 400</td>
         <td style="background-color: #ff4949;">sehr warmer Sommer</td></tr>
    </table>
    </td>
    <td>
    <table>
     <tr><td style="background-color: #23ff9e;">Summe &lt; 100</td>
         <td style="background-color: #23ff9e;">sehr milder Winter</td></tr>
     <tr><td style="background-color: #4b84ff;"> 100 - 200 </td>
         <td style="background-color: #4b84ff;">normaler Winter</td></tr>
     <tr><td style="background-color: rgb(7,206,243);"> 200 - 300 </td>
         <td style="background-color: rgb(7,206,243);">mäßig strenger Winter</td></tr>
     <tr><td style="background-color: rgb(12,107,246);"> 300 - 400 </td>
         <td style="background-color: rgb(12,107,246);">strenger Winter</td></tr>
     <tr><td style="background-color: rgb(70,7,249);">Summe &gt; 400</td>
         <td style="background-color: rgb(70,7,249);">sehr strenger Winter</td></tr>
    </table>
    </td>
   </tr>
 </table>
<hr />
 <h3><a href="temp.html">Temperatur in °C</a></h3>
    #include $Extras.summe

 <h3><a href="rain.html">Regentage</a></h3>
<table>
  <tr>
   <td>in den<br />Jahren</td>
   <td style="background-color: #FF4949;">Regentage</td>
   <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td style="background-color: #FF8C5F;">Tage mit &gt;= 3 mm</td>
   <td style="background-color: #FFAC4B;">Tage mit &gt;= 5 mm</td>
   <td style="background-color: #33FF33;">Tage mit &gt;= 10 mm</td>
   <td style="background-color: #23FF9E;">Tage mit &gt;= 20 mm</td>
   <td style="background-color: #4B84FF;">Tage mit &gt;= 30 mm</td>
  </tr>
#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      <td style="background-color: #FF4949;">$year.rain.sum_ge((0.1, "mm", "group_rain")).format("%.0f")</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td style="background-color: #FF8C5F;">$year.rain.sum_ge((3, "mm", "group_rain")).format("%.0f")</td>
      <td style="background-color: #FFAC4B;">$year.rain.sum_ge((5, "mm", "group_rain")).format("%.0f")</td>
      <td style="background-color: #33FF33;">$year.rain.sum_ge((10, "mm", "group_rain")).format("%.0f")</td>
      <td style="background-color: #23FF9E;">$year.rain.sum_ge((20, "mm", "group_rain")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.rain.sum_ge((30, "mm", "group_rain")).format("%.0f")</td>
   </tr>
#end for
</table>
<hr />
<h3><a href="wind.html">Wind in km/h</a></h3>
<table>
    <tr>
     <td>in den <br /> Jahren</td>
     <td style="background-color: #FF4949;">Windstill        <br /> 0</td>
     <td style="background-color: #FF6969;">leiser Zug       <br /> 1</td>
     <td style="background-color: #FF8C5F;">leiche Briese    <br /> 2</td>
     <td style="background-color: #FFAC4B;">schwache Briese  <br /> 3</td>
     <td style="background-color: #33FF33;">mäßige Briese    <br /> 4</td>
     <td style="background-color: #23FF9E;">frische Briese   <br /> 5</td>
     <td style="background-color: #4B84FF;">starker Wind     <br /> 6</td>
     <td style="background-color: #4B84FF;">steifer Wind     <br /> 7</td>
     <td style="background-color: #4B84FF;">stürmischer Wind <br /> 8</td>
     <td style="background-color: #4B84FF;"> Sturm            <br /> 9</td>
     <td style="background-color: #4B84FF;">schwerer Sturm   <br /> 10</td>
     <td style="background-color: #4B84FF;">orkanartiger Sturm<br /> 11</td>
     <td style="background-color: #4B84FF;"> Orkan             <br /> 12</td>
    </tr>
#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      <td style="background-color: #FF4949;">$year.windSpeed.max_le((5, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #FF6969;">$year.windSpeed.max_ge((5, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #FF8C5F;">$year.windSpeed.max_ge((11, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #FFAC4B;">$year.windSpeed.max_ge((19, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #33FF33;">$year.windSpeed.max_ge((28, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #23FF9E;">$year.windSpeed.max_ge((38, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windSpeed.max_ge((49, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windSpeed.max_ge((61, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windSpeed.max_ge((74, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windSpeed.max_ge((88, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windSpeed.max_ge((102, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windSpeed.max_ge((117, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windSpeed.max_ge((300, "km_per_hour", "group_speed")).format("%.0f")</td>
   </tr>
#end for
</table>
<hr />
<h3><a href="wind.html">Böen in km/h</a></h3>
<table>
    <tr>
     <td>in den <br /> Jahren</td>
     <td style="background-color: #FF4949;">Windstill        <br /> 0</td>
     <td style="background-color: #FF6969;">leiser Zug       <br /> 1</td>
     <td style="background-color: #FF8C5F;">leiche Briese    <br /> 2</td>
     <td style="background-color: #FFAC4B;">schwache Briese  <br /> 3</td>
     <td style="background-color: #33FF33;">mäßige Briese    <br /> 4</td>
     <td style="background-color: #23FF9E;">frische Briese   <br /> 5</td>
     <td style="background-color: #4B84FF;">starker Wind     <br /> 6</td>
     <td style="background-color: #4B84FF;">steifer Wind     <br /> 7</td>
     <td style="background-color: #4B84FF;">stürmischer Wind <br /> 8</td>
     <td style="background-color: #4B84FF;"> Sturm            <br /> 9</td>
     <td style="background-color: #4B84FF;">schwerer Sturm   <br /> 10</td>
     <td style="background-color: #4B84FF;">orkanartiger Sturm<br /> 11</td>
     <td style="background-color: #4B84FF;"> Orkan             <br /> 12</td>
    </tr>
#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      <td style="background-color: #FF4949;">$year.windGust.max_le((5, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #FF6969;">$year.windGust.max_ge((5, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #FF8C5F;">$year.windGust.max_ge((11, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #FFAC4B;">$year.windGust.max_ge((19, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #33FF33;">$year.windGust.max_ge((28, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #23FF9E;">$year.windGust.max_ge((38, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windGust.max_ge((49, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windGust.max_ge((61, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windGust.max_ge((74, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windGust.max_ge((88, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windGust.max_ge((102, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windGust.max_ge((117, "km_per_hour", "group_speed")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.windGust.max_ge((300, "km_per_hour", "group_speed")).format("%.0f")</td>
   </tr>
#end for
</table>
<hr />
 <h3><a href="sola.html">Sonnenschein in W/m²</a></h3>
<table>
  <tr>
   <td>in den<br />Jahren</td>
   <td style="background-color: #FF4949;">Radiation</td>
   <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td style="background-color: #FF8C5F;">Tage mit &gt;= 200 W/m²</td>
   <td style="background-color: #FFAC4B;">Tage mit &gt;= 400 W/m²</td>
   <td style="background-color: #33FF33;">Tage mit &gt;= 600 W/m²</td>
   <td style="background-color: #23FF9E;">Tage mit &gt;= 800 W/m²</td>
   <td style="background-color: #4B84FF;">Tage mit &gt;= 1000 W/m²</td>
  </tr>
#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      <td style="background-color: #FF4949;">$year.radiation.sum.formatted</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td style="background-color: #FF8C5F;">$year.radiation.max_ge((200, "watt_per_meter_squared", "group_radiation")).format("%.0f")</td>
      <td style="background-color: #FFAC4B;">$year.radiation.max_ge((400, "watt_per_meter_squared", "group_radiation")).format("%.0f")</td>
      <td style="background-color: #33FF33;">$year.radiation.max_ge((600, "watt_per_meter_squared", "group_radiation")).format("%.0f")</td>
      <td style="background-color: #23FF9E;">$year.radiation.max_ge((800, "watt_per_meter_squared", "group_radiation")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.radiation.max_ge((1000, "watt_per_meter_squared", "group_radiation")).format("%.0f")</td>
   </tr>
#end for
</table>
<hr />

     <h3> Verschiedene Auswertungen</h3>
     <div class="navbar">
      <input type="button" value=" Woche mit Tageswerten " onclick="openURL('week-table.html')" />
      <input type="button" value=" Monat mit Tageswerten " onclick="openURL('month-table.html')" />
      <input type="button" value=" Jahr mit Monatswerten " onclick="openURL('year-table.html')" />
     </div>
     <p>NOAA - Dateien
      <select NAME=noaaselect onchange="openNoaaFile(value)">
      #for $monthYear in $SummaryByMonth
          <option value="$monthYear">$monthYear</option>
      #end for
          <option selected>- Monat -</option>
      </select>
      &#8656;&nbsp;Auswahl:&nbsp;&#8658;
      <select NAME=noaaselect onchange="openNoaaFile(value)">
      #for $yr in $SummaryByYear
          <option value="$yr">$yr</option>
      #end for
          <option selected>- Jahr -</option>
      </select>
     </p>
     <p>Messwerte als Monatsübersichten per
     &#8658;&nbsp;Auswahl:
     <select NAME=archivselect onchange="openArchivFile(value)">
     #for $monthYear in $SummaryByMonth
         <option value="$monthYear">$monthYear</option>
     #end for
         <option selected>- Jahr-Monat -</option>
     </select>
     </p>
     <hr />
     <img src="xicons/wet/vantage.jpg" alt="Wetterstation" style="width:320px; height:340px;" />
     <img src="xicons/wet/snapshot.jpg" alt="WetterBild" style="width:480px; height:340px;" />
   </div> <!-- end id "about" -->
  </div>  <!-- end id "content" -->
<!-- </div> -->

  #include $Extras.footer

</div>
</body>

</html>
