#errorCatcher Echo
## Standard for weewx - Copyright 2012-2013 Matthew Wall
## alltime.html.tmpl 743 2013-12-22 23:24:18Z mwall $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location Allzeit Rekorde</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type='text/javascript' src='js/hesweewx.js'></script>

  </head>

<body>
<button onclick="topFunction()" id="hesBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("hesBtn").style.display = "block";
    } else {
        document.getElementById("hesBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
 <div id="hes11"> 
    #include $Extras.header
   <div id="stats_group">
    #set global $period1 = $yesterday
    #set global $period2 = $day
    #set global $period1Name = "Gestern"
    #set global $period2Name = "Heute"

    #include $Extras.chart
   </div> <!--End class "stats_group" -->  

 <div id="content">        
   <div id="about">
    <div class="header">Allzeit Rekorde</div>
       <p>&nbsp;</p>

          <table id='all'>
            <tbody>
              <tr>
               <td class="allstats_data">Messwerte</td>
               <td class="allstats_data">Max</td>
               <td class="allstats_datak">Min</td>
              </tr>
              <tr>
                <td class="allstats_label"> Temperatur </td>
                <td class="allstats_data"> $alltime.outTemp.max <br /> ($alltime.outTemp.maxtime) </td>
                <td class="allstats_datak"> $alltime.outTemp.min <br /> ($alltime.outTemp.mintime) </td>
              </tr>
              <tr>
                <td class="allstats_label"> Hitzeindex <br /></td>
                <td class="allstats_data"> $alltime.heatindex.max <br /> ($alltime.heatindex.maxtime) </td>
                <td rowspan='2'></td>
              </tr>
              <tr>
                <td class="allstats_label"> Windchill </td>
                <td class="allstats_datak"> $alltime.windchill.min <br /> ($alltime.windchill.mintime) </td>
              </tr>
              <tr>
                <td class="allstats_label">Taupunkt</td>
                <td class="allstats_data"> $alltime.dewpoint.max <br /> ($alltime.dewpoint.maxtime) </td>
                <td class="allstats_datak"> $alltime.dewpoint.min <br /> ($alltime.dewpoint.mintime) </td>
              </tr>
              <tr>
                <td class="allstats_label">Luftfeuchte</td>
                <td class="allstats_data"> $alltime.outHumidity.max <br /> ($alltime.outHumidity.maxtime) </td>
                <td class="allstats_datak"> $alltime.outHumidity.min <br /> ($alltime.outHumidity.mintime) </td>
              </tr>
              <tr>
                <td class="allstats_label">Luftdruck</td>
                <td class="allstats_data"> $alltime.barometer.max <br /> ($alltime.barometer.maxtime) </td>
                <td class="allstats_datak"> $alltime.barometer.min <br /> ($alltime.barometer.mintime) </td>
              </tr>
              <tr>
                <td class="allstats_label">Luftdichte</td>
                <td class="allstats_data"> $alltime.airDensity.max <br /> ($alltime.airDensity.maxtime) </td>
                <td class="allstats_datak"> $alltime.airDensity.min <br /> ($alltime.airDensity.mintime) </td>
              </tr>
              <tr>
                <td class="allstats_label">Winddruck</td>
                <td class="allstats_data"> $alltime.windDruck.max <br /> ($alltime.windDruck.maxtime) </td>
                <td rowspan='7'></td>
              </tr>
              <tr>
                <td class="allstats_label">Windgeschwindigkeit</td>
                <td class="allstats_data">$alltime.windSpeed.max<br /> ($alltime.windSpeed.maxtime)</td>
              </tr>
              <tr>
                <td class="allstats_label">Wind-Böen</td>
                <td class="allstats_data">$alltime.windGust.max<br /> ($alltime.windGust.maxtime)</td>
              </tr>
              <tr>
                <td class="allstats_label">Wind Beaufort</td>
                <td class="allstats_data">$alltime.beaufort.max<br />($alltime.beaufort.maxtime)</td>
                <!-- <td></td>-->
              </tr>
              <tr>
                <td class="allstats_label">Niederschlag</td>
                <td class="allstats_data">$alltime.rain.max<br /> ($alltime.rain.maxtime)</td>
                <!-- <td></td>-->
              </tr>
              <tr>
                <td class="allstats_label">Niederschlagsmenge</td>
                <td class="allstats_data"> $alltime.rainRate.max <br /> ($alltime.rainRate.maxtime) </td>
                <!-- <td></td> -->
              </tr>
              <tr>
                <td class="allstats_label">Schneehöhe</td>
                <td class="allstats_data"> $alltime.snow.max <br /> ($alltime.snow.maxtime) </td>
                <!-- <td></td> -->
              </tr>
              <tr><td class="allstats_label">Wassertemperatur</td>
                  <td class="allstats_data">Max</td>
                  <td class="allstats_datak">Min</td>
              </tr>
              #if $day.extraTemp1.has_data
              <tr>
                <td class="allstats_label">Teich 0,75 m³ bei 20 cm Tiefe</td>
                <td class="allstats_data"> $alltime.extraTemp1.max <br /> ($alltime.extraTemp1.maxtime) </td>
                <td class="allstats_datak"> $alltime.extraTemp1.min <br /> ($alltime.extraTemp1.mintime) </td>
              </tr>
             #end if
             #if $day.extraTemp2.has_data
              <tr>
                <td class="allstats_label">Teich 96 m³ bei 50 cm Tiefe</td>
                <td class="allstats_data"> $alltime.extraTemp2.max <br /> ($alltime.extraTemp2.maxtime) </td>
                <td class="allstats_datak"> $alltime.extraTemp2.min <br /> ($alltime.extraTemp2.mintime) </td>
              </tr>
             #end if
             #if $day.extraTemp3.has_data
              <tr>
                <td class="allstats_label">Teich 96 m³ bei 180 cm Tiefe</td>
                <td class="allstats_data"> $alltime.extraTemp3.max <br /> ($alltime.extraTemp3.maxtime) </td>
                <td class="allstats_datak"> $alltime.extraTemp3.min <br /> ($alltime.extraTemp3.mintime) </td>
              </tr>
             #end if
             #if $day.extraTemp6.has_data
              <tr>
                <td class="allstats_label">Teich 22 m³ bei 50 cm Tiefe</td>
                <td class="allstats_data"> $alltime.extraTemp6.max <br /> ($alltime.extraTemp6.maxtime) </td>
                <td class="allstats_datak"> $alltime.extraTemp6.min <br /> ($alltime.extraTemp6.mintime) </td>
              </tr>
             #end if
              <tr><td class="allstats_label">Luft</td>
                  <td class="allstats_data">Max</td>
                  <td class="allstats_datak">Min</td>
              </tr> 
             #if $day.extraTemp4.has_data
              <tr>
                <td class="allstats_label">Garten/ Carport Temperatur in 2 m</td>
                <td class="allstats_data"> $alltime.extraTemp4.max <br /> ($alltime.extraTemp4.maxtime) </td>
                <td class="allstats_datak"> $alltime.extraTemp4.min <br /> ($alltime.extraTemp4.mintime) </td>
              </tr>
             #end if
             #if $day.extraTemp7.has_data
              <tr>
                <td class="allstats_label">über Boden Temperatur in 1 m Höhe</td>
                <td class="allstats_data"> $alltime.extraTemp7.max <br /> ($alltime.extraTemp7.maxtime) </td>
                <td class="allstats_datak"> $alltime.extraTemp7.min <br /> ($alltime.extraTemp7.mintime) </td>
              </tr>
             #end if
             #if $day.extraTemp5.has_data
              <tr>
                <td class="allstats_label">über Boden Temperatur in 5 cm Höhe</td>
                <td class="allstats_data"> $alltime.extraTemp5.max <br /> ($alltime.extraTemp5.maxtime) </td>
                <td class="allstats_datak"> $alltime.extraTemp5.min <br /> ($alltime.extraTemp5.mintime) </td>
              </tr>
             #end if
              <tr> 
                <td class="allstats_label">Strahlung</td>
                <td class="allstats_data">Max</td>
                <td class="allstats_datak">Min</td>
              </tr>
             #if $day.lighting.has_data
              <tr>
                <td class="allstats_label">Beleuchtungsstärke</td>
                <td class="allstats_data"> $alltime.lighting.max <br /> ($alltime.lighting.maxtime) </td>
                <td> </td>
              </tr>
             #end if
             #if $day.UV.has_data
              <tr>
                <td class="allstats_label">UV</td>
                <td class="allstats_data"> $alltime.UV.max 
                                   <br /> ($alltime.UV.maxtime) </td><td></td>
              </tr>
             #end if
             #if $day.ET.has_data and $day.ET.sum.raw > 0.0
              <tr>
                <td class="allstats_label">ET Verdunstung</td>
                <td class="allstats_data"> $alltime.ET.max <br /> ($alltime.ET.maxtime) </td><td></td>
              </tr>
             #end if
             #if $day.radiation.has_data
              <tr>
                <td class="allstats_label">Globalstrahlung</td>
                <td class="allstats_data"> $alltime.radiation.max <br /> ($alltime.radiation.maxtime) </td><td></td>
              </tr>
             #end if
              <tr><td class="allstats_label">1-Wire OWFS Boden</td>
                  <td class="allstats_data">Max</td>
                  <td class="allstats_datak">Min</td>
              </tr>
             #if $day.soilTempO1.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 5 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTempO1.max <br /> ($alltime.soilTempO1.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTempO1.min <br /> ($alltime.soilTempO1.mintime) </td>
              </tr>
             #end if
             #if $day.soilTempO2.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 10 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTempO2.max <br /> ($alltime.soilTempO2.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTempO2.min <br /> ($alltime.soilTempO2.mintime) </td>
              </tr>
             #end if
             #if $day.soilTempO3.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 20 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTempO3.max <br /> ($alltime.soilTempO3.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTempO3.min <br /> ($alltime.soilTempO3.mintime) </td>
              </tr>
             #end if
             #if $day.soilTempO4.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 50 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTempO4.max <br /> ($alltime.soilTempO4.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTempO4.min <br /> ($alltime.soilTempO4.mintime) </td>
              </tr>
             #end if
             #if $day.soilTempO5.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 100 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTempO5.max <br /> ($alltime.soilTempO5.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTempO5.min <br /> ($alltime.soilTempO5.mintime) </td>
              </tr>
             #end if
            #if $day.soilTemp1.has_data
              <tr><td class="allstats_label">Davis Boden</td>
                  <td class="allstats_data">Max</td>
                  <td class="allstats_datak">Min</td>
              </tr>
             #if $day.soilTemp1.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 5 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTemp1.max <br /> ($alltime.soilTemp1.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTemp1.min <br /> ($alltime.soilTemp1.mintime) </td>
              </tr>
             #end if
             #if $day.soilTemp2.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 10 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTemp2.max <br /> ($alltime.soilTemp2.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTemp2.min <br /> ($alltime.soilTemp2.mintime) </td>
              </tr>
             #end if
             #if $day.soilTemp3.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 20 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTemp3.max <br /> ($alltime.soilTemp3.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTemp3.min <br /> ($alltime.soilTemp3.mintime) </td>
              </tr>
             #end if
             #if $day.soilTemp4.has_data
              <tr>
                <td class="allstats_label">Bodentemperatur in 50 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilTemp4.max <br /> ($alltime.soilTemp4.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilTemp4.min <br /> ($alltime.soilTemp4.mintime) </td>
              </tr>
             #end if

             #if $day.soilMoist1.has_data
              <tr>
                <td class="allstats_label">Bodenfeuchte in 5 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilMoist1.max <br /> ($alltime.soilMoist1.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilMoist1.min <br /> ($alltime.soilMoist1.mintime) </td>
              </tr>
             #end if
             #if $day.soilMoist2.has_data
              <tr>
                <td class="allstats_label">Bodenfeuchte in 10 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilMoist2.max <br /> ($alltime.soilMoist2.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilMoist2.min <br /> ($alltime.soilMoist2.mintime) </td>
              </tr>
             #end if
             #if $day.soilMoist3.has_data
              <tr>
                <td class="allstats_label">Bodenfeuchte in 20 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilMoist3.max <br /> ($alltime.soilMoist3.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilMoist3.min <br /> ($alltime.soilMoist3.mintime) </td>
              </tr>
             #end if
             #if $day.soilMoist4.has_data
              <tr>
                <td class="allstats_label">Bodenfeuchte in 50 cm Tiefe</td>
                <td class="allstats_data"> $alltime.soilMoist4.max <br /> ($alltime.soilMoist4.maxtime) </td>
                <td class="allstats_datak"> $alltime.soilMoist4.min <br /> ($alltime.soilMoist4.mintime) </td>
              </tr>
             #end if
          #end if
        <!-- Innen -->
              <tr><td class="allstats_label">B&uuml;ro</td>
                  <td class="allstats_data">Max</td>
                  <td class="allstats_datak">Min</td>
              </tr>
              <tr>
                <td class="allstats_label"> Temperatur (innen) </td>
                <td class="allstats_data"> $alltime.inTemp.max <br /> ($alltime.inTemp.maxtime)</td>
                <td class="allstats_datak"> $alltime.inTemp.min <br /> ($alltime.inTemp.mintime)</td>
              </tr>
              <tr>
                <td class="allstats_label"> Luftfeuchte (innen) </td>
                <td class="allstats_data"> $alltime.inHumidity.max <br /> ($alltime.inHumidity.maxtime)</td>
                <td class="allstats_datak"> $alltime.inHumidity.min <br /> ($alltime.inHumidity.mintime)</td>
              </tr>
              <tr>
                <td class="allstats_label"> Taupunkt (innen) </td>
                <td class="allstats_data"> $alltime.inDewpoint.max <br /> ($alltime.inDewpoint.maxtime)</td>
                <td class="allstats_datak"> $alltime.inDewpoint.min <br /> ($alltime.inDewpoint.mintime)</td>
              </tr>
              <tr><td>Berechnete Werte</td><td>Max</td><td>Min</td></tr>
              <tr>
                <td class="allstats_label"> Maximale Globalstrahlung </td>
                <td class="allstats_data"> $alltime.maxSolarRad.max <br /> ($alltime.maxSolarRad.maxtime)</td>
                <td class="allstats_datak"> &nbsp; <br /> &nbsp;</td>
              </tr>
              <tr>
                <td class="allstats_label">Wolkenhöhe </td>
                <td class="allstats_data"> $alltime.cloudbase.max <br /> ($alltime.cloudbase.maxtime)</td>
                <td class="allstats_datak"> &nbsp; <br /> &nbsp;</td>
              </tr>
              <tr>
                <td class="allstats_label">Wind - Weg </td>
                <td class="allstats_data"> $alltime.windrun.max <br /> ($alltime.windrun.maxtime)</td>
                <td class="allstats_datak"> &nbsp; </td>
              </tr>
              <tr>
                <td class="allstats_label">Feuchte Index </td>
                <td class="allstats_data"> $alltime.humidex.max <br /> ($alltime.humidex.maxtime)</td>
                <td class="allstats_datak"> $alltime.humidex.min <br /> ($alltime.humidex.mintime)</td>
              </tr>
              <tr>
                <td class="allstats_label">Scheinbare Temperatur </td>
                <td class="allstats_data"> $alltime.appTemp.max <br /> ($alltime.appTemp.maxtime)</td>
                <td class="allstats_datak"> $alltime.appTemp.min <br /> ($alltime.appTemp.mintime)</td>
              </tr>

            </tbody>
          </table>
        </div>
        <p>&nbsp;</p>
   </div> <!-- end id "about" -->
  <!-- /div>  end id "content" -->
<!-- </div> -->

  #include $Extras.footer

</div>

#include $Extras.cookie

</body>

</html>
