## forecastkr.html.tmpl 674 2015-10-12 03:48:37Z hes mwall $
#errorCatcher Echo
#encoding UTF-8
<!doctype html>
<html lang="de">
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <title>$station.location Vorschau</title>
    <link rel='stylesheet' type='text/css' href='css/hesweewx.css'/>
    <link rel='icon' type='image/png' href='favicon.ico' />
    <!-- <script type='text/javascript' src='exfoliation.js'></script> -->
    <script type='text/javascript' src='js/hesweewx.js'></script>
    <script>
      window.onload = function() { applypopups(); }
    </script>
    <script type='text/javascript'>
function toggle(control, id) {
  elem = document.getElementById(id + '.hours');
  if(elem) {
    if(elem.style.display != 'none') {
      elem.style.display = 'none';
      control.src = 'xicons/triangle-right.png'
    } else {
      elem.style.display = 'inline';
      control.src = 'xicons/triangle-down.png'
    }
  }
}
   </script>
  </head>

<body>
<div id="hes11">

  <div id="container">
   
    #include $Extras.header
            
   <div id="stats_group">

    #include $Extras.current

  </div> <!--End class "stats_group" -->

   <div id="content">
      <div id="about">
         <div class="header">
            Vorschaudaten für Station Klein Rogahn
         </div>
      </div> 
<p> 
<iframe style="border: 0; height: 1300px; width: 880px;" src="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=53.60595322,11.34121609&sp=IMECKLEN20"></iframe>
</p>
</div><!-- Ende containt -->
</div>

    #include $Extras.footer

</div>
#include $Extras.cookie
</body>

</html>
