#errorCatcher Echo
## Standard for weewx - Copyright 2012-2013 Matthew Wall
## $Id: index.html.tmpl 743 2013-12-22 23:24:18Z mwall $
#encoding UTF-8
<!DOCTYPE html>
<html lang="de">
 <head>
     <meta charset="utf-8"> 
     <meta name='viewport' content='width=device-width' />
     <meta name="robots" content="all" />
     <meta name="keywords" content="weather, Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
     <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim 
                 mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
     <meta name="author"           content="Hartmut Schweidler" />
     <meta name="revisit-after"    content="5 minutes" />

     <!--  <meta name="ICBM" content="53.605963, 11.341407" />
     <meta name="geo.position" contant="53.605963, 11.341407" /> -->

      <script>
         document.createElement("header");
         document.createElement("nav");
         document.createElement("section");
         document.createElement("footer");
      </script>

     <title>$station.location Aktuelles Wetter</title>

     <link rel='stylesheet' type='text/css' href='css/hesweewx.css' />

     <link rel='icon' type='image/png' href='favicon.ico' />
     <script src='js/hesweewx.js'></script>
     <script>
       window.onload = function() { applypopups(); }
     </script>
 </head>

<body>
 <div id='hes11'>
#set $windT_dir_dict = {"N" : "Nord", "NNE" : "Nordnordost", "NE" : "Nordost", "ENE" : "Ostnordost", "E" : "Ost", "ESE" : "Ostsüdost", "SE" : "Südost", "SSE" : "Südsüdost", "S" : "Süd", "SSW" : "Südsüdwest", "SW" : "Südwest", "WSW" : "Westsüdwest", "W" : "West", "WNW" : "Westnordwest", "NW" : "Nordwest", "NNW" : "Nordnordwest"}


#include $Extras.header
#include $Extras.cwarn

#set $summary = $forecast.weather_summary('WU')
#set $dd = $forecast.label('Weather', $summary.windDir)
#set $wind_text = $windT_dir_dict.get($dd)

#set $sunrise_ts = $almanac.sun.rise.raw
#set $sunset_ts = $almanac.sun.set.raw
#set $daylight_s = $sunset_ts - $sunrise_ts
#set $daylight_hours = int($daylight_s / 3600)
#set $daylight_minutes = int(($daylight_s % 3600) / 60)
#set $daylight_h_str = "%02d" % $daylight_hours
#set $daylight_m_str = "%02d" % $daylight_minutes

<div id='hescontainer'><section>
 <div id='popupanchor' style='float:left'></div>

<div class='hes'>
 <div class='hesbox'>
  <table class="hes_prog">
   <tr>
    <td class='hes1_wol'>
    #if $summary.clouds is not None
        #set $simg = 'xicons/' + $summary.clouds + '.png'
        <a href='forecastT.html'>
        <img src='$simg' alt='$summary.clouds' title='$forecast.label('Weather', $summary.clouds)' /></a>
    #end if
    </td>
    <td class='hes1_wol'>
    #for $k in $summary.precip
        #set $precip_img = 'xicons/' + $k + '.png'
        <img class='precip-img' src='$precip_img' alt='$k' title='$forecast.label('Weather', $k)' /><br/>
    #end for
    </td>
    <td class='hes1_wol'>
    #for $k in $summary.obvis
         #set $obvis_img = 'xicons/' + $k + '.png'
         <img class='obvis-img' src='$obvis_img' alt='$k' title='$forecast.label('Weather', $k)' /><br/>
    #end for
    </td>
   </tr>
  </table>
  <p><b>Zambretti:</b>&nbsp;$forecast.label('Zambretti', $forecast.zambretti.code)<br />
   Prognose erstellt am:&nbsp;$forecast.label('Zambretti', $forecast.zambretti.event_ts.format('%d. %B %Y'))</p>
  <hr />
    #set $VPn = $latest($data_binding='wdsupp_binding').vantageForecastNumber.raw
    #set $VPn = int($VPn)
    #set $VPn = str($VPn)
    #if $current.outTemp.raw < 0
        #set $VPnumber = 'xicons/VPnumbers/' + $VPn + 's.gif'
    #else
        #set $VPnumber = 'xicons/VPnumbers/' + $VPn + '.gif'
    #end if
   <p><img alt="Wetter" src="$VPnumber" /><br>
   <b>VantagePro 2:</b> $latest($data_binding='wdsupp_binding').vantageForecastRule.raw</p>
  <hr />
#if $Extras.has_key('forecast_enabled') and $Extras.forecast_enabled == '1'
  <p>
    $current_obs_icon <br />
    $current_obs_summary <br />
    <b>DarkSky:</b><br>
    Prognose erstellt am: $forecast_updated <br>
    Temperatur: $current_temp$unit.label.outTemp : gefühlt: $current_apptemp$unit.label.outTemp<br>
    Windgeschwindigkeit: $current_wind$unit.label.windSpeed<br>
   Sichtweite: $visibility&nbsp;$visibility_unit 
  </p>
  <hr />
#end if
  <p>Wind heute meist aus&nbsp;<b>$wind_text</b></p>
  <hr />
  <h3>Wetter Kamera Richtung SW</h3>
   <a href="xicons/wet/snapshot.jpg">
   <img src="xicons/wet/snapshot.jpg" width="300" height="180" alt="Wetter aktuell" /></a>
   <hr />
   #if $latest($data_binding='wdsupp_binding').visibility_km.raw > 0.0
     <p>WU-Sichtweite ca.: $latest($data_binding='wdsupp_binding').visibility_km</p>
   #else 
     <p>&nbsp;</p>
   #end if
   <hr />
   <img src="daySonne.png" alt="Sonnenstand" style="width:300px; height:175px;" />
 </div>
</div>

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>Temperatur</td><td class='hes1_kopf' colspan='2'>Aktuell</td>
       <td class='hes1_kopf' colspan="2">Trend</td></tr>
   <tr>
     <td class='hes1_bigval' style="$decorator_color('tempO', $current.outTemp.raw)"></td>
     <td class='hes1_bigval' colspan='2'><a href='daytemp.png' class='popup'>$current.outTemp</a></td>

 #if $trend.outTemp.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class="hes1_vallo">$trend.outTemp</td>
 #elif $trend.outTemp.raw == 0
        <td class="hes1_trendhi"><b>=</b></td>
        <td class="hes1_valhi">$trend.outTemp</td>
 #elif $trend.outTemp.raw > 0
        <td class="hes1_trendhi"> &#8679;</td>
        <td class="hes1_valhi">$trend.outTemp</td>
 #end if
    </tr>
 #if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.tempMax</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'> $summary.tempMin</span></td>
    </tr>
 #end if
   </table>
    <hr />
    <img src="daytempklein.png" alt="Temperatur" />
 </div>
</div> <!-- end Temperatur -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
#if $current.outTemp.raw < 10.1
    <tr>
     <td class='hes1_kopfa'>Windchill</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' style="$decorator_color('chill_C', $current.windchill.raw)"></td>
     <td class='hes1_bigval' colspan='2' ><a href='daywindchill.png' class='popup'>$current.windchill</a></td>

    #if $trend.windchill.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class="hes1_vallo">$trend.windchill</td>
    #elif $trend.windchill.raw == 0
        <td class="hes1_trendhi"><b>=</b></td>
        <td class="hes1_valhi">$trend.windchill</td>
    #elif $trend.windchill.raw > 0
        <td class="hes1_trendhi"> &#8679;</td>
        <td class="hes1_valhi">$trend.windchill</td>
    #end if
    </tr>  
#elif $current.outTemp.raw > 26.67
    <tr>
     <td class='hes1_kopfa'>Hitzeindex</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' style="$decorator_color('heatindex', $current.heatindex.raw)"></td>
     <td class='hes1_bigval' colspan='2' ><a href='dayheatindex.png' class='popup'>$current.heatindex</a></td>

    #if $trend.heatindex.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class="hes1_vallo">$trend.heatindex</td>
    #elif $trend.heatindex.raw == 0
       <td class="hes1_trendhi"><b>=</b></td>
       <td class="hes1_valhi">$trend.heatindex</td>
    #elif $trend.heatindex.raw > 0
       <td class="hes1_trendhi"> &#8679;</td>
       <td class="hes1_valhi">$trend.heatindex</td>
    #end if
    </tr>
#else
    <tr>
     <td class='hes1_kopfa'>gefühlt</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' style="$decorator_color('temphes', $current.appTemp.raw)"></td>
     <td class='hes1_bigval' colspan='2' ><a href='dayapptemp.png' class='popup'>$current.appTemp</a></td>

    #if $trend.appTemp.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class="hes1_vallo">$trend.appTemp</td>
    #elif $trend.appTemp.raw == 0
       <td class="hes1_trendhi"><b>=</b></td>
       <td class="hes1_valhi">$trend.appTemp</td>
    #elif $trend.appTemp.raw > 0
       <td class="hes1_trendhi"> &#8679;</td>
       <td class="hes1_valhi">$trend.appTemp</td>
    #end if
    </tr>
#end if
    #if $varExists('forecast')
     <tr>
      <td><span class='hes1_m'>Tagesprognose</span></td>
      <td><span class='hes1_m'>max</span></td>
      <td><span class='temphi'>$summary.feelslikeMax</span></td>
      <td><span class="hes1_m">min</span></td>
      <td><span class='templo'>$summary.feelslikeMin</span></td>
     </tr>
    #end if
  </table>
    <hr />
#if $current.outTemp.raw < 10.1
   <img src="daychillklein.png" alt="Windchill" />
#elif $current.outTemp.raw > 26.67
   <img src="dayheatklein.png" alt="HitzeIndex" />
#else
   <img src="dayappklein.png" alt="app Temp" />
#end if
 </div>
</div> <!-- end Windchill  Hitzeindex appTemp -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>Taupunkt</td><td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
        <td class='hes1_bigval' colspan='3'><a href='daydewpoint.png' class='popup'>$current.dewpoint</a></td>
    #if $trend.dewpoint.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class='hes1_vallo'>$trend.dewpoint</td>
    #elif $trend.dewpoint.raw == 0
        <td class="hes1_trendhi"><b>=</b></td>
        <td class="hes1_valhi">$trend.dewpoint</td>
    #elif $trend.dewpoint.raw > 0
        <td class="hes1_trendhi"> &#8679;</td>
        <td class='hes1_valhi'>$trend.dewpoint</td>
    #end if
    </tr>
#if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.dewpointMax</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'> $summary.dewpointMin</span></td>
    </tr>
#end if
   </table>
    <hr />
    <img src="daydewklein.png" alt="Taupunkt" />
  </div>
</div> <!-- ende Taupunkt -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_ludru'>
    <tr>
     <td class='hes1_kopfa'>Luftdruck</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='daybarometer.png' class='popup'>$current.barometer</a></td>
     
<!-- note: these thresholds are for millibar, not inHg -->
#if $varExists('trend')
#if $trend.barometer.raw is not None:
#if $trend.barometer.raw > 6
       <td class='hes1_trendhi'>&#8679;&#8679;&#8679;</td>
       <td class='hes1_valhi'>$trend.barometer</td>
#elif $trend.barometer.raw > 3
       <td class='hes1_trendhi'>&#8679;&#8679;</td>
       <td class='hes1_valhi'>$trend.barometer</td>
#elif $trend.barometer.raw > 0.5
       <td class='hes1_trendhi'>&#8679;</td>
       <td class='hes1_valhi'>$trend.barometer</td>
#elif $trend.barometer.raw < -6
       <td class='hes1_trendlo'>&#8681;&#8681;&#8681;</td>
       <td class='hes1_vallo'>$trend.barometer</td>
#elif $trend.barometer.raw < -3
       <td class='hes1_trendlo'>&#8681;&#8681;</td>
       <td class='hes1_vallo'>$trend.barometer</td>
#elif $trend.barometer.raw < 0.5
       <td class='hes1_trendlo'>&#8681;</td>
       <td class='hes1_vallo'>$trend.barometer</td>
#elif $trend.barometer.raw == 0.0
       <td class='hes1_trendhi'>=</td>
       <td class='hes1_valhi'>$trend.barometer</td>
#end if
#end if
#end if
     </tr>
#if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.barometerMax.formatted</span></td> <!-- summary.barometerMax.formatted -->
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$summary.barometerMin.formatted</span></td>
    </tr> 
#end if 
    </table>
     <hr />
    <img src="daybaroklein.png" alt="Luftdruck" />
 </div>
</div> <!-- luftdruck ende -->

<div class="hes">
 <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>Luftfeuchte</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayhumid.png' class='popup'>$current.outHumidity</a></td>
    #if $trend.outHumidity.raw < 0
     <td class="hes1_trendlo"> &#8681;</td>
     <td class='hes1_vallo'>$trend.outHumidity</td>
    #elif $trend.outHumidity.raw == 0
     <td class="hes1_trendhi"><b>=</b></td>
     <td class="hes1_valhi">$trend.outHumidity</td>
    #elif $trend.outHumidity.raw > 0
     <td class="hes1_trendhi"> &#8679;</td>
     <td class='hes1_valhi'>$trend.outHumidity</td>
    #end if
    </tr>
#if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.humidityMax</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'> $summary.humidityMin</span></td>
    </tr>
#end if
   </table>
    <hr />
    <img src="dayhumidklein.png" alt="Luftfeuchte" />
  </div>
</div> <!-- ende Luftfeuchte -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_reg'>
   <tr><td class='hes1_kopfa'>Niederschlag</td>
       <td class='hes1_kopf' colspan='2'>Aktuell</td>
       <td class='hes1_kopf' colspan="2">Heute</td>
   </tr>
   <tr>
     <td class='hes1_bigval' colspan='3' >
      <a href='dayrain.png' class='popup'>$current.rain</a>
     </td>
     <td colspan='2'>$day.rain.sum</td>
   </tr>
#if $varExists('forecast')
   <tr>
     <td colspan='2'><span class='hes1_m'>Regenrisiko</span></td>
     #if $summary.pop.raw > 0
        <td class='hes1_valhi'> $summary.pop  </td>
        <td>max</td>
        <td>    
         #if $summary.qpf.raw > 0
             $summary.qpf.nolabel('%.2f',' ') <img class='pop-img' src='xicons/raindrop.png' alt='regen' />
         #end if
       </td>
    #else
       <td colspan='3'>&nbsp;</td>
    #end if
   </tr>
#end if
  </table>
  <hr />
  <img src="dayrainklein.png" alt="Regen" />
 </div>
</div> <!-- ende Niederschlag -->

#if $day.snowTotal.max.raw > 0
<div class="hes">
  <div class='hesbox'>
   <table class='hes_reg'>
   <tr><td class='hes1_kopfa'>Schnee</td>
       <td class='hes1_kopf' colspan='2'>Aktuell</td>
       <td class='hes1_kopf' colspan="2">Heute</td>
   </tr>
   <tr>
     <td class='hes1_bigval' colspan='3' >
      <a href='daysnow.png' class='popup'>$current.snow</a>
     </td>
     <td colspan='2'>$day.snowTotal.max</td>
   </tr>
   #if $varExists('forecast')
   <tr>
     <td colspan='2'>
      <span class='hes1_m'>Schneeprognose</span>
     </td>
       #if $summary.qsf.raw > 0
        <td class='hes1_valhi'> $summary.pop </td>
        <td>max</td>
        <td>
          #if $summary.qsf.raw > 0
              $summary.qsf.cm.nolabel('%.1f',' ') <img class='pop-img' src='xicons/snowflake.png' alt='schnee'/>
           #end if
        </td>
       #else
        <td colspan='3'>&nbsp;</td>
       #end if
   </tr>
  #end if
  </table>
  <hr />
  <img src="daysnowklein.png" alt="Schnee" />
 </div>
</div> <!-- ende Schnee -->
#end if

<div class="hes">
  <div class='hesbox'>
   <table class='hes_win'>
   <tr><td class='hes1_kopfa' colspan='3'>Windgeschwindigkeit</td>
     <td class='hes1_kopf'>Prognose</td>
   </tr>
   <tr>
     <td class='hes1_bigval' colspan='2' style="$decorator_color('windBof', $current.windSpeed.raw)"
         title="$decorator_text('windBof', $current.windSpeed.raw)">
        <a href='daywind.png' class='popup'>$current.windSpeed</a> </td>

#if $varExists('trend')
    #if $trend.windSpeed.raw is not None:
        #if $trend.windSpeed.formatted > 0
           <td class='hes1_trendhi'>&#8679;</td>
    #elif $trend.windSpeed.formatted < 0
           <td class='hes_trendlo'>&#8681;</td>
    #end if
#end if
#end if

#if $varExists('forecast')
     <td class='hes1_winro' rowspan='2'
   #if $summary.windDirs is not None
         style='width:44px; height:44px; vertical-align:middle; text-align:center; background: url()
     #for $d in $summary.windDirs
       #set $winddir_img = 'xicons/' + $d + '.png'
               ,url($winddir_img)
     #end for
               ; background-repeat:no-repeat; background-position:center; background-size:44px;'
   #end if
         >
   #if $summary.windSpeedMin == $summary.windSpeedMax or $summary.windSpeedMin.raw == $summary.windSpeedMax.raw
          $summary.windSpeedMin.nolabel('%.0f',' ')
   #else
          $summary.windSpeedMin.nolabel('%.0f',' ')-$summary.windSpeedMax.nolabel('%.0f',' ')
   #end if
          <br/>
          $summary.windGust.nolabel('%.0f',' ')
     </td>
#end if
   </tr>
   <tr>
         <td class="hes1_winbo"  style="$decorator_color('windBof', $current.windSpeed.raw)">
          $decorator_text('windBof', $current.windSpeed.raw)</td>


       <td style='font-size:100%;padding-left:8px;'>
       <a href='daywinddir.png' class='popup'>$current.windDir.ordinal_compass<br />
      <span style='font-size:100%'>$current.windDir</span></a>
       </td>
       <td class='hes1_wind' style='padding-left:8px; font-size:240%;'>
       <a href='daywindvec.png' class='popup'>
#if $current.windDir.raw is None:
      -
#else
#if $current.windDir.raw < 22.5
       &#8593;
#elif $current.windDir.raw < 67.5
       &#8599;
#elif $current.windDir.raw < 112.5
       &#8594;
#elif $current.windDir.raw < 157.5
       &#8600;
#elif $current.windDir.raw < 202.5
       &#8595;
#elif $current.windDir.raw < 247.5
       &#8601;
#elif $current.windDir.raw < 292.5
       &#8592;
#elif $current.windDir.raw < 337.5
       &#8598;
#else
       &#8593;
#end if
#end if
      </a>
     </td>
    </tr>
  </table>
    <hr />
    <img src="daywindklein.png" alt="Wind" />
 </div>
</div> <!-- ende Wind -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr>
     <td class='hes1_kopfa'>UV-Index</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_winbo' colspan='2' style="$decorator_color('uv', $current.UV.raw)">
          $decorator_text('uv', $current.UV.raw)</td>
     <td class='hes1_bigval'><a href='dayuv.png' class='popup'>$current.UV</a></td>

    #if $trend.UV.raw < 0
     <td class="hes1_trendlo"> &#8681;</td>
     <td class='hes1_vallo'>$trend.UV.formatted</td>
    #elif $trend.UV.raw == 0.0
     <td class="hes1_trendhi">=</td>
     <td class='hes1_valhi'>$trend.UV.formatted</td>
    #elif $trend.UV.raw > 0
     <td class="hes1_trendhi"> &#8679;</td>
     <td class='hes1_valhi'>$trend.UV.formatted</td>
    #end if
    </tr>
#if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.uvIndexMax</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'> $summary.uvIndexMin</span></td>
    </tr>
#end if
   </table>
   <hr />
   <img src="dayUVklein.png" alt="UV-Index" />
  </div>
 </div> <!-- ende UV -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr>
     <td class="hes1_kopfa" colspan="3">Sonnenstrahlung</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'>
        <a href='dayradiation.png' class='popup'>$current.radiation</a></td>
 #if $trend.radiation.raw < 0
     <td class="hes1_trendlo"> &#8681;</td>
     <td class="hes1_vallo">$trend.radiation</td>
 #elif $trend.radiation.raw == 0
     <td class="hes1_trendhi"><b>=</b></td>
     <td class="hes1_valhi">$trend.radiation</td>
 #elif $trend.radiation.raw > 0
     <td class="hes1_trendhi"> &#8679;</td>
     <td class="hes1_valhi">$trend.radiation</td>
 #end if
    </tr>
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$current.maxSolarRad.formatted</span></td>
     <td><span class="hes1_m">erreicht</span></td>
     #if $current.radiation.raw > 0.0 and $current.maxSolarRad.raw > 0.0 
         #set $anteil = $current.radiation.raw * 100 / $current.maxSolarRad.raw
         #set $anteil = ("{:.2f}".format($anteil));
     #else
         #set $anteil = 0.0
     #end if
     <td><span class='templo'>$anteil %</span></td>
    </tr>
   </table>
   <hr />
   <img src="daysunklein.png" alt="Sonne" />
 </div>
</div> <!-- end Sonne -->

<div class='hes'>
 <div class='hesbox'>

<table class='hes1'>
  <tr>
    <td class="hes1_sol">
      <a href="astro.html">Sonne</a></td>
    <td><img src='xicons/CL.png' class='legend-img' alt='S' title='Sonne' />
    </td>
 </tr>
 <tr>
    <td class='hes1_nam'>Tageslicht</td>
    <td class='hes1_nam'>$daylight_h_str&nbsp;Stunden&nbsp;$daylight_m_str&nbsp;Minuten</td>
 <tr>
    <td class='hes1_nam'>Aufgang&nbsp;&#8679; </td>
    <td class='hes1_nam'>$almanac.sun.rise</td>
  </tr>
  <tr>
    <td class="hes1_nam">Transit:&nbsp;</td>
    <td class="hes1_nam">$almanac.sun.transit</td>
  </tr>
  <tr>
    <td class='hes1_nam'>Untergang&nbsp; &#8681;</td>
    <td class='hes1_nam'>$almanac.sun.set</td>
  </tr>
  <tr>
    <td class="hes1_nam">Frühlings-<br />punkt</td>
    <td class="hes1_nam">$almanac.next_vernal_equinox</td>
  </tr>
  <tr>
    <td class="hes1_nam">Sommer-<br />sonnenwende</td>
    <td class="hes1_nam">$almanac.next_summer_solstice</td>
  </tr>
  <tr>
    <td class="hes1_nam">Herbst<br />Tagundnachtgleiche</td>
    <td class="hes1_nam">$almanac.next_autumnal_equinox</td>
  </tr>
  <tr>
    <td class="hes1_nam">Winter-<br /> sonnenwende</td>
    <td class="hes1_nam">$almanac.next_winter_solstice</td>
  </tr>
  <tr>
    <td class="hes1_nam">Ostern<br /> am</td>
    <td class="hes1_nam">$Easter.format('%d.%m.%Y')</td>
  </tr>
</table>
</div>
</div> <!-- ende sonne -->

<div class='hes'>
 <div class='hesbox'>

<table class='hes1'>
 <tr>
    <td class="hes1_sol">
       <a href="astro.html">Mond</a></td>
    <td><img src='xicons/mond.png' class='legend-img' alt='M' title='Mond' />
    </td>
 </tr>
 <tr>
    <td class='hes1_mon'>Aufgang&nbsp;&#8679; </td>
    <td class='hes1_mon'>$almanac.moon.rise</td>
  </tr>
  <tr>
    <td class='hes1_mon'>Untergang&nbsp; &#8681;</td>
    <td class='hes1_mon'>$almanac.moon.set</td>
  </tr>
  <tr>
    <td class='hes1_mon'>$almanac.moon_phase</td>
    <td class='hes1_mon'>$almanac.moon_fullness %</td>
  </tr>
  #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
   <tr>
    <td class='hes1_mon'>Vollmond:</td>
    <td class='hes1_mon'>$almanac.next_full_moon</td>
   </tr>
   <tr>
    <td class='hes1_mon'>Neumond:</td>
    <td class='hes1_mon'>$almanac.next_new_moon</td>
   </tr>
  #else
   <tr>
    <td class='hes1_mon'>Neumond:</td>
    <td class='hes1_mon'>$almanac.next_new_moon</td>
   </tr>
   <tr>
    <td class='hes1_mon'>Vollmond:</td>
    <td class='hes1_mon'>$almanac.next_full_moon</td>
   </tr>
  #end if
   #import time
   #set $moonAge = $time.gmtime($current.dateTime.raw - $almanac.previous_new_moon.raw)
   #set $moonDays = int(round(($current.dateTime.raw - $almanac.previous_new_moon.raw) / 86400, 0))
   <tr>
    <td class='hes1_mon'>Alter des Mondes:</td>
    <td class='hes1_mon'>$moonDays&nbsp;Tage</td>
   </tr>
   <tr>
    <td class='hes1_mon'>Alter des Mondes:</td>
    <td class='hes1_mon'>$moonDays&nbsp;</td>
   </tr>
</table>
</div>
</div> <!-- ende  mond -->


<div class='hes'>
 <div class='hesbox'>
 <h3>Berechnete Werte</h3>
 <table class='hes1'>
  <tr>
   <td>Wolkenuntergrenze:&nbsp;</td>
   <td class="re_data"> $current.cloudbase (ASL)</td>
  </tr>
  <tr>
   <td class="re_data">Luftfeuchte (abs):</td>
   <td class="re_data"> $current.absolutF</td>
  </tr>
  <tr>
   <td class="re_data">Luftdichte:</td>
   <td class="re_data"> $current.airDensity</td>
  </tr>
  <tr>
   <td class='re_data'>Winddruck</td>
   <td class='re_data'>$current.windDruck</td>
  </tr>
  <tr>
   <td class='re_data'>Windweg aktuell</td>
   <td class='re_data'>$current.windrun</td>
  </tr>
  <tr>
   <td class='re_data'>Windweg Heute</td>
   <td class='re_data'>$day.windrun.sum</td>
  </tr>
  <tr>
   <td>Sonnenstunden</td>
   <td>$day.sunshineS.sum.hour</td>    
  </tr>
  <tr>
   <td>Wachstumstage Monat</td>
   <td>$month.outTemp.max_ge((10.0, "degree_C", "group_temperature")).format("%.0f")</td>
  <tr>
   <td>Wachstumstage Jahr</td>
   <td>$year.outTemp.max_ge((10.0, "degree_C", "group_temperature")).format("%.0f")</td>
  </tr>
  <tr>
   <td class='re_data'>Blatt-Temp</td>
   <td class='re_data'>$current.leafTemp1</td>
  </tr>
#if len($day00) > 3
  <tr>
   <td class='re_data'>Heute</td>
   <td class='re_data'><b> $day00 </b></td>
  </tr>
#else
  <tr>
   <td><b>&or;&nbsp;&or;&nbsp;&or;</b></td>
   <td><b>&nbsp;&or;&nbsp;&or;</b></td>
  </tr>
#end if
 </table>
 </div>
</div> <!-- end werte  -->

#if $Extras.has_key('earthquake_enabled') and $Extras.earthquake_enabled == '1'
<div class="hes">
 <div class='hesbox'>
  <h3>Erdbeben</h3><p> (Radius 1000km) </p>
   <!-- Earthquake data -->
  <table>
  <tr>
   <td>Zeitpunkt</td><td>$earthquake_time</td>
  </tr>
  <tr>
    <td>Epizentrum</td><td> <a href="$earthquake_url" target="_blank">$earthquake_place</a></td>
  </tr>
  <tr>
   <td>Magnitude</td><td><b>$earthquake_magnitude</b></td>
  </tr>
  <tr>
   <td>in einer Tiefe von</td><td><b>$earthquake_tief km</b></td>
  </tr>
  <tr>
    <td>Längengrad</td><td>$earthquake_lat &deg;</td>
   </tr>
   <tr>
    <td>Breitengrad</td><td>$earthquake_lon &deg;</td>
   </tr>
   <tr>
    <td>Quelle:</td><td> <a href="http://usgs.gov" target="_blank">USGS.gov</a></td>
   </tr>
 </table>
 </div>
</div> <!-- end Erdbeben -->
#end if

<div class="hes">
 <div class='hesbox'>
  <h3>Regen Radar</h3>
  <a href='$Extras.radar_local_img'>
  <img src='$Extras.radar_local_img' width="300" height="300" alt="WetterRadar" /></a>
 </div>
</div> <!-- end dwd.de wetterRadar -->

<div class="hes">
 <div class='hesbox'>
  <h3>ISS-Überflug</h3>
  <a href="http://www.heavens-above.com/">
  <img src="http://www.heavens-above.com/orbitdisplay.aspx?icon=iss&width=300&height=300&satid=25544" width="250" height="250" alt="ISS" /></a>
  <hr />
  <p>Zeit: $iss_time : Dauer: $duration&nbsp;s<br>
     Zeit: $iss_time_n : Dauer: $duration_n&nbsp;s</p>
 </div>
</div> <!-- end ISS -->

<div class="hes">
 <div class='hesbox'>
  <h3>Wetterwarnung</h3>
  <a href="http://www.dwd.de/DE/wetter/warnungen/warnWetter_node.html?ort=Klein%20Rogahn">
  <!-- <a href="http://www.dwd.de/DE/wetter/warnungen/warnWetter_node.html"> -->
  <img src="http://www.dwd.de/DWD/warnungen/warnapp/json/warning_map.png" width="300" height="400" alt="WetterWarn" /></a>
 </div>
</div> <!-- end dwd.de wetter -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr>
     <td class='hes1_kopfa'> OWFS </td>
   </tr>
   <tr>
     <td>4x Wassertemperatur-Sensor</td>
   </tr>
   <tr>
     <td>5x Bodentemperatur-Sensor</td>
   </tr>
   <tr>
     <td><a href='indexOWFS.html'>weiter</a></td>
   </tr>
  </table>
 </div>
</div> <!-- end owfs -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr>
     <td class='hes1_kopfa'>Davis Sensorstation 6345</td>
   </tr>
   <tr>
     <td>2x Blattfeuchte/-temperatur-Sensor</td>
   </tr>
   <tr>
     <td>4x Bodenfeuchte/-temperatur-Sensor</td>
   </tr>
   <tr>
     <td><a href='index1.html'>weiter</a></td>
   </tr>
  </table>
 </div>
</div> <!-- end Davis -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr>
     <td class='hes1_kopfa'>Air Sensoren</td>
   </tr>
   <tr>
     <td>2.5 ppm Sensor</td>
   </tr>
   <tr>
     <td>10 ppm Sensor</td>
   </tr>
   <tr>
     <td><a href='indexAir.html'>weiter</a></td>
   </tr>
  </table>
 </div>
</div> <!-- end Air -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr>
     <td class='hes1_kopfa'>Radioaktivität</td>
   </tr>
   <tr>
     <td>GQ GMC-300E</td>
   </tr>
   <tr>
     <td>Geigerzähler</td>
   </tr>
   <tr>
     <td><a href='indexRad.html'>weiter</a></td>
   </tr>
  </table>
 </div>
</div> <!-- end Rad -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr>
     <td class='hes1_kopfa'>Wachstum GDD</td>
   </tr>
   <tr>
     <td>Heating Degree Day</td>
   </tr>
   <tr>
     <td>Cooling Degree Day</td>
   </tr>
   <tr>
     <td><a href='index3.html'>weiter</a></td>
   </tr>
  </table>
 </div>
</div> <!-- end GDD -->

<div class="hes">
 <div class='hesbox'>
  <h3>Bekannt bei</h3>
  #include "bekannt.inc"
 </div>
</div> <!-- end bekannt -->

<div class="hes">
 <div class='hesbox'>
  <h3>Besucherzähler</h3>
    <a href="http://info.flagcounter.com/Qo1g"><img src="http://s11.flagcounter.com/count/Qo1g/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_0/labels_0/pageviews_0/flags_0/" alt="Flag Counter"></a>
 </div>
</div> <!-- end counter -->


</section >

</div> <!-- ende container -->

     #include $Extras.footer


  </div> 

#include $Extras.cookie

 </body>

</html>
