##errorCatcher BigEcho
##
##This program is free software; you can redistribute it and/or modify
##it under the terms of the GNU General Public License as published by
##the Free Software Foundation; either version 2 of the License, or
##(at your option) any later version.
##
##This program is distributed in the hope that it will be useful,
##but WITHOUT ANY WARRANTY; without even the implied warranty of
##MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##GNU General Public License for more details.
##
###############################################################################
##                                                                            #
##                     WEEWX-WD GAUGE-DATA.TXT TEMPLATE                       #
##                                                                            #
## Version: 1.2.0b1                                       Date: 1 August 2015 #
##                                                                            #
###############################################################################
##
#import datetime
##
##
## UTC string calcs
##
#set $utcString = datetime.datetime.utcfromtimestamp($current.dateTime.raw).strftime("%Y,%m,%d,%H,%M,%S")
##
## End UTC string calcs
##
##
## Date format string calcs
##
#try
    #set $dateformat=$skin_dict.Units.TimeFormats.date_f.replace("%","").replace("-","").lower()
#except
    #set $dateformat="d/m/y"
#end try
##
## End Date format string calcs
##
##
## sensorContactLost calcs
##
#set $sensorContactLost = 0
#set $rxchk = $getVar('current.rxCheckPercent.raw', 0)
#if $rxchk is not None and $rxchk == 0
    #set $sensorContactLost = 1
#end if
##
## End sensorContactLost calcs
##
##
## forecastText
##
#if $varExists('forecast_text')
  #if $forecast_text != ""
    #set $forecast_str = $forecast_text
  #elif $current($data_binding='wdsupp_binding', $max_delta=600).forecastText.exists
    #if $unit.unit_type.outTemp == 'degree_C'
      #set $forecast_str = $current($data_binding='wdsupp_binding', $max_delta=600).forecastTextMetric.raw
    #else
      #set $forecast_str = $current($data_binding='wdsupp_binding', $max_delta=600).forecastText.raw
    #end if
  #else
    #set $forecast_str = ""
  #end if
#elif $current($data_binding='wdsupp_binding', $max_delta=600).forecastText.exists
  #if $unit.unit_type.outTemp == 'degree_C'
    #set $forecast_str = $current($data_binding='wdsupp_binding', $max_delta=600).forecastTextMetric.raw
  #else
    #set $forecast_str = $current($data_binding='wdsupp_binding', $max_delta=600).forecastText.raw
  #end if
#else
  #set $forecast_str = ""
#end if
##
## End forecastText
##
##
##
## Beaufort wind scale calculations
##
#if $day.windGust.max.knot.raw >= 63.4
    #set $Tbeaufortnumber = 12
#elif $day.windGust.max.knot.raw >= 55.3
    #set $Tbeaufortnumber = 11
#elif $day.windGust.max.knot.raw >= 47.6
    #set $Tbeaufortnumber = 10
#elif $day.windGust.max.knot.raw >= 40.3
    #set $Tbeaufortnumber = 9
#elif $day.windGust.max.knot.raw >= 33.4
    #set $Tbeaufortnumber = 8
#elif $day.windGust.max.knot.raw >= 26.9
    #set $Tbeaufortnumber = 7
#elif $day.windGust.max.knot.raw >= 21.0
    #set $Tbeaufortnumber = 6
#elif $day.windGust.max.knot.raw >= 15.5
    #set $Tbeaufortnumber = 5
#elif $day.windGust.max.knot.raw >= 10.6
    #set $Tbeaufortnumber = 4
#elif $day.windGust.max.knot.raw >= 6.4
    #set $Tbeaufortnumber = 3
#elif $day.windGust.max.knot.raw >= 3.0
    #set $Tbeaufortnumber = 2
#elif $day.windGust.max.knot.raw >= 0.6
    #set $Tbeaufortnumber = 1
#elif $day.windGust.max.knot.raw >= 0.0
    #set $Tbeaufortnumber = 0
#else
    #set $Tbeaufortnumber = 'N/A'
#end if
##
## End beaufort wind scale calculations
##
##
{#slurp
"timeUTC":"$utcString",#slurp
"date":"$current.dateTime.format("%H:%M")",#slurp
"dateFormat":"$dateformat",#slurp
"SensorContactLost":"$sensorContactLost",#slurp
"tempunit":"$unit.label.outTemp.strip(' ()')",#slurp
"windunit":"$unit.label.windSpeed.strip(' ()')",#slurp
"pressunit":"$unit.label.barometer.strip(' ()')",#slurp
"rainunit":"$unit.label.rain.strip(' ()')",#slurp
"windrununit":"$unit.label.distance.strip(' ()')",#slurp
"cloudbaseunit":"m",#slurp
"temp":"$current.outTemp.formatted",#slurp
"tempTL":"$day.outTemp.min.formatted",#slurp
"tempTH":"$day.outTemp.max.formatted",#slurp
"TtempTL":"$day.outTemp.mintime",#slurp
"TtempTH":"$day.outTemp.maxtime",#slurp
"temptrend":"$trend($time_delta=3600).outTemp.format("%+.1f")",#slurp
"intemp":"$current.inTemp.formatted",#slurp
"hum":"$current.outHumidity.formatted",#slurp
"humTL":"$day.outHumidity.min.formatted",#slurp
"humTH":"$day.outHumidity.max.formatted",#slurp
"inhum":"$current.inHumidity.formatted",#slurp
"ThumTL":"$day.outHumidity.mintime",#slurp
"ThumTH":"$day.outHumidity.maxtime",#slurp
"dew":"$current.dewpoint.formatted",#slurp
"dewpointTL":"$day.dewpoint.min.formatted",#slurp
"dewpointTH":"$day.dewpoint.max.formatted",#slurp
"TdewpointTL":"$day.dewpoint.mintime",#slurp
"TdewpointTH":"$day.dewpoint.maxtime",#slurp
"wchill":"$current.windchill.formatted",#slurp
"wchillTL":"$day.windchill.min.formatted",#slurp
"TwchillTL":"$day.windchill.mintime",#slurp
"heatindex":"$current.heatindex.formatted",#slurp
"heatindexTH":"$day.heatindex.max.formatted",#slurp
"TheatindexTH":"$day.heatindex.maxtime",#slurp
#if $current($data_binding='wd_binding').appTemp.exists
"apptemp":"$current($data_binding='wd_binding').appTemp.formatted",#slurp
"apptempTL":"$day($data_binding='wd_binding').appTemp.min.formatted",#slurp
"apptempTH":"$day($data_binding='wd_binding').appTemp.max.formatted",#slurp
"TapptempTL":"$day($data_binding='wd_binding').appTemp.mintime",#slurp
"TapptempTH":"$day($data_binding='wd_binding').appTemp.maxtime",#slurp
#else
"apptemp":"",#slurp
"apptempTL":"",#slurp
"apptempTH":"",#slurp
"TapptempTL":"",#slurp
"TapptempTH":"",#slurp
#end if
#if $current($data_binding='wd_binding').humidex.exists
"humidex":"$current($data_binding='wd_binding').humidex.formatted",#slurp
#else
"humidex":"",#slurp
#end if
"press":"$current.barometer.formatted",#slurp
"pressL":"$alltime.barometer.min.formatted",#slurp
"pressH":"$alltime.barometer.max.formatted",#slurp
"pressTL":"$day.barometer.min.formatted",#slurp
"pressTH":"$day.barometer.max.formatted",#slurp
"TpressTL":"$day.barometer.mintime",#slurp
"TpressTH":"$day.barometer.maxtime",#slurp
"presstrendval":"$trend($time_delta=10800).barometer.format("%+.2f")",#slurp
"rfall":"$day.rain.sum.formatted",#slurp
"rrate":"$current.rainRate.formatted",#slurp
"rrateTM":"$day.rainRate.max.formatted",#slurp
"TrrateTM":"$day.rainRate.maxtime",#slurp
### CHECKME
"hourlyrainTH":"$maxHourRainToday.formatted",#slurp
### CHECKME
"ThourlyrainTH":"$maxHourRainTodayTime.format("%H:%M")",#slurp
#if $last_rain.raw is not None
"LastRainTipISO":"$last_rain.format($skin_dict.Units.TimeFormats.date_f) $last_rain.format("%H:%M")",#slurp
#else
"LastRainTipISO":"01/01/1970 00:00",#slurp
#end if
"wlatest":"$current.windSpeed.formatted",#slurp
"wspeed":"$current.windSpeed.formatted",#slurp
"windTM":"$day.windSpeed.max.formatted",#slurp
"wgust":"$current.windGust.formatted",#slurp
"wgustTM":"$day.windGust.max.formatted",#slurp
"TwgustTM":"$day.windGust.maxtime",#slurp
"bearing":"$current.windDir.formatted",#slurp
"avgbearing":"$current.windDir.formatted",#slurp
"bearingTM":"$day.wind.gustdir.formatted",#slurp
### FIXME
"BearingRangeFrom10":"$current.windDir.formatted",#slurp
### FIXME
"BearingRangeTo10":"$current.windGustDir.formatted",#slurp
"domwinddir":"$day.wind.vecdir.ordinal_compass",#slurp
"WindRoseData":$windroseData,#slurp
"windrun":"$day_windrun.formatted",#slurp
"Tbeaufort":"F$Tbeaufortnumber",#slurp
"UV":"$current.UV.formatted",#slurp
"UVTH":"$day.UV.max.formatted",#slurp
"SolarRad":"$current.radiation.formatted",#slurp
"SolarTM":"$day.radiation.max.formatted",#slurp
#if $current($data_binding='wdsupp_binding', $max_delta=600).maxSolarRad.exists
"CurrentSolarMax":"$current($data_binding='wdsupp_binding', $max_delta=600).maxSolarRad.formatted",#slurp
#else
"CurrentSolarMax":"0",#slurp
#end if
"cloudbasevalue":"$cloudbase.meter.formatted",#slurp
"forecast":"$forecast_str",#slurp
"version":"$station.version",#slurp
"build":"",#slurp
"ver":"$Extras.SkinVersion.Version"#slurp
}

