#errorCatcher Echo
## Standard for weewx - Copyright 2015 Hartmut Schweidler
## rain.html.tmpl  2015-03-12 23:24:18Z hes $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location Regen Kalender</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type='text/javascript' src='js/hesweewx.js'></script>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts-more.js"></script>
    <script src="js/themes/grid.js"></script>

  </head>

<body>
 <div id="hes11"> 
   #include $Extras.header
  <div id="stats_group">
    #include $Extras.current
  </div> <!--End class "stats_group" -->  
  <div id="content">        
   <div id="about">
    <div class="header"><h2>Niederschlag</h2></div>
     <div>
      <iframe width="800" height="380" src="https://embed.windy.com/embed2.html?lat=53.599&lon=11.349&zoom=7&level=surface&overlay=radar&menu=&message=&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=53.601&detailLon=11.345&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe> 
     </div>
     <hr />
    <h2>Regen-Werte nach Vantage Pro 2 (LOOP2)</h2>
    <ul>
     <li>Niederschlag der letzten 15 Minuten:&nbsp;<b>$current.rain15</b></li>
     <li>Niederschlag der letzten 24 Stunden:&nbsp;<b>$current.rain24</b></li>
     <li>&nbsp;</li>
     <li>Niederschlag der letzten Stunde:&nbsp;<b>$current.hourRain</b></li>
     <li>Niederschlag der aktuelle Tag:&nbsp;<b>$current.dayRain</b></li>
    </ul>
    <hr />
     <table>
      <tr>
       <td class="stats_label">Niederschlag letzte Messung</td>
       <td class="stats_data">$current.rain</td>
       <td class="stats_label">Regenintensität der letzten Messung</td>
       <td class="stats_data">$current.rainRate</td>
      </tr>
      <tr>
       <td class="stats_label">Niederschlag Heute seit Mitternacht</td>
       <td class="stats_data">$day.rain.sum</td>
       <td class="stats_label">Niederschlagsintensität am Tag</td>
       <td class="stats_data">$day.rainRate.max</td>
      </tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
      <tr>
       <td class="stats_label">Niederschlag Gestern</td>
       <td class="stats_data">$yesterday.rain.sum</td>
       <td class="stats_label">Niederschlagsintensität am Vortag</td>
       <td class="stats_data">$yesterday.rainRate.max</td>
      </tr>
      <tr>
       <td class="stats_label">Niederschlag Woche</td>
       <td class="stats_data">$week.rain.sum</td>
       <td class="stats_label">Niederschlag Monat</td>
       <td class="stats_data">$month.rain.sum</td>
      </tr>
     </table>
  #if $latest($data_binding='wdsupp_binding')stormRain.raw > 0.0
     <table>
      <tr>
       <td>Niederschlag Vantage Storm Rain</td>
       <td class="stats_data">$latest($data_binding='wdsupp_binding')stormStart.format("%d.%m.%Y")</td>
       <td>Niederschlagmenge</td>
       <td class="stats_data">$latest($data_binding='wdsupp_binding')stormRain</td>
      </tr>
     </table>
  #else
     <table>
      <tr>
       <td>Niederschlag Vantage Storm Rain</td>
       <td class="stats_data">Nein</td>
       <td>Niederschlagmenge</td>
       <td class="stats_data">Keine</td>
      </tr>
     </table>
  #end if

  #if $day.snowTotal.max.raw > 0
     <hr />
     <h3>Aktuell liegen ca. $current.snowTotal Schnee.</h3>   
  #end if
  
  #if $day.rain.sum.raw > 0
    <hr />
    <h3>Die letzten 24 Stunden</h3>
     <table>
      #for $zeit in range(24)
          <tr><td>Niederschlag vor</td><td>$zeit</td><td>h</td>
         #if $hours_ago($hours_ago=$zeit).rain.sum.raw > 0
           #if $hours_ago($hours_ago=$zeit).rain.sum.raw < 0.10
              <td class="tab_datab" style="background-color: #84ebff">$hours_ago($hours_ago=$zeit).rain.sum</td>
           #elif $hours_ago($hours_ago=$zeit).rain.sum.raw < 0.24
              <td class="tab_datab" style="background-color: #57ddff">$hours_ago($hours_ago=$zeit).rain.sum</td>
           #elif $hours_ago($hours_ago=$zeit).rain.sum.raw < 3
              <td class="tab_datab" style="background-color: #23c5ff">$hours_ago($hours_ago=$zeit).rain.sum</td>
           #elif $hours_ago($hours_ago=$zeit).rain.sum.raw < 10
              <td class="tab_datab" style="background-color: #009eff">$hours_ago($hours_ago=$zeit).rain.sum</td>
           #elif $hours_ago($hours_ago=$zeit).rain.sum.raw < 20
              <td class="tab_datab" style="background-color: #0077f7">$hours_ago($hours_ago=$zeit).rain.sum</td>
           #else
              <td>$hours_ago($hours_ago=$zeit).rain.sum</td>
           #end if
         #else
           <td>&nbsp;</td>
         #end if
         #if $hours_ago($hours_ago=$zeit).rainRate.max.raw > 0
           #if $hours_ago($hours_ago=$zeit).rainRate.max.raw < 0.10
              <td class="tab_datab" style="background-color: #84ebff;">$hours_ago($hours_ago=$zeit).rainRate.max</td>
           #elif $hours_ago($hours_ago=$zeit).rainRate.max.raw < 0.24
              <td class="tab_datab" style="background-color: #57ddff;">$hours_ago($hours_ago=$zeit).rainRate.max</td>
           #elif $hours_ago($hours_ago=$zeit).rainRate.max.raw < 3
              <td class="tab_datab" style="background-color: #23c5ff;">$hours_ago($hours_ago=$zeit).rainRate.max</td>
           #elif $hours_ago($hours_ago=$zeit).rainRate.max.raw < 10
              <td class="tab_datab" style="background-color: #009eff;">$hours_ago($hours_ago=$zeit).rainRate.max</td>
           #elif $hours_ago($hours_ago=$zeit).rainRate.max.raw < 20
              <td class="tab_datab" style="background-color: #0077f7;">$hours_ago($hours_ago=$zeit).rainRate.max</td>
           #else
              <td class="tab_datab" style="background-color: #0050a9; color: #ffffff;">$hours_ago($hours_ago=$zeit).rainRate.max</td>
           #end if
        #else
           <td>&nbsp;</td>
        #end if
          </tr>
      #end for
     </table>
  #else
      <p>&nbsp;</p>
  #end if
     <hr /> 

<h2>Niederschlag</h2><h3>nach Jahren, seit Beginn meiner Wetteraufzeichnungen</h3>
<p>Als Niederschlag werden nur Regenschauer, in einer Höhe von 2 m über Grund, erfasst.<br />
Andere Niederschläge (Schnee oder Hagel) können aufgrund einer fehlenden Heizung nicht registriert werden. <br />
Als Regentag wird ein Tag bezeichnet an dem mehr als 0,1 mm Niederschlag fällt. Meine Wetterstation erfasst
Niederschlägen ab 0,2 mm.</p>
<p>&nbsp;</p>

<div id="Report">

<table>
  <tr>
   <td>Anzahl der <br />nach Jahren</td>
   <td style="background-color: #FF4949;">Regentage</td>
   <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
   <td style="background-color: #FF8C5F;">Tage mit &gt;= 1 mm</td>
   <td style="background-color: #FFAC4B;">Tage mit &gt;= 5 mm</td>
   <td style="background-color: #33FF33;">Tage mit &gt;= 10 mm</td>
   <td style="background-color: #23FF9E;">Tage mit &gt;= 15 mm</td>
   <td style="background-color: #4B84FF;">Tage mit &gt;= 20 mm</td>
  </tr>

#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      <td style="background-color: #FF4949;">$year.rain.sum_ge((0.01, "cm", "group_rain")).format("%.0f")</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td style="background-color: #FF8C5F;">$year.rain.sum_ge((0.1, "cm", "group_rain")).format("%.0f")</td>
      <td style="background-color: #FFAC4B;">$year.rain.sum_ge((0.5, "cm", "group_rain")).format("%.0f")</td>
      <td style="background-color: #33FF33;">$year.rain.sum_ge((1, "cm", "group_rain")).format("%.0f")</td>
      <td style="background-color: #23FF9E;">$year.rain.sum_ge((1.5, "cm", "group_rain")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.rain.sum_ge((2.0, "cm", "group_rain")).format("%.0f")</td>
   </tr>
#end for
</table>
<hr />

<h3>Regentage nach Monaten in den Jahren</h3>
<table>
    <tr>
     <td>Jahr&nbsp;</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>

#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.rain.sum.raw is not None:
            <td style="background-color: #23FF9E;">$month.rain.sum_ge((0.01, "cm", "group_rain")).format("%.0f")</td>
          #else
            <td style="background-color: #FFFFFF;">-</td>
          #end if
      #end for
    </tr>
#end for
</table>
<hr />
<h3>Regenmengen in mm</h3>
 <p>&nbsp; </p>
 <table>
    <tr>
     <td>Jahr</td>
     <td>gesamt</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
 #for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      <td><b>$year.rain.sum.formatted</b></td>
      #for $month in $year.months
          #if $month.rain.sum.raw is not None:
             #if $month.rain.sum.raw < 0.01
                 <td class="hest01">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 0.3
                 <td class="hest02">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 1
                 <td class="hest03">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 5
                 <td class="hest04">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 10
                 <td class="hest05">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 20
                 <td class="hest06">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 30
                 <td class="hest07">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 40
                 <td class="hest08">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 50
                 <td class="hest09">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 60
                 <td class="hest10">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 70
                 <td class="hest11">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 80
                 <td class="hest12">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 90
                 <td class="hest13">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 100
                 <td class="hest14">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw < 120
                 <td class="hest15">$month.rain.sum.formatted</td>
             #elif $month.rain.sum.raw > 120 
                 <td class="hest16">$month.rain.sum.formatted</td>
             #end if
          #else
                 <td class="hest00">-</td>
          #end if
       #end for
    </tr>
 #end for
 </table>
<hr />
<h3>Regenintensität in mm/h</h3>
<p>Maximale Niederschlagsintensität je Monat, mit der Angabe des Tages und der Uhrzeit</p>
 <table>
    <tr>
     <td>Jahr&nbsp;</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
 #for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.rainRate.max.raw is not None:
             #if $month.rainRate.max.raw < 1
                 <td class="hest01">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 5
                 <td class="hest02">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 10
                 <td class="hest03">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 20
                 <td class="hest04">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 30
                 <td class="hest05">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 40
                 <td class="hest06">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 50
                 <td class="hest07">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 60
                 <td class="hest08">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 70
                 <td class="hest09">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 80
                 <td class="hest10">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 90
                 <td class="hest11">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw < 100
                 <td class="hest12">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #elif $month.rainRate.max.raw > 100 
                 <td class="hest16">$month.rainRate.max.formatted<br /><small>$month.rainRate.maxtime</small></td>
             #end if
          #else
                 <td class="hest00">-</td>
          #end if
       #end for
    </tr>
 #end for
 </table>

<hr />
<h3>Wasserbilanz nach Jahren</h3>
<p>Niederschlag abzüglich der Verdunstung<br>in mm</p>
 <table>
    <tr>
     <td>Jahr&nbsp;</td><td>Bilanz</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
 #for $year in $alltime.years
    #if int($year.dateTime.format("%Y")) > 2016
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #set $was_year = $year.rain.sum.raw - $year.ET.sum.raw
      #set $WasYear = ("{:.2f}".format($was_year))
      <td><b>$WasYear</b></td>
      #for $month in $year.months
          #if $month.rain.sum.raw is not None and $month.ET.sum.raw is not None
             #set $was_month = $month.rain.sum.raw - $month.ET.sum.raw
             #set $WasMonth = ("{:.2f}".format($was_month))
             #if $was_month < 0.0
                 <td style="background-color: coral">$WasMonth </td>
             #elif $was_month == 0.0
                 <td class="hest00">$WasMonth </td>
             #elif $was_month  > 0.0
                 <td style="background-color: limegreen">$WasMonth </td>
             #end if
          #else
                 <td class="hest00">-</td>
          #end if
       #end for
    </tr>
    #end if
 #end for
 </table>
<hr />

<h3>Wassermengen nach Jahreszeiten</h3>
<p>Niederschlag abzüglich der Verdunstung<br>in mm</p>
<p>&nbsp;</p>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>21.03. - 20.06</td>
      <td>21.06. - 20.09.</td>
      <td>21.09. - 20.12.</td>
      <td>21.12. - 20.03</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
     <td>Frühlings-Regen</td>
     <td>Sommern-Regen</td>
     <td>Herbst-Regen</td>
     <td>Winter-Regen</td>
    </tr>
    <tr>
     <td>$year.dateTime.format("%Y")</td>
     <td>$spring.rain.sum.formatted </td>
     <td>$summer.rain.sum.formatted </td>
     <td>$autumm.rain.sum.formatted </td>
     <td>$winter.rain.sum.formatted </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
     <td>Frühlings-Verdunstung</td>
     <td>Sommern-Verdunstung</td>
     <td>Herbst-Verdunstung</td>
     <td>Winter-Verdunstung</td>
    </tr>
    <tr>
     <td>$year.dateTime.format("%Y")</td>
     <td>$spring.ET.sum.formatted </td>
     <td>$summer.ET.sum.formatted </td>
     <td>$autumm.ET.sum.formatted </td>
     <td>$winter.ET.sum.formatted </td>
    </tr>
    <tr><td colspan='5'>Bilanz</td></tr>
    <tr>
     <td>$year.dateTime.format("%Y")</td>
      #set $was_spring = $spring.rain.sum.raw - $spring.ET.sum.raw
      #set $WasSpring = ("{:.2f}".format($was_spring))
      #set $was_summer = $summer.rain.sum.raw - $summer.ET.sum.raw
      #set $WasSummer = ("{:.2f}".format($was_summer))
      #set $was_autumm = $autumm.rain.sum.raw - $autumm.ET.sum.raw
      #set $WasAutumm = ("{:.2f}".format($was_autumm))
      #set $was_winter = $winter.rain.sum.raw - $winter.ET.sum.raw
      #set $WasWinter = ("{:.2f}".format($was_winter));
     <td>$WasSpring </td>
     <td>$WasSummer </td>
     <td>$WasAutumm </td>
     <td>$WasWinter </td>
    </tr>

</table>
<hr />
  <h3>Perioden von Trockenheit und Regentagen</h3>
   <ul>
    <li>Längste Trockenperiode in diesem Monat&nbsp;<b>$month_con_dry_days</b>&nbsp;Tage, vom $month_con_dryS_days_time.format("%d.%m.%Y")
     bis zum  $month_con_dry_days_time.format("%d.%m.%Y")</li>
    <li>Längste Trockenperiode in diesem Jahr&nbsp;<b>$year_con_dry_days</b>&nbsp;Tage, vom $year_con_dryS_days_time.format("%d.%m.%Y")
      bis zum  $year_con_dry_days_time.format("%d.%m.%Y")</li>
    <li>und</li>
    <li>Längste Trockenperiode bisher mit&nbsp;<b>$alltime_con_dry_days</b>&nbsp;Tage, vom $alltime_con_dryS_days_time.format("%d.%m.%Y")
       bis zum  $alltime_con_dry_days_time.format("%d.%m.%Y")</li>
    <li>&nbsp;</li>
    <li>Längste Regenperiode mit&nbsp;<b>$month_con_wet_days</b>&nbsp;Tage im Monat, vom $month_con_wetS_days_time.format("%d.%m.%Y")
      bis zum  $month_con_wet_days_time.format("%d.%m.%Y")</li>
    <li>Längste Niederschlagsperiode mit&nbsp;<b>$year_con_wet_days </b>&nbsp;Tage im Jahr, vom $year_con_wetS_days_time.format("%d.%m.%Y")
       bis zum  $year_con_wet_days_time.format("%d.%m.%Y")</li>
    <li></li>  
    <li>Längste Niederschlagsperiode mit&nbsp;<b>$alltime_con_wet_days</b>&nbsp;Tage, vom $alltime_con_wetS_days_time.format("%d.%m.%Y")
      bis zum  $alltime_con_wet_days_time.format("%d.%m.%Y")</li>
    <li>&nbsp;</li>
   </ul>
  <hr />
   <h3>Extremwerte Niederschlag</h3>
    <ul>
     <li>Mit<b>&nbsp;$alltime.rainRate.max&nbsp;</b>gab es am<b>&nbsp;$alltime.rainRate.maxtime&nbsp;</b>
           den heftigsten Schauer seit Beginn <b>meiner</b> Wetteraufzeichung.</li>
     <li><b>&nbsp;$alltime.snow.max&nbsp;Schnee</b> gab es am $alltime.snow.maxtime&nbsp;Uhr</li>
    </ul>
   <hr />
<script>
    $(document).ready(function() {

        var options = {
            chart: {
                    renderTo: 'Chart2',
                    type: 'column'
                   },

                   title: {
                           text: '2014-19 Monatliche Regenmengen'
                        },

                   legend: {
                           enabled: true
                        },

                   xAxis: {
                           categories: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Juni', 'Juli', 'Aug', 'Sept', 'Okt', 'Nov', 'Dez']
                        },

                   yAxis: {
                            minorTickInterval: 'auto',
                            minorTickLength: 0,
                            title:  {
                                     text: 'mm'
                                }
                        },

                   tooltip: {
                             shared: true,
                             valueDecimals: 0,
                             valueSuffix: 'mm'
                        },


                   series: [{
                             name: '2014'
                        }, {
                             name: '2015'
                        }, {
                             name: '2016'
                        }, {
                             name: '2017'
                        }, {
                             name: '2018'
                        }, { 
                             name: '2019'
                        }]
                };

                $.getJSON('Data/Rain-2014.json', function(data) {
                        options.series[0].data = data;
                        $.getJSON('Data/Rain-2015.json', function(data) {
                                options.series[1].data = data;
                                $.getJSON('Data/Rain-2016.json', function(data) {
                                        options.series[2].data = data;
                                        $.getJSON('Data/Rain-2017.json', function(data) {
                                                options.series[3].data = data;
                                                $.getJSON('Data/Rain-2018.json', function(data) {
                                                        options.series[4].data = data;
                                                        var chart = new Highcharts.Chart(options);
                                                        $.getJSON('Data/Rain-2019.json', function(data) {
                                                                options.series[5].data = data;
                                                                var chart = new Highcharts.Chart(options);

                                                       });
                                                });
                                        });
                                });
                        });
                });

        });
</script>

<div id="Chart2">
       Chart 2
</div>  <!-- End id "Chart2" -->

<hr />

   </div> <!-- end id "about" -->
  </div>  <!-- end id "content" -->
 </div> 

  #include $Extras.footer

</div>
</body>

</html>
