#errorCatcher Echo
## Standard for weewx - Copyright 2015 Hartmut Schweidler
## wind.html.tmpl  2015-03-12 23:24:18Z hes $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location Wind - Daten</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type='text/javascript' src='js/hesweewx.js'></script>
  </head>

<body>
 <div id="hes11"> 
   #include $Extras.header
  <div id="stats_group">
    #include $Extras.current
  </div> <!--End class "stats_group" -->  
  <div id="content">        
   <div id="about">
    <div class="section">
    <h1> Wind Map</h1>
    <p class="not-mobile">A highly visual and zoomable dynamic wind map from Cameron Beccario at nullschool.net. It will show full global data, use your mouse wheel to zoom in and out, and click'n'drag to move the view. By default it will be showing surface wind speeds and directions for northern Europe and the eastern Atlantic.</p>
    <p>The data is updated every three hours, cick the 'earth' text for more options. <a href="http://earth.nullschool.net/about.html" target="_blank">Click here</a> for credits and more information.</p>
     <div>
      <iframe src="http://earth.nullschool.net/#current/wind/surface/level/orthographic=11.34,53.60,1400" height="240" width="800"></iframe>
     </div>
      <img src="xicons/windscale.png" width="620" height="80" alt="Wind Velocity Scale" title="Wind Velocity Scale" style="display: block; margin: 0px auto;">
    </div>
    <hr />
    <br />
    <h2>Wind-Werte nach Vantage Pro 2 (LOOP2)</h2>
    <ul>
     <li>Windgeschwindigkeit in den letzten 2 Minuten:&nbsp;<b>$current.windSpeed2</b></li>
     <li>Windgeschwindigkeit in den letzten 10 Minuten:&nbsp;<b>$current.windSpeed10</b></li>
     <li>&nbsp;</li>
      <li>Windböe der letzten 10 Minuten:&nbsp;<b>$current.windGust10</b>&nbsp;aus&nbsp;$current.windGustDir10</li>
    </ul>
    <hr />
    <div class="header">Wind Kalender</div>
     <ul>
      <li>Windgeschwindigkeit in den letzten 5 Minuten:&nbsp;<b>$current.windSpeed</b>&nbsp;aus Richtung:
          &nbsp;<b>$current.windDir ($current.windDir.ordinal_compass)</b></li>
      <li>Die Geschwindigkeit der letzten 10 Minuten:&nbsp;$span($time_delta=600).windGust.avg</li>
      <li>&nbsp;</li>
      <li>Windböe der letzten 5 Minuten:&nbsp;<b>$current.windGust</b>&nbsp;aus&nbsp;$current.windGustDir</li>
     </ul>
     <hr />
     <ul>
      <li>Stärkste Windböe des Tages:&nbsp;<b>$day.windGust.max</b>&nbsp;um:&nbsp;<b>$day.windGust.maxtime</b></li>
      <li>&nbsp;</li>
      <li>Spitzenwindgeschwindigkeit Heute:&nbsp;<b>$day.wind.max</b></li>
      <li>aus Richtung:&nbsp;<b>$day.windDir.avg</b>&nbsp;um:&nbsp;<b>$day.windSpeed.maxtime</b></li>
      <li>in Beaufort:&nbsp;$day.beaufort.max</li>
     </ul>
     <hr />
     <ul>
      <li>Stärkste Windböe Gestern:&nbsp;<b>$yesterday.windGust.max</b>&nbsp;um:&nbsp;<b>$yesterday.windGust.maxtime</b></li>
      <li>&nbsp;</li>
      <li>Spitzenwindgeschwindigkeit Gestern:&nbsp;<b>$yesterday.wind.max</b></li>
      <li>aus Richtung:&nbsp;<b>$yesterday.windDir.avg</b>&nbsp;um:&nbsp;<b>$yesterday.windSpeed.maxtime</b></li>
      <li>in Beaufort:&nbsp;$yesterday.beaufort.max</li>
    </ul>
    <hr />
<h2>Windgeschwindigkeiten</h2><h3>nach Jahren, seit Beginn meiner Wetteraufzeichnungen </h3>
<p>&nbsp; </p> 
<div id="Report">
<h3>Windgeschwindigkeit in km/h</h3>
 <table>
    <tr>
     <td>&nbsp;</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
 #for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.windSpeed.max.raw is not None:
             #if $month.windSpeed.max.raw < 2
                 <td class="hesw01">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 6
                 <td class="hesw02">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 12
                 <td class="hesw03">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 20
                 <td class="hesw04">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 29
                 <td class="hesw05">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 39
                 <td class="hesw06">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 50
                 <td class="hesw07">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 62
                 <td class="hesw08">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 75
                 <td class="hesw09">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 89
                 <td class="hesw10">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 103
                 <td class="hesw11">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw < 118
                 <td class="hesw12">$month.windSpeed.max.formatted<br /><small>$month.windSpeed.maxtime</small></td>
             #elif $month.windSpeed.max.raw > 117
                 <td class="hesw13">$month.windSpeed.max.formatted</td>
             #end if
          #else
                 <td class="hesw00">-</td>
          #end if
       #end for
    </tr>
 #end for
 </table>
<hr />

<h3>Spitzenwindgeschwindigkeiten in km/h </h3>
<table>
    <tr>
     <td>&nbsp;</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
 #for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.windGust.max.raw is not None:
             #if $month.windGust.max.raw < 2
                 <td class="hesw01">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 6
                 <td class="hesw02">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 12
                 <td class="hesw03">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 20
                 <td class="hesw04">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 29
                 <td class="hesw05">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 39
                 <td class="hesw06">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 50
                 <td class="hesw07">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 62
                 <td class="hesw08">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 75
                 <td class="hesw09">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 89
                 <td class="hesw10">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 103
                 <td class="hesw11">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw < 118
                 <td class="hesw12">$month.windGust.max.formatted<br /><small>$month.windGust.maxtime</small></td>
             #elif $month.windGust.max.raw > 117
                 <td class="hesw13">$month.windGust.max.formatted</td>
             #end if
          #else
                 <td class="hesw00">-</td>
          #end if
       #end for
    </tr>
 #end for
 </table>
<hr />
<h3>Windrose </h3>
<img src="wr/daywindrose.png" alt="Tag windRose" />
<img src="wr/weekwindrose.png" alt="Woche windRose" />
<img src="wr/monthwindrose.png" alt="Monat windRose" />
<img src="wr/yearwindrose.png" alt="Jahr windRose" />
<hr />
<h3>Wind-Weg in km je Monat</h3>
<table>
    <tr>
     <td>&nbsp;</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
 #for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.windrun.sum.raw is not None:
             #if $month.windrun.sum.raw < 500
                 <td class="hesw01">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 1000
                 <td class="hesw02">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 1500
                 <td class="hesw03">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 2000
                 <td class="hesw04">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 2500
                 <td class="hesw05">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 5000
                 <td class="hesw06">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 5500
                 <td class="hesw07">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 7500
                 <td class="hesw08">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 10000
                 <td class="hesw09">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 12500
                 <td class="hesw10">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 15000
                 <td class="hesw11">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw < 20000
                 <td class="hesw12">$month.windrun.sum.formatted </td>
             #elif $month.windrun.sum.raw > 20000
                 <td class="hesw13">$month.windrun.sum.formatted</td>
             #end if
          #else
                 <td class="hesw00">-</td>
          #end if
       #end for
    </tr>
 #end for
 </table>
<hr />
<h3>Winddruck N/m² </h3>
<table>
    <tr>
     <td>&nbsp;</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
 #for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.windDruck.max.raw is not None:
             #if $month.windDruck.max.raw < 10
                 <td class="hesw01">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #elif $month.windDruck.max.raw < 20
                 <td class="hesw02">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #elif $month.windDruck.max.raw < 30
                 <td class="hesw03">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #elif $month.windDruck.max.raw < 40
                 <td class="hesw04">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #elif $month.windDruck.max.raw < 50
                 <td class="hesw05">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #elif $month.windDruck.max.raw < 75
                 <td class="hesw06">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #elif $month.windDruck.max.raw < 100
                 <td class="hesw07">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #elif $month.windDruck.max.raw < 200
                 <td class="hesw08">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #elif $month.windDruck.max.raw > 200
                 <td class="hesw10">$month.windDruck.max.formatted<br /><small>$month.windDruck.maxtime</small></td>
             #end if
          #else
                 <td class="hesw00">-</td>
          #end if
       #end for
    </tr>
 #end for
 </table>

<hr />
<h3>Luftdichte kg/m³ </h3>
<table>
    <tr>
     <td>&nbsp;</td>
     <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
 #for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.airDensity.max.raw is not None:
             #if $month.airDensity.max.raw < 1.0
                 <td class="hesw01">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #elif $month.airDensity.max.raw < 1.1
                 <td class="hesw02">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #elif $month.airDensity.max.raw < 1.2
                 <td class="hesw03">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #elif $month.airDensity.max.raw < 1.3
                 <td class="hesw04">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #elif $month.airDensity.max.raw < 1.4
                 <td class="hesw05">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #elif $month.airDensity.max.raw < 1.5
                 <td class="hesw06">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #elif $month.airDensity.max.raw < 1.6
                 <td class="hesw07">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #elif $month.airDensity.max.raw < 1.7
                 <td class="hesw08">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #elif $month.airDensity.max.raw > 1.7
                 <td class="hesw10">$month.airDensity.max.formatted<br /><small>$month.airDensity.maxtime</small></td>
             #end if
          #else
                 <td class="hesw00">-</td>
          #end if
       #end for
    </tr>
 #end for
 </table>


   </div> <!-- end id "about" -->
  </div>  <!-- end id "content" -->
 </div> 

  #include $Extras.footer

</div>
</body>

</html>
