#errorCatcher Echo
##    $Revision: 248 $
##    $Author: tkeffer $
##    $Date: 2010-04-18 15:59:52 -0700 (Sun, 18 Apr 2010) $
#set $YM="%m"
#set $D="  %d"
#set $M=" %b"
#set $NODAY=" N/A"
#set $Temp="%6.1f"
#set $Wind="%6.1f"
#set $Dir="%6.0f"
#set $Count="%6d"
#set $NONE="   N/A"
#def ShowInt($T)
$("%6d" % $T[0])#slurp
#end def
#def ShowFloat($R)
$("%6.2f" % $R[0])#slurp
#end def
[  
#for $month in $year.months
#if $month.dateTime.format($YM) > "01"
,
#end if
#if $month.barometer.count.raw
[$month.outTemp.min.raw,$month.outTemp.meanmin.raw,$month.outTemp.avg.raw,$month.outTemp.meanmax.raw,$month.outTemp.max.raw]
#else
[  ]
#end if
#end for
   ]

