#errorCatcher Echo
#def round1(val): $eval('%6.1f' % $round($val, 1))
#set $temp_unit = $unit.label.outTemp
#set $date_format = "%d. %B"
#set $now_format = "%d.%m.%Y"
#set $temp_format = "%5.1f"
#set $dd_format = "%5.1f"
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <title>${station.location} -- ${growth10.label}</title>
    <link rel="stylesheet" type="text/css" href="./../css/hesweewx.css"/>
    <link rel="stylesheet" type="text/css" href="./../css/cydia.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src='./../js/hesweewx.js'></script>
  </head>

  <body>
 <button onclick="topFunction()" id="hesBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("hesBtn").style.display = "block";
    } else {
        document.getElementById("hesBtn").style.display = "none";
    }
}
    
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

   <div id='hes11'>
     <div id='header'>
      <div id="masthead">
        <h1>${station.location}</h1>
        <h2>${growth10.label}</h2>
          <h2>${growth10.datetime.nolabel($now_format)}</h2>
        <div class="navbar">
         <ul id="nav">
          <li><input type="button" value=" zurück/ back " onclick="openURL('./../index3.html')" /></li>
         </ul>
        </div>
      </div><!-- Ende masthead -->
    </div> <!-- Ende header -->

      <div id="content">
        <div id="plots">
          <img src="../${growth10.species_name}.png" alt="${growth10.label}" />
        </div>
   <h3>Die Wachstumsgradtage (GDD Basis 10°C)</h3>
    <h4> ... die Wachstum-Grad-Tage = ((tägliche maximale Temperatur + tägliche minimale Temperatur) / 2.0) - 10,0.</h4>
      </div>
 <div id='footer'>

<div style="background-color: gold">
      <p>
      Breitengrad:&nbsp;$station.latitude[0]&deg; $station.latitude[1]'
       $station.latitude[2]&nbsp;&brvbar;&nbsp;
      L&auml;ngengrad:&nbsp;$station.longitude[0]&deg;
      $station.longitude[1]' $station.longitude[2]&nbsp;&brvbar;&nbsp;
      H&ouml;he:&nbsp;$station.altitude
      </p>
</div>
<div style="background-color:yellow">
     weewx-Laufzeit:&nbsp; $station.uptime&nbsp;&nbsp;&#124;&nbsp;&nbsp;
     Serverlaufzeit:&nbsp; $station.os_uptime&nbsp;&nbsp;&#124;&nbsp;&nbsp;
     weewx  Version:&nbsp; $station.version&nbsp;&nbsp;&#124;&nbsp;&nbsp;
     Wetterstation:&nbsp; $station.hardware
</div>
<div id="fzei">
<div class="lthes">Copyright &copy; 2013 - $current.dateTime.format("%Y") by Hartmut Schweidler</div>
<div class="rthes">Letzte &Auml;nderung am &nbsp;$current.dateTime.format("%d.%B %Y")</div>
<div class="mit"><a href="http://blog.hes61.de/?page_id=111">&raquo; Impressum &laquo;</a>
                 <a href="http://blog.hes61.de/datenschutz/">&raquo; Datenschutz &laquo;</a></div>
</div>
</div><!-- end id "footer" -->
</div>
  </body>
</html>
