#errorCatcher Echo
##    $Revision: 248 $
##    $Author: tkeffer $
##    $Date: 2010-04-18 15:59:52 -0700 (Sun, 18 Apr 2010) $
#set $YM="%m"
#set $D="  %d"
#set $M=" %b"
#set $NODAY=" N/A"
#set $Rain="%6.1f"
#set $Wind="%6.1f"
#set $Dir="%6.0f"
#set $Count="%6d"
#set $NONE="   N/A"
#if $unit.unit_type_dict.group_rain == "mm"
#set $Trace    =(.25,  "mm")
#set $Raine    =(2.5,   "mm")
#set $Soak     =(25.0,"mm")
#set $Rain="%6.1f"
#else
#set $Trace    =(0.025,"cm")
#set $Raine    =(0.25, "cm")
#set $Soak     =(2.5,"cm")
#set $Rain="%6.2f"
#end if
#def ShowInt($T)
$("%6d" % $T[0])#slurp
#end def
#def ShowFloat($R)
$("%6.2f" % $R[0])#slurp
#end def

[  
#for $month in $year.months($data_binding = 'weewx_binding')
#if $month.dateTime.format($YM) > "01"
,
#end if
#if $month.barometer.count.raw
[$month.rain.sum_ge($Raine).nolabel($Count,$NONE) ]
#else
[  ]
#end if
#end for
 ]

