## like this works (in page, not in head), but it is not good practice.

.forecast {
  clear: both;
}
.forecast td {
  font-size: 100%;
  text-align: left;
}
.forecast table {
  table-layout: fixed;
}
.legend {
}
.legend tr {
  vertical-align: top;
}
.summary {
}
.summary tr {
  vertical-align: top;
}
.period {
}
.disclosure {
  width: 20px;
}
.col-outlook {
  width: 48px;
}
.col-date {
  width: 80px;
}
.col-temp {
  width: 60px;
}
.col-dewpoint {
  width: 60px;
}
.col-humidity {
  width: 60px;
}
.col-wind {
  width: 60px;
  height: 64px;
}
.col-uv {
  width: 60px;
}
.col-pop {
  width: 40px;
}
.col-precip {
}
.col-obvis {
}
.col-tides {
  width: 2px;
}
.col-sun {
  width: 60px;
}
.col-moon {
  width: 60px;
}
.col-moonphase {
  width: 60px;
}
.units {
  color: #aaaaaa;
}
.day {
  font-size: 90%;
}
.hour {
  font-size: 90%;
}
.date {
  font-size: 90%;
}
.temphi {
  color: #ff4444;
}
.templo {
  color: #4444ff;
}
.windgust {
  color: #aaaaaa;
}
.winddir {
  color: #aaaaaa;
}
.winddir-img {
  width: 40px;
}
.outlook-img {
  width: 40px;
}
.legend-img {
  width: 30px;
}
.pop-img {
  width: 12px;
}
.precip-img {
  width: 24px;
}
.obvis-img {
  width: 24px;
}
.sources p {
  font-size: 10pt;
  font-style: italic;
  color: #aaaaaa;
}
