## isswatch for weewx - Copyright 2016 Chris Davies-Barnard
#errorCatcher Echo
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->

    <title>ISS-Überflug</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type='text/javascript' src='js/hesweewx.js'></script>
    <style>
			body {
				font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
			  font-size: 12px;
			  background-color: #ffffff;
				/*width:75%;*/
				margin: 10px auto;
				text-align:center;
			}	
			
			div { margin-bottom:10px; }
			
			div.alert-box{
			    color:#555;
			    border-radius:10px;
			    padding:10px 10px 10px 36px;
			}
			div.notice {
			    background:#e3f7fc;
			    border:1px solid #8ed9f6;
			}

			table.gridtable {
				color:#333333;
 				border-radius:10px;				
				border-width: 1px;
				border-color: #666666;
				border-collapse: collapse;
				width:100%;
			}
			table.gridtable th {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background:#e3f7fc;
			}
			table.gridtable td {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background-color: #ffffff;
			}
		</style>
  </head>

<body>
 <div id="hes11">
  <div id='header'>
   <div id="masthead">
   <h1>Wetterstation&nbsp;$station.location</h1>
   <p>Breitengrad:&nbsp;$station.latitude[0]&deg; $station.latitude[1]'
       $station.latitude[2]&nbsp;&brvbar;&nbsp;
      L&auml;ngengrad:&nbsp;$station.longitude[0]&deg;
      $station.longitude[1]' $station.longitude[2]&nbsp;&brvbar;&nbsp;
      H&ouml;he:&nbsp;$station.altitude</p>
    <h2>Aktuelle Messwerte am&nbsp;$current.dateTime.format("%A"), den&nbsp;$current.dateTime&nbsp;Uhr&nbsp;
      $current.dateTime.format("%Z")</h2>
  <div class="navbar">
   <ul id="nav">
    <li><input type="button" value=" zurück/ back " onclick="openURL('index.html')" /></li>
   </ul>
  </div> <!-- End navbar1 -->
 </div><!-- Ende masthead -->
</div> <!-- Ende header -->

<div class="mittetab">
<!-- The next sighting -->
 <div>
     <p>Die nächste <strong>$issnext.title</strong> voraussichtlich um <strong>$issnext.time</strong> am <strong>$issnext.date</strong></p>
     <p>Sie erscheint für ca. $issnext.duration,&nbsp; über dem Horizont bei $issnext.approach und wird bei $issnext.departure aus dem Sichtbereich verschwinden,<br /> 
       vorausgesetzt der Himmel ist wolkenfrei. <br />Die maximale Höhe über dem Horizont wird $issnext.maximumelevation&nbsp; betragen. <br />
       Weiteres unter <a href="$issnext.guid"> http://spotthestation.nasa.gov/</a>.</p>
 </div>
		
<!-- All the sightings -->
 <table class="gridtable">
  <tr>
  <th>&nbsp;</th>
   <th title="Published Time Stamp">Datum</th>
   <th>Zeit</th>
   <th>Objekt</th>
   <th>Zeitraum</th>
   <th>erscheint</th>
   <th>Maximale Höhe</th>
   <th>geht unter</th>
 </tr>
#for $sighting in $issall
 <tr>
  <td><a href="$sighting.guid">&#9741;</a></td>
  <td>$sighting.date</td>
  <td>$sighting.time</td>
  <td>$sighting.title</td>
  <td>$sighting.duration</td>
  <td>$sighting.approach</td>
  <td>$sighting.maximumelevation</td>
  <td>$sighting.departure</td>
 </tr>
#end for
 </table>
</div>
<div id='footer'><footer>

##include $Extras.footer

<div style="background-color: gold">
      <p>
      Breitengrad:&nbsp;$station.latitude[0]&deg; $station.latitude[1]'
       $station.latitude[2]&nbsp;&brvbar;&nbsp;
      L&auml;ngengrad:&nbsp;$station.longitude[0]&deg;
      $station.longitude[1]' $station.longitude[2]&nbsp;&brvbar;&nbsp;
      H&ouml;he:&nbsp;$station.altitude
      </p>
</div>

<div style="background-color:yellow">
     weewx-Laufzeit:&nbsp; $station.uptime&nbsp;&nbsp;&#124;&nbsp;&nbsp;
     Serverlaufzeit:&nbsp; $station.os_uptime&nbsp;&nbsp;&#124;&nbsp;&nbsp;
     weewx  Version:&nbsp; $station.version<br />
     Wetterstation:&nbsp;$station.hardware&nbsp;&#124;&nbsp;Station 6345CSOV&nbsp;&#124;
     Zusatz: forecast; cmon; owfs mit 13 Sensoren; Scheehöhe; DWD-Vorschau; DWD-Pollen
</div>

<p>
 #if $Extras.has_key('station_subtitle')
     $Extras.station_subtitle<br/>
 #end if
</p>
</footer>
</div>
</div>
</body>
</html>
