#errorCatcher Echo
## Standard for weewx - Copyright 2015 Hartmut Schweidler
## Alt_Air.html.tmpl  2017-11-04 23:24:18Z hes $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location Luft Sensoren - Daten</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src='js/hesweewx.js'></script>

  </head>

<body>
 <div id="hes11"> 
   #include $Extras.header
  <div id="stats_group">
    ##include $Extras.current
  </div> <!--End class "stats_group" -->  
  <div id="content">        
   <div id="about">
    <div class="section">

<h2>Luftgütesensoren</h2>
<p>Die Sensoren werden mit der Erweiterung GrovePi mit einem Raspberry Pi verbunden. Die Staubsensoren sind per USB verbunden.</p>
<hr /> 
<h3>Luft - Staubsensoren PM 2,5 (ppm)</h3>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
    <tr><td colspan='13'>Maximum PM 2.5 </td></tr>
#for $year in $alltime.years($data_binding='air2_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air2_binding')
         #if $month.pm_25.max.raw is not None:
            <td class="stats_data" style="$decorator_color('pm_25', $month.pm_25.max.raw)">$month.pm_25.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Mittel PM 2.5 </td></tr>
#for $year in $alltime.years($data_binding='air2_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air2_binding')
         #if $month.pm_25.avg.raw is not None:
            <td class="stats_data" style="$decorator_color('pm_25', $month.pm_25.avg.raw)">$month.pm_25.avg.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Minimum PM 2.5 </td></tr>
#for $year in $alltime.years($data_binding='air2_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air2_binding')
         #if $month.pm_25.min.raw is not None:
            <td class="stats_data" style="$decorator_color('pm_25', $month.pm_25.min.raw)">$month.pm_25.min.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
</table>
<hr />

<h3>Luft - Staubsensoren PM 10 (ppm)</h3>

<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
    <tr><td colspan='13'>Maximum PM 10 </td></tr>
#for $year in $alltime.years($data_binding='air2_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air2_binding')
         #if $month.pm_10.max.raw is not None:
            <td class="stats_data" style="$decorator_color('pm_10', $month.pm_10.max.raw)">$month.pm_10.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Mittel PM 10 </td></tr>
#for $year in $alltime.years($data_binding='air2_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air2_binding')
         #if $month.pm_10.avg.raw is not None:
            <td class="stats_data" style="$decorator_color('pm_10', $month.pm_10.avg.raw)">$month.pm_10.avg.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Minimum PM 10 </td></tr>
#for $year in $alltime.years($data_binding='air2_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air2_binding')
         #if $month.pm_10.min.raw is not None:
            <td class="stats_data" style="$decorator_color('pm_10', $month.pm_10.min.raw)">$month.pm_10.min.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
 </table>
<hr />
<h3>Luft Air - Sensor (ppm)</h3>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
    <tr><td colspan='13'>Maximum Air</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.air_sensor.max.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.air_sensor.max.raw)">$month.air_sensor.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Mittel Air </td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.air_sensor.max.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.air_sensor.max.raw)">$month.air_sensor.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Minimum Air</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.air_sensor.min.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.air_sensor.min.raw)">$month.air_sensor.min.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
</table>
<hr />
<h3>Luft LPG, CH4 Sensor (ppm) </h3>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
    <tr><td colspan='13'>Maximum LPG, CH4</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gas_sensor.max.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gas_sensor.max.raw)">$month.gas_sensor.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Mittel LPG, CH4</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gas_sensor.avg.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gas_sensor.avg.raw)">$month.gas_sensor.avg.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Minimum LPG, CH4 </td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gas_sensor.min.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gas_sensor.min.raw)">$month.gas_sensor.min.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
</table>
<hr />
<h3>Luft HCHO-Sensor (ppm) </h3>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
    <tr><td colspan='13'>Maximum HCHO</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.hcho_sensor.max.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.hcho_sensor.max.raw)">$month.hcho_sensor.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Mittel HCHO</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.hcho_sensor.avg.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.hcho_sensor.avg.raw)">$month.hcho_sensor.avg.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Minimum HCHO</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.hcho_sensor.min.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.hcho_sensor.min.raw)">$month.hcho_sensor.min.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
</table>
<hr />
<h3>Luft Gas C Sensor (ppm) </h3>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
    <tr><td colspan='13'>Maximum Gas C</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasC_sensor.max.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasC_sensor.max.raw)">$month.gasC_sensor.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Mittel Gas C</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasC_sensor.avg.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasC_sensor.avg.raw)">$month.gasC_sensor.avg.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Minimum Gas C</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasC_sensor.min.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasC_sensor.min.raw)">$month.gasC_sensor.min.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
</table>
<hr />
<h3>Luft Gas O³ Sensor (ppm) </h3>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
    <tr><td colspan='13'>Maximum Gas O</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasO_sensor.max.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasO_sensor.max.raw)">$month.gasO_sensor.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Mittel Gas O</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasO_sensor.avg.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasO_sensor.avg.raw)">$month.gasO_sensor.avg.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Minimum Gas O</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasO_sensor.min.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasO_sensor.min.raw)">$month.gasO_sensor.min.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
</table>
<hr />
<h3>Luft Gas N Sensor (ppm) </h3>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
    <tr><td colspan='13'>Maximum Gas N</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasN_sensor.max.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasN_sensor.max.raw)">$month.gasN_sensor.max.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Mittel Gas N</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasN_sensor.avg.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasN_sensor.avg.raw)">$month.gasN_sensor.avg.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
    <tr><td colspan='13'>Minimum Gas N</td></tr>
#for $year in $alltime.years($data_binding='air_binding')
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months($data_binding='air_binding')
         #if $month.gasN_sensor.min.raw is not None:
            <td class="stats_data" style="$decorator_color('gas', $month.gasN_sensor.min.raw)">$month.gasN_sensor.min.formatted</td>
         #else
            <td>-</td>
         #end if
     #end for
    </tr>
#end for
</table>
   </div> <!-- end id "about" -->
  </div>  <!-- end id "content" -->
 </div> 

  #include $Extras.footer

</div>
</body>

</html>
