#errorCatcher Echo
## Standard for weewx - Copyright 2012-2013 Matthew Wall
## $Id: index.html.tmpl 743 2013-12-22 23:24:18Z mwall $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta charset="utf-8"> 
    <!-- <meta http-equiv='Content-Type' content='text/html; charset=utf-8' /> -->
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location Messwerte</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />

    <script src='js/hesweewx.js'></script>
    <script src="js/RGraph.gauge.js"></script> 
    <script src="js/RGraph.common.core.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/gauge.js"></script>

  </head>

<body>
 <button onclick="topFunction()" id="hesBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("hesBtn").style.display = "block";
    } else {
        document.getElementById("hesBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

  <div id='hes11'>
    #include $Extras.header
    #include $Extras.cwarn
    #include 'index_warn.inc'
    #include 'index_alerts.inc'

   <div id="stats_group">

    #include $Extras.current

    #set $windT_dir_dict = {"N" : "Nord", "NNE" : "Nordnordost", "NE" : "Nordost", "ENE" : "Ostnordost", "E" : "Ost", "ESE" : "Ostsüdost", "SE" : "Südost", "SSE" : "Südsüdost", "S" : "Süd", "SSW" : "Südsüdwest", "SW" : "Südwest", "WSW" : "Westsüdwest", "W" : "West", "WNW" : "Westnordwest", "NW" : "Nordwest", "NNW" : "Nordnordwest"}
    #set global $period1 = $yesterday
    #set global $period2 = $day
    #set global $period1Name = "Gestern"
    #set global $period2Name = "Heute"
   
    #include $Extras.chart

    <p>&nbsp;</p>
    <div id="radar_img1">
      <p>Wetterwarnung DWD</p>
       <a href="http://www.dwd.de/DE/wetter/warnungen/warnWetter_node.html">
       <img src="http://www.dwd.de/DWD/warnungen/warnapp/json/warning_map.png" alt="WetterWarn" /></a>
    </div>
    <div id="radar_img2">
     <p>Wetterbild Dach</p>
      <a href="xicons/wet/snapshot.jpg">
      <img src="xicons/wet/snapshot.jpg" alt="wetterDach" /></a>
    </div>
    #if $Extras.has_key('radar_img')
     <div id="radar_img3">
      <a  href="$Extras.radar_url"> 
      <img src="$Extras.radar_img" alt="Radar" /></a>
      <p>Vergr&ouml;&szlig;ern, einfach Anklicken</p>
     </div>
    #end if
    <p>&nbsp;</p>
    #if $Extras.has_key('radar_local_img')
     <div id="radar_local_img">
      <a  href='$Extras.radar_local_img'>
      <img class='radar' src='$Extras.radar_local_img' alt='radar'/></a>
      <p>Vergr&ouml;&szlig;ern, einfach Anklicken</p>     
     </div>
    #end if
     <div id="radar_blitz">
       <a href="http://www.lightningmaps.org/realtime?lang=de" title="Quelle der Blitzkarte">
       <img src="http://images.blitzortung.org/Images/image_b_de.png" title="Blitzkarte für Deutschland" alt="Blitzkarte Deutschland" /></a>
     </div> <!--End Blitzkarte -->
     <div id="radar_wetter">
       <a href="http://niederschlagsradar.de/" title="Quelle des Niederschlagsradar">
       <img src="http://niederschlagsradar.de/image.ashx?type=loop3stunde&jaar=-2&regio=homepage&tijdid=201511212239&time=&bliksem=0" title="Niederschlagsradar Deutschland" alt="Niederschlagsradar(Wetterradar) Deutschland" /></a>
     </div> <!-- End Wetterradar -->
     <div id="radar_iso">
       <a href="http://www.dwd.de/DE/leistungen/hobbymet_wk_europa/hobbyeuropakarten.html#buehneTop" title="Bodenluftdruck / Fronten / Wetter">
       <img src="http://www.dwd.de/DWD/wetter/wv_spez/hobbymet/wetterkarten/bwk_bodendruck_na_ana.png" alt="bild" />
       </a>
     </div>
     <div>
       #include $Extras.about
       #include $Extras.upweewx
     </div>
    </div> <!--End class "stats_group" -->
    <div id="content">
     <div id="about">
      <div class="header">
       <h3>T&auml;gliche Statistik und Diagramme</h3>
      </div>
     </div> <!-- End id "about" -->
     <div id="hes">  <!-- align="center"> -->
       #include 'zeitdiff.inc'
     </div>
     <hr />
     <div id="plots">
      <table>
       <tr>
        <td>
        <canvas id="temout" width="250" height="250"></canvas>
        </td>
        <td>$trend.outTemp</td>
        <td><img src="daytemp.png"   alt="temperatures" /></td>
       </tr>
       <tr>
        <td>
        <canvas id="dewpo" width="250" height="250"></canvas>
        </td>
        <td>$trend.dewpoint<br />  </td>
        <td><img src="daydewpoint.png" alt="dewpoint" /></td>
       </tr>
       <tr>
        <td>
        <canvas id="wici" width="250" height="250"></canvas>
        </td>
        <td>$trend.windchill<br />  </td>
        <td><img src="daywindchill.png" alt="windchill" /></td>
       </tr>
       <tr>
        <td>
        <canvas id="hiin" width="250" height="250"></canvas>
        </td>
        <td>$trend.heatindex<br />  </td>
        <td><img src="dayheatindex.png" alt="heatindex" /></td>
       </tr>
       <tr>
        <td>
        <canvas id="humout" width="250" height="250"></canvas>
        </td>
        <td>$trend.outHumidity</td>
        <td><img src="dayhumid.png"     alt="humidity" /></td>
       </tr>
       <tr>
        <!-- <td>Luftfeuchte absolut</td> -->
        <td> <canvas id="abscvs" width="250" height="250"></canvas></td>
        <td>$current.absolutF</td>
        <td><img src="dayabsF.png" alt="absolute Luftfeuchte" /></td>
       </tr>
       <tr>
        <td>
        <canvas id="barout" width="250" height="250"></canvas>
        </td>
        <td>   
            <!-- note: these thresholds are for millibar, not inHg -->
                   #if $varExists('trend')
                    #if $trend.barometer.raw is not None:
                    #if $trend.barometer.raw > 6
                          <h1>&#8679;&#8679;&#8679;</h1>
                    #elif $trend.barometer.raw > 3
                          <h1>&#8679;&#8679;</h1>
                    #elif $trend.barometer.raw > 0.5
                          <h1>&#8679;</h1>
                    #elif $trend.barometer.raw < -6
                          <h1>&#8681;&#8681;&#8681;</h1>
                    #elif $trend.barometer.raw < -3
                          <h1>&#8681;&#8681;</h1>
                    #elif $trend.barometer.raw < 0.5
                          <h1>&#8681;</h1>
                    #end if
                    #end if
                    #end if
        </td>
        <td><img src="daybarometer.png" alt="barometer"/></td>
       </tr>
       <tr>
        <td> 
        <canvas id="reghes" width="250" height="250"></canvas>
        </td>   
        <td>$day.rain.sum</td>
        <td><img src="dayrain.png"      alt="Regen in 5min und am Tag" /></td>
       </tr>
       <tr>
        <td>Schneehöhe</td>
        <td>$day.snowTotal.max</td>
        <td><img src="daysnow.png" alt="Schnee" /></td>
       </tr>
       <tr>
        <td>ET Verdunstung</td>
        <td>$current.ET</td>
        <td><img src="dayET.png" alt="Verdunstung" /></td>
       </tr>
       <tr>
        <td>Regen - Verdunstung</td>
        <td>&nbsp;</td>
        <td><img src="dayrain_ET.png" alt="Regen_Verdunstung" /></td>
       </tr>
       <tr>
        <td>Windgeschwindigkeit:&nbsp;$current.windSpeed<br /><br /><br />
            Spitzenwindgeschwindigkeit:&nbsp;$current.windGust
        </td>
        <td>
           #if $current.windSpeed.raw is None:
                <img src='xicons/wind/wind_0.png alt='windstill' />
           #else
             #if $current.windSpeed.raw < 2
               <h1 style="background-color: #ffffff;">0</h1>
             #else if $current.windSpeed.raw >= 2 and $current.windSpeed.raw <= 5
               <h1 style="background-color: #d4d4fa;">1</h1>
             #else if $current.windSpeed.raw >= 6 and $current.windSpeed.raw <= 11
               <h1 style="background-color: #bcbcfa;">2</h1>
             #else if $current.windSpeed.raw >= 12 and $current.windSpeed.raw <= 19
               <h1 style="background-color: #a4a4f8;">3</h1>
             #else if $current.windSpeed.raw >= 20 and $current.windSpeed.raw <= 28
               <h1 style="background-color: #8d8df6;">4</h1>
             #else if $current.windSpeed.raw >= 29 and $current.windSpeed.raw <= 38
                <h1 style="background-color: #7575f2;">5</h1>
             #else if $current.windSpeed.raw >= 39 and $current.windSpeed.raw <= 49
               <h1 style="background-color: #6363f0;">6</h1>
             #else if $current.windSpeed.raw >= 50 and $current.windSpeed.raw <= 61
               <h1 style="background-color: #5252ed;">7</h1>
             #else if $current.windSpeed.raw >= 62 and $current.windSpeed.raw <= 74
               <h1 style="background-color: #4646eb;">8</h1>
             #else if $current.windSpeed.raw >= 75 and $current.windSpeed.raw <= 88
               <h1 style="background-color: #3838e8; color: #ffffff;">9</h1>
             #else if $current.windSpeed.raw >= 89 and $current.windSpeed.raw <= 102
               <h1 style="background-color: #2929e5; color: #ffffff;">10</h1>
             #else if $current.windSpeed.raw >= 103 and $current.windSpeed.raw <= 117
               <h1 style="background-color: #1616e3; color: #ffffff;">11</h1>
             #else if $current.windSpeed.raw > 117
               <h1 style="background-color: #000000; color: #ffffff;">12</h1>
             #end if
           #end if
           #if $current.windGust.raw is None:
                <img src='xicons/wind/wind_0.png alt='windstill' />
           #else
             #if $current.windGust.raw < 2
               <h1 style="background-color: #ffffff;">0</h1>
             #else if $current.windGust.raw >= 2 and $current.windGust.raw <= 5
               <h1 style="background-color: #d4d4fa;">1</h1>
             #else if $current.windGust.raw >= 6 and $current.windGust.raw <= 11
               <h1 style="background-color: #bcbcfa;">2</h1>
             #else if $current.windGust.raw >= 12 and $current.windGust.raw <= 19
               <h1 style="background-color: #a4a4f8;">3</h1>
             #else if $current.windGust.raw >= 20 and $current.windGust.raw <= 28
               <h1 style="background-color: #8d8df6;">4</h1>
             #else if $current.windGust.raw >= 29 and $current.windGust.raw <= 38
                <h1 style="background-color: #7575f2;">5</h1>
             #else if $current.windGust.raw >= 39 and $current.windGust.raw <= 49
               <h1 style="background-color: #6363f0;">6</h1>
             #else if $current.windGust.raw >= 50 and $current.windGust.raw <= 61
               <h1 style="background-color: #5252ed;">7</h1>
             #else if $current.windGust.raw >= 62 and $current.windGust.raw <= 74
               <h1 style="background-color: #4646eb;">8</h1>
             #else if $current.windGust.raw >= 75 and $current.windGust.raw <= 88
               <h1 style="background-color: #3838e8; color: #ffffff;">9</h1>
             #else if $current.windGust.raw >= 89 and $current.windGust.raw <= 102
               <h1 style="background-color: #2929e5; color: #ffffff;">10</h1>
             #else if $current.windGust.raw >= 103 and $current.windGust.raw <= 117
               <h1 style="background-color: #1616e3; color: #ffffff;">11</h1>
             #else if $current.windGust.raw > 117
               <h1 style="background-color: #000000; color: #ffffff;">12</h1>
             #end if
           #end if
        </td>
        <td><img src="daywind.png"      alt="wind" /></td>
       </tr>
       <tr>
        <td>Windrichtung:&nbsp;
             #if $current.windDir.ordinal_compass is None:
              <h1>-</h1>
             #else
              <h1>$current.windDir.ordinal_compass</h1></td>
             #end if
             <td>
       #if $current.windDir.raw is None:
                     <h1>-</h1>
       #else
        #if $current.windDir.raw < 22.5
              <h1> &#8593;</h1>  <!-- 8593 -->
        #elif $current.windDir.raw < 67.5
              <h1> &#8599;</h1>  <!-- 8599 -->
        #elif $current.windDir.raw < 112.5
              <h1> &#8594;</h1>   <!-- 8594 -->
        #elif $current.windDir.raw < 157.5
              <h1> &#8600;</h1>  <!-- 8600 -->
        #elif $current.windDir.raw < 202.5
              <h1> &#8595;</h1>  <!-- 8595 -->
        #elif $current.windDir.raw < 247.5
              <h1> &#8601;</h1>  <!-- 8601 -->
        #elif $current.windDir.raw < 292.5
              <h1> &#8592;</h1>  <!-- 8592 -->
        #elif $current.windDir.raw < 337.5
              <h1> &#8598;</h1>  <!-- 8598 -->
        #else
              <h1> &#8593;</h1>  <!-- 8593 -->
        #end if
       #end if
        </td>
        <td><img src="daywinddir.png"   alt="Hi Wind" /></td>
       </tr>
       <tr>
        <td colspan='2'><img src="wr/daywindspeed.png" alt="windRose" width="260" height="250" /></td>
        <!-- <td></td> -->
        <td><img src="daywindvec.png"   alt="Wind Vector" /></td>
       </tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>one-wire OWFS Temperatursensor</td></tr>
       <tr>
        <td>
        <canvas id="temcar" width="250" height="250"></canvas>
        </td>
        <td>$current.extraTemp4&nbsp;</td>
        <td><img src="dayGartenTemp.png"    alt="Garten" /></td>
       </tr>
       <tr>
        <td>&nbsp;</td>
        <td>$current.extraTemp9&nbsp;</td>
        <td><img src="dayCarport.png"    alt="Carport" /></td>
       </tr>
       <tr><td>one-wire</td><td>&nbsp;</td><td>Teiche Wassertemperatur</td></tr>
       <tr>
        <td>
         Teich ca. 0,75 m³<br />Wassertemperatur
        </td>
        <td>&nbsp;</td>
        <td><img src="dayTeichTemp.png"    alt="EXTRA1" /></td></tr>
       <tr>
        <td>
         Teich ca. 96 m³<br />Wassertemperatur
        </td>
        <td>&nbsp;</td>
        <td><img src="dayBadTemp.png"    alt="Badeteich" /></td></tr>
       <tr>
        <td>
         Teich ca. 20 m³<br />Wassertemperatur
        </td>
        <td>&nbsp;</td>
        <td><img src="dayFischTemp.png"    alt="Goldfischteich" /></td>
       </tr>
       <tr>
        <td>Wassertonne:&nbsp;$current.extraTempO0</td>
        <td></td>
        <td><img src="dayTonne.png"        alt="Tag Wassertonne Index"/></td>
       </tr>
       <tr>
        <td>Teichfilter:&nbsp;$current.leafTemp1</td>
        <td></td>
        <td><img src="dayfilter.png"        alt="Tag WasserFilter"/></td>
       </tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>Licht- / Solarsensor</td></tr>
       <tr>
        <td>Helligkeit:&nbsp;$current.lighting</td>
        <td></td>
        <td><img src="daylighting.png" alt="Helligkeit" /></td>
       </tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>Davis Vantage PRO 2 UV+Solarstrahlung</td></tr>
       <tr>
        <td>Globalstrahlung:&nbsp;$current.radiation</td>
        <td></td>
        <td><img src="dayradiation.png" alt="Radiation" /></td>
       </tr>
       <tr>
        <td>Sonnenschein:&nbsp;$day.sunshineS.sum.hour</td>
        <td></td>
        <td><img src="daysun.png"        alt="Tag Sonne"/></td>
       </tr>
       <tr>
        <td>Sonnenenergie:&nbsp;$day.radiation.energy_integral</td>
        <td></td>
        <td><img src="monthRadiationEnergy.png"   alt="Monat Sonne Energie"/></td>
       </tr>
       <tr>
        <td>UV-Index:&nbsp;$current.UV</td>
        <td></td>
        <td><img src="dayuv.png"        alt="Tag UV Index"/></td>
       </tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>one-wire OWFS Temperatursensor</td></tr>
       <tr>
        <td>Temperatur +100 +5 und -5 cm</td>
        <td></td>
        <td><img src="dayBoden0.png"  alt="Boden +5cm -5cm" /></td>
       </tr>
       <tr>
        <td>Temperatur +5 cm über Boden</td>
        <td></td>
        <td><img src="dayBoden5.png"  alt="Boden 5cm" /></td>
       </tr>
       <tr>
        <td>Bodentemperatur -5 -10 -20 -50 -100 cm</td>
        <td></td>
        <td><img src="daysoilT.png"   alt="Bodentemperatur" /></td>
       </tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>Davis Sensorstation 6345OVCS</td></tr>
       <tr>
        <td>Davis-Bodentemperatur -5 -10 -20 -50 cm</td>
        <td></td>
        <td><img src="daysoilD.png" alt="Davis-Bodentemperatur" /></td>
       </tr>
       <tr>
        <td>Bodenfeuchtigkeit</td>
        <td></td>
        <td><img src="daysoilF.png" alt="Davis-Bodenfeuchtigkeit" /></td>
       </tr>
       <tr>
        <td>Blattfeuchtigkeit</td>
        <td></td>
        <td><img src="dayleafW.png" alt="Davis-Blattfeuchtigkeit" /></td>
       </tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>AQI & Gassensor</td></tr>
       <tr>
        <td colspan='2'>
         <div style = "$decorator_color('pm_25', $latest($data_binding='aqiCar_binding').aqi_pm2_5_category.raw)">
               AQI-Carport:&nbsp;$latest($data_binding='aqiCar_binding').aqi_pm2_5 &nbsp;(
              $decorator_text('pm_25', $latest($data_binding='aqiCar_binding').aqi_pm2_5_category.raw) &nbsp;) 
         </div>
        </td>
        <td><img src="dayAqiPM25C.png" alt="Air-Quality-Index" /></td>
       </tr>
       <tr>
        <td>PM 2.5 Carport:&nbsp; $latest($data_binding='airCar_binding').pm_25
        </td>
        <td>&nbsp;</td>
        <td><img src="dayPM25C.png" alt="Air-Quality-Index" /></td>
       </tr>
       <tr>
        <td>PM 10 Carport:&nbsp; $latest($data_binding='airCar_binding').pm_10
        </td>
        <td>&nbsp;</td>
        <td><img src="dayPM10C.png" alt="Air-Quality-Index" /></td>
       </tr>
       <!-- <tr>
        <td>Air-Sensor&nbsp; $latest($data_binding='air_binding').air_sensor</td>
        <td> &nbsp; </td>
        <td><img src="dayAir.png" alt="Air-Quality" /></td>
       </tr> 
       <tr>
        <td>HCHO-Sensor&nbsp; $latest($data_binding='air_binding').hcho_sensor</td>
        <td> &nbsp; </td>
        <td><img src="dayHCHO.png" alt="HCHO-Quality" /></td>
       </tr>
       <tr>
        <td>Gas-Sensor(MQ-9)&nbsp; $latest($data_binding='air_binding').gas_sensor</td>
        <td> &nbsp; </td>
        <td><img src="dayGas.png" alt="Gas-Sensor-Quality" /></td>
       </tr>
       <tr>
        <td>Gas-Sensor(MQ-2)&nbsp; $latest($data_binding='air_binding').gasC_sensor</td>
        <td> &nbsp; </td>
        <td><img src="dayGasC.png" alt="Gas-Sensor-Quality" /></td>
       </tr> -->
       <tr>
        <td>
         PM 2.5 Sensor&nbsp;B&nbsp; $latest($data_binding='air2_binding').pm_25
        </td>
        <td>
         &nbsp;
        </td>
        <td><img src="dayPM25.png" alt="PM 2.5 Quality" /></td>
       </tr>
       <tr>
        <td>
         PM 10 Sensor&nbsp;B&nbsp; $latest($data_binding='air2_binding').pm_10
        </td>
        <td>
         &nbsp;
        </td>
        <td><img src="dayPM10.png" alt="PM 10 Quality" /></td>
       </tr>
       <tr>
        <td>
         AQI Index Aeris&nbsp; $latest($data_binding='aerisaqi_binding').aqi
        </td>
        <td>
         &nbsp;
        </td>
        <td><img src="dayAQI.png" alt="AQI Index" /></td>
       </tr>
       <tr>
        <td>
         PM 2,5 Aeris&nbsp; $latest($data_binding='aerisaqi_binding').pm25<br>
         PM 10 Aeris&nbsp; $latest($data_binding='aerisaqi_binding').pm10
        </td>
        <td>
         &nbsp;
        </td>
        <td><img src="dayPM.png" alt="PM 10 PM 2,5" /></td>
       </tr>
       <tr>
        <td>Gase Aeris</td> <td>&nbsp;</td> <td><img src="dayGASOCO.png" alt="Gase o3 co Quality" /></td>
        <td>Gase Aeris</td> <td>&nbsp;</td> <td><img src="dayGANOSO.png" alt="Gase no so Quality" /></td>
       </tr>
       <tr>
        <td>&nbsp;</td><td>&nbsp;</td><td>Innen</td>
       </tr>
       <tr>
        <td>
        <canvas id="temin" width="250" height="250"></canvas>
        </td>
        <td>$trend.inTemp</td>
        <td><img src="dayinTemp.png"    alt="Inside" /></td>
       </tr>
       <tr>
        <td>
        <canvas id="humin" width="250" height="250"></canvas>
        </td>
        <td>$trend.inHumidity</td>
        <td><img src="dayinHumid.png"    alt="InsideHumid" /></td>
       </tr>
       <tr>
        <td>
        <canvas id="dewpi" width="250" height="250"></canvas>
        </td>
        <td>$trend.inDewpoint</td>
        <td><img src="dayindew.png"    alt="Inside" /></td>
       </tr>
       <tr>
        <td>
         $current.appTemp
        </td>
        <td>&nbsp;</td>
        <td><img src="dayapptemp.png"    alt="temp scheinbar" /></td>
       </tr>
       #if $day($data_binding='air_binding').sound.has_data
       <tr>
        <td>
         Sound-Sensor&nbsp; $latest($data_binding='air_binding').sound.format("%.1f")
        </td>
        <td>
         &nbsp;
        </td>
        <td><img src="daySound.png" alt="Sound-Quality" /></td>
       </tr>
       #end if
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>Berechnung</td></tr>
       <tr>
        <td>
         $current.cloudbase
        </td>
        <td>&nbsp;</td>
        <td><img src="daycloudbase.png"    alt="Wolken" /></td>
       </tr>
       <tr>
        <td>
         $current.windrun
        </td>
        <td>&nbsp;</td>
        <td><img src="daywindrun.png"    alt="Windrun" /></td>
       </tr>
       <tr>
        <td>
         $current.airDensity
        </td>
        <td>&nbsp;</td>
        <td><img src="dayDensity.png"    alt="Luftdichte" /></td>
       </tr>
       <tr>
        <td>
         $current.windDruck
        </td>
        <td>&nbsp;</td>
        <td><img src="dayWindDruck.png"    alt="Winddruck" /></td>
       </tr>
       <tr>
        <td>
         $latest($data_binding='lightning_binding').distance
        </td>
        <td>$latest($data_binding='lightning_binding').energy.format("%.1f")</td>
        <td><img src="dayBlitz.png"    alt="Blitz" /></td>
       </tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>Davis Station / OWFS</td></tr>
       <tr>
        <td>Spannung OWFS:&nbsp;</td>
        <td></td>
        <td><img src="dayVolt.png" alt="Spannung OWFS" /></td>
       </tr>
       <tr>
        <td>Spannung USB:&nbsp;</td>
        <td></td>
        <td><img src="daybattery.png" alt="Spannung USB/OWFS" /></td>
       </tr>
       <tr>
        <td>Spannung Vantage:&nbsp;</td>
        <td></td>
        <td><img src="dayBate.png" alt="Station Voltage" /></td>
       </tr>
       <tr>
        <td>Signalqualität Vantage:&nbsp;</td>
        <td></td>
        <td><img src="dayStat.png" alt="Signal Voltage" /></td>
       </tr>
       <tr><td>Geiger Müller Counter</td><td>&nbsp;</td><td>GMC-300E Plus </td></tr>
       <tr>
        <td>Zerfall je Minute<br />
        $latest($data_binding='geiger_binding').rad_cpm</td>
        <td></td>
        <td><img src="dayGeiger.png" alt="Geige- Station" /></td>
       </tr>
       <tr>
        <td>Radioaktivität:&nbsp;<br />
        $latest($data_binding='geiger_binding').rad_nsvh</td>
        <td></td>
        <td><img src="dayGeigerS.png" alt="Geige Signal " /></td>
       </tr>
       <tr>
        <td>Heiz Grad Tag</td>
        <td>Basis 18,3°C</td>
        <td><img src="daySheat_deg.png" alt="Heiz degree day" /></td>
       </tr>
       <tr>
        <td>Kühl Grad Tag</td>
        <td>Basis 18,3°C</td>         
        <td><img src="dayScool_deg.png" alt="Huehl degree day" /></td>
       </tr>
       <tr>
        <td>Haus Grad Tag</td>
        <td>Basis 15°C</td>
        <td><img src="dayShome_deg.png" alt="Home degree day" /></td>
       </tr>
       <tr>
        <td>THW-Index</td>
        <td>Davis</td>
        <td><img src="daythw.png" alt="thw-index" /></td>
       </tr>
       <tr>
        <td>THSW-Index</td>
        <td>Davis</td>
        <td><img src="daythsw.png" alt="thsw-index" /></td>
       </tr>
      </table>
     </div> <!-- End id "plots" -->
    </div> <!-- End id "content" -->

   #include $Extras.footer

#set $tem1 = $current.outTemp.raw 
#set $dewp = $current.dewpoint.raw
#set $tem3 = $current.outTemp.raw
#set $hum1 = $current.outHumidity.raw
#set $bar1 = $current.barometer.raw
#set $tem2 = $current.inTemp.raw
#set $hum2 = $current.inHumidity.raw
#set $wici = $current.windchill.raw
#set $hiin = $current.heatindex.raw
#set $rainhi = $day.rain.sum.raw
#set $abscvs = $current.absolutF.raw
#set $dewpin = $current.inDewpoint.raw

<script>

    var gauge = new RGraph.Gauge('temout', -10, 40, $tem1)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Temperatur')
        .Set('title.top.size', 12)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('dewpo', -20, 30, $dewp)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Taupunkt')
        .Set('title.top.size', 12)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('dewpi', -20, 30, $dewpin)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Taupunkt')
        .Set('title.top.size', 12)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('temcar', -10, 40, $tem3)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Garten')
        .Set('title.top.size', 12)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();


    var gauge = new RGraph.Gauge('humout', 0, 100, $hum1)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Luftfeuchte')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '%')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('barout', 950, 1050, $bar1)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Luftdruck')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', 'hPa')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('temin', -10, 40, $tem2)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Temperatur')
        .Set('title.top.size', 12)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('humin', 0, 100, $hum2)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Luftfeuchte')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '%')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('wici', -20, 30, $wici)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Windchill')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('hiin', -10, 40, $hiin)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Hitzeindex')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('reghes', 0, 50, $rainhi)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Regen')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', 'mm')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('abscvs', 0, 25, $abscvs)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Luftfeuchte, absolut')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', 'g/m³')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

</script>

</div>

##include $Extras.cookie

</body>

</html>
