#errorCatcher Echo
## Standard for weewx - Copyright 2012-2013 Matthew Wall
## $Id: index.html.tmpl 743 2013-12-22 23:24:18Z mwall $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>

    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location Messwerte</title>
    <link rel="stylesheet" type="text/css" href="hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />

    <script src='js/hesweewx.js'></script>
    <script src="js/RGraph.gauge.js"></script> 
    <script src="js/RGraph.common.core.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/gauge.js"></script>

  </head>

<body>

   <div id='hes11'>

    #include $Extras.header
    #include $Extras.cwarn

   <div id="stats_group">

    #include $Extras.current

    #set global $period1 = $yesterday
    #set global $period2 = $day
    #set global $period1Name = "Gestern"
    #set global $period2Name = "Heute"
   
    #include $Extras.chart

        <p>&nbsp;</p>

        <div id="radar_img">
          <p>Wetterwarnung DWD</p>
           <a href="http://www.dwd.de/DE/wetter/warnungen/warnWetter_node.html">
         <img src="http://www.dwd.de/DWD/warnungen/warnapp/json/warning_map.png" alt="WetterWarn" /></a>
        </div>
        <div id="radar_img">
         <p>Wetterbild Dach</p>
          <a href="xicons/wet/snapshot.jpg" alt="Wetter aktuell"><img src="xicons/wet/snapshot.jpg" alt="wetterDach" /></a>
        </div>

        #if $Extras.has_key('radar_img')
        <div id="radar_img">
              <a  href="$Extras.radar_url"><img src="$Extras.radar_img" alt="Radar" /></a>
          <p>Vergr&ouml;&szlig;ern, einfach Anklicken</p>
        </div>
        #end if
        <p>&nbsp;</p>
        #if $Extras.has_key('radar_local_img')
         <div id="radar_local_img">
          <a  href='$Extras.radar_local_img'><img class='radar' src='$Extras.radar_local_img' alt='radar'/></a>
          <p>Vergr&ouml;&szlig;ern, einfach Anklicken</p>     
         </div>
        #end if
         <div id="radar_blitz">
           <a href="http://www.wetterpool.de" title="Quelle der Blitzkarte: Wetterpool.de"><img src="http://www.wetterpool.de/export/homepagewetter.php?content=blitzkarte_269x338" title="Blitzkarte für Deutschland, letzte 2 Stunden" alt="Blitzkarte für Deutschland, letzte 2 Stunden" /></a>
         </div> <!--End Blitzkarte -->
         <div id="radar_wetter">
           <a href="http://www.meteopool.org" title="Quelle des Niederschlagsradar: meteopool.org"><img src="http://www.meteopool.org/export/homepagewetter.php?content=wetterradar_270x338" title="Niederschlagsradar(Wetterradar) für Deutschland" alt="Niederschlagsradar(Wetterradar) für Deutschland" /></a>
         </div> <!-- End Wetterradar -->



    </div> <!--End class "stats_group" -->
      <div id="content">
        <div id="about">
          <div class="header">
            <h3>T&auml;gliche Statistik und Diagramme</h3>
          </div>
        </div> <!-- End id "about" -->

        <div id="hes">  <!-- align="center"> -->
      <br /> Heute ist der<b>&nbsp;$current.dateTime.format("%j")&nbsp;</b>Tag des Jahres&nbsp;$current.dateTime.format("%Y"). <br />
            #set $now = $current.dateTime.raw
            #set $yeste = $now - 24*3600
            #set $today_daylight = $almanac.sun.set.raw -  $almanac.sun.rise.raw
            #set $yeste_daylight = $almanac($almanac_time=$yeste).sun.set.raw - $almanac($almanac_time=$yeste).sun.rise.raw
            #set $difference = $today_daylight - $yeste_daylight
            #set $seconds = $almanac.sun.set.raw - $almanac.sun.rise.raw
            #set $hours = $seconds //3600
            #set $seconds %= 3600
            #set $minutes = $seconds//60
            #set $seconds %= 60
   
            #set $difhes = $difference
            #set $dh = $difhes //3600
            #set $difhes %= 3600
            #set $dm = $difhes //60
            #set $difhes %= 60
            
            #set $difhes1 = -$difference
            #set $dh1 = $difhes1 //3600
            #set $difhes1 %= 3600
            #set $dm1 = $difhes1 //60
            #set $difhes1 %= 60
               <p>Die maximale Sonnenscheindauer beträgt&nbsp;<b>$("Heute %d Stunden, %d Minuten und %d Sekunden" % ($hours, $minutes, $seconds))</b>,<br/>
            #if $difference > 0
                 dass sind <b> $("%d Sekunden mehr als Gestern " % $difference) </b>oder<b> $("%d Minuten und %d Sekunden." % ($dm, $difhes))</b></p>
            #else
                 dass sind <b> $("%d Sekunden weniger als Gestern " % -$difference) </b>oder<b> $("%d Minuten und %d Sekunden." % ($dm1, $difhes1))</b></p>
            #end if
         <hr />

           <p>Prognose&nbsp;&nbsp;  
           
            #if $varExists('forecast')
             #set $summary = $forecast.weather_summary($Extras.forecast_service)
             #if $summary.clouds is not None
              #set $simg = 'xicons/' + $summary.clouds + '.png'
              <a href='forecast.html'><img src='$simg' alt='$summary.clouds'
               title='$forecast.label('Weather', $summary.clouds)' /></a>&nbsp;
             #end if
             #for $k in $summary.precip
               #set $precip_img = 'xicons/' + $k + '.png'
               <img class='precip-img' src='$precip_img' alt='$k' title='$forecast.label('Weather', $k)' />&nbsp;
             #end for
             #for $k in $summary.obvis
               #set $obvis_img = 'xicons/' + $k + '.png'
               <img class='obvis-img' src='$obvis_img' alt='$k' title='$forecast.label('Weather', $k)' />&nbsp;
             #end for
             $forecast.label('Zambretti', $forecast.zambretti.code)<br />
             Die VantagePro2 Aktiv Plus:&nbsp;$current($data_binding='wdsupp_binding', $max_delta=600).vantageForecastRule.raw
             </p>
             <p>Der Himmel:&nbsp;$forecast.label('Weather', $summary.clouds).&nbsp;
              Die Tagestemperatur zwischen:&nbsp;$forecast.label('Weather', $summary.tempMin)&nbsp;
             und&nbsp;$forecast.label('Weather', $summary.tempMax).<br />
              Die Luftfeuchtigkeit liegt bei:&nbsp;$forecast.label('Weather', $summary.humidity). Der
              Wind aus:&nbsp;$forecast.label('Weather', $summary.windDir)
             &nbsp;mit einer Geschwindigkeit von&nbsp;$forecast.label('Weather', $summary.windSpeed). Die
              Niederschlagswahrscheinlichkeit bei:&nbsp;$forecast.label('Weather', $summary.pop)<br />
              Prognose erstellt am:&nbsp;$forecast.label('Zambretti', $forecast.zambretti.event_ts)</p>             
            #end if 
        </div> 
       <hr />
       <div id="plots">
        <table>
          <tr>
           <td>
            <canvas id="temout" width="250" height="250"></canvas>
            </td>
            <td>$trend.outTemp</td>
            <td><img src="daytempdew.png"   alt="temperatures" /></td>
          </tr>
          <tr>
           <td>
            <canvas id="wihi" width="250" height="250"></canvas>
           </td>
           <td>$trend.windchill<br />$trend.heatindex</td>
           <td><img src="daytempchill.png" alt="heatchill" /></td>
          </tr>
          <tr>
           <td>
            <canvas id="humout" width="250" height="250"></canvas>
           </td>
           <td>$trend.outHumidity</td>
           <td><img src="dayhumid.png"     alt="humidity" /></td>
          </tr>
          <tr>
           <td>
            <canvas id="barout" width="250" height="250"></canvas>
           </td>
           <td>   
            <!-- note: these thresholds are for millibar, not inHg -->
                   #if $varExists('trend')
                    #if $trend.barometer.raw is not None:
                    #if $trend.barometer.raw > 6
                          <h1>&#8679;&#8679;&#8679;</h1>
                    #elif $trend.barometer.raw > 3
                          <h1>&#8679;&#8679;</h1>
                    #elif $trend.barometer.raw > 0.5
                          <h1>&#8679;</h1>
                    #elif $trend.barometer.raw < -6
                          <h1>&#8681;&#8681;&#8681;</h1>
                    #elif $trend.barometer.raw < -3
                          <h1>&#8681;&#8681;</h1>
                    #elif $trend.barometer.raw < 0.5
                          <h1>&#8681;</h1>
                    #end if
                    #end if
                    #end if
           </td>
           <td><img src="daybarometer.png" alt="barometer"/></td>
          </tr>
          <tr>
           <td> 
            <canvas id="reghes" width="250" height="250"></canvas>
           </td>   
           <!-- <td>Regen:&nbsp;$day.rain.sum</td> -->
           <td>&nbsp;</td>
           <td><img src="dayrain1.png"      alt="rain 5min" /></td>
          </tr>
         #if $day.ET.has_data
            <tr>
             <td>ET Verdunstung</td>
             <td>$current.ET</td>
             <td><img src="dayET.png" alt="Verdunstung" /></td>
            </tr>
         #end if
          <tr>
           <td>Windgeschwindigkeit:&nbsp;$current.windSpeed<br />
               Spitzenwindgeschwindigkeit:&nbsp;$day.wind.max
           </td>
           <td>
           #if $current.windSpeed.raw is None:
                <h1>-</h1>
           #else
             #if $current.windSpeed.raw < 2
               <h1 style="background-color: #ffffff;">0</h1>
             #else if $current.windSpeed.raw >= 2 and $current.windSpeed.raw <= 5
               <h1 style="background-color: #d4d4fa;">1</h1>
             #else if $current.windSpeed.raw >= 6 and $current.windSpeed.raw <= 11
               <h1 style="background-color: #bcbcfa;">2</h1>
             #else if $current.windSpeed.raw >= 12 and $current.windSpeed.raw <= 19
               <h1 style="background-color: #a4a4f8;">3</h1>
             #else if $current.windSpeed.raw >= 20 and $current.windSpeed.raw <= 28
               <h1 style="background-color: #8d8df6;">4</h1>
             #else if $current.windSpeed.raw >= 29 and $current.windSpeed.raw <= 38
                <h1 style="background-color: #7575f2;">5</h1>
             #else if $current.windSpeed.raw >= 39 and $current.windSpeed.raw <= 49
               <h1 style="background-color: #6363f0;">6</h1>
             #else if $current.windSpeed.raw >= 50 and $current.windSpeed.raw <= 61
               <h1 style="background-color: #5252ed;">7</h1>
             #else if $current.windSpeed.raw >= 62 and $current.windSpeed.raw <= 74
               <h1 style="background-color: #4646eb;">8</h1>
             #else if $current.windSpeed.raw >= 75 and $current.windSpeed.raw <= 88
               <h1 style="background-color: #3838e8; color: #ffffff;">9</h1>
             #else if $current.windSpeed.raw >= 89 and $current.windSpeed.raw <= 102
               <h1 style="background-color: #2929e5; color: #ffffff;">10</h1>
             #else if $current.windSpeed.raw >= 103 and $current.windSpeed.raw <= 117
               <h1 style="background-color: #1616e3; color: #ffffff;">11</h1>
             #else if $current.windSpeed.raw > 117
               <h1 style="background-color: #000000; color: #ffffff;">12</h1>
             #end if
           #end if
            </td>
            <td><img src="daywind.png"      alt="wind" /></td>
           </tr>
           <tr>
            <td>Windrichtung:&nbsp;
             #if $current.windDir.ordinal_compass is None:
              <h1>-</h1>
             #else
              <h1>$current.windDir.ordinal_compass</h1></td>
             #end if
             <td>
       #if $current.windDir.raw is None:
                      -
       #else
        #if $current.windDir.raw < 22.5
              <h1> &#8593;</h1>
        #elif $current.windDir.raw < 67.5
              <h1> &#8599;</h1>
        #elif $current.windDir.raw < 112.5
              <h1> &#8594;</h1>
        #elif $current.windDir.raw < 157.5
              <h1> &#8600;</h1>
        #elif $current.windDir.raw < 202.5
              <h1> &#8595;</h1>
        #elif $current.windDir.raw < 247.5
              <h1> &#8601;</h1>
        #elif $current.windDir.raw < 292.5
              <h1> &#8592;</h1>
        #elif $current.windDir.raw < 337.5
              <h1> &#8598;</h1>
        #else
              <h1> &#8593;</h1>
        #end if
       #end if
              </td>
              <td><img src="daywinddir.png"   alt="Hi Wind" /></td>
             </tr>
             <tr>
              <td>Wind Vector:&nbsp;</td>
              <td></td>
              <td><img src="daywindvec.png"   alt="Wind Vector" /></td>
          </tr>
          <tr>
           <td>
             <canvas id="temcar" width="250" height="250"></canvas>
           </td>
           <td>$trend.extraTemp2&nbsp;</td>
           <td><img src="dayextra2.png"    alt="Carport" /></td></tr>
         #if $day.extraTemp1.has_data 
          <tr>
           <td>
            Teich ca. 0,75 m³<br />Wassertemperatur
           </td>
           <td>&nbsp;</td>
           <td><img src="dayextra1.png"    alt="EXTRA1" /></td></tr>
         #end if
         #if $day.extraTemp2.has_data
          <tr>
           <td>
            Teich ca. 96 m³<br />Wassertemperatur
           </td>
           <td>&nbsp;</td>
           <td><img src="dayTeichB.png"    alt="Badeteich" /></td></tr>
         #end if
         #if $day.extraTemp6.has_data
          <tr>
           <td>
            Teich ca. 20 m³<br />Wassertemperatur
           </td>
           <td>&nbsp;</td>
           <td><img src="dayTeichG.png"    alt="Goldfischteich" /></td></tr>
         #end if
         #if $day.lighting.has_data
            <tr>
             <td>Helligkeit:&nbsp;$current.lighting</td>
             <td></td>
             <td><img src="daylighting.png" alt="Helligkeit" /></td>
            </tr>
         #end if
         #if $day.radiation.has_data
            <tr>
             <td>Globalstrahlung:&nbsp;$current.radiation</td>
             <td></td>
             <td><img src="dayradiation.png" alt="Radiation" /></td>
            </tr>
         #end if
         #if $day.sunshinehours.has_data
             <tr>
              <td>Sonnenschein:&nbsp;$day.sunshineS.sum.hour</td>
              <td></td>
              <td><img src="daysun.png"        alt="Tag Sonne"/></td>
             </tr>
         #end if
         #if $day.UV.has_data
             <tr>
              <td>UV-Index:&nbsp;$current.UV</td>
              <td></td>
              <td><img src="dayuv.png"        alt="Tag UV Index"/></td>
             </tr>
          #end if
          #if $day.soilTemp1.has_data
            <tr>
             <td>Bodentemperatur +5 -5 -20 -50 -100 cm</td>
             <td></td>
             <td><img src="dayTempB.png"      alt="Boden 5cm Luft" /><br />
                 <img src="daysoilT.png"    alt="Bodentemperatur" /></td>
            </tr>
          #end if
          #if $day.soilMoist1.has_data
            <tr>
             <td>Bodenfeuchtigkeit</td>
             <td></td>
             <td><img src="daysoilF.png"      alt="Bodenfeuchtigkeit" /></td>
            </tr>
          #end if
          <tr>
           <td>
            Air-Sensor&nbsp; $latest($data_binding='air_binding').air_sensor.format('%.1f') ppm
           </td>
           <td>
            &nbsp;
           </td>
           <td><img src="dayAir.png" alt="Air-Quality" /></td>
          </tr> 
          <tr>
           <td>
            Gas-Sensor(MQ-9)&nbsp; $latest($data_binding='air_binding').gas_sensor.format('%.1f') ppm
           </td>
           <td>
            &nbsp;
           </td>
           <td><img src="dayGas.png" alt="Air-Quality" /></td>
          </tr>
          <tr><td>&nbsp;</td><td>&nbsp;</td><td>Innen</td></tr>
          <tr>
           <td>
             <canvas id="temin" width="250" height="250"></canvas>
           </td>
           <td>$trend.inTemp</td>
           <td><img src="dayinside.png"    alt="Inside" /></td>
          </tr>
          <tr>
           <td>
            <canvas id="humin" width="250" height="250"></canvas>
           </td>
           <td>$trend.inHumidity</td>
           <td><img src="dayinhume.png"    alt="InsideHumid" /></td>
          </tr>
          <tr>
           <td>
            $current.inDewpoint
           </td>
           <td>$trend.inDewpoint</td>
           <td><img src="dayindew.png"    alt="Inside" /></td>
          </tr>
          <tr><td>&nbsp;</td><td>&nbsp;</td><td>Berechnung</td></tr>
          <tr>
           <td>
            $current.consBatteryVoltage
           </td>
           <td>$trend.consBatteryVoltage</td>
           <td><img src="dayBate.png"    alt="Stations-Spannung" /></td>
          </tr>
          <tr>
           <td>
            $current.rxCheckPercent
           </td>
           <td>$trend.rxCheckPercent</td>
           <td><img src="dayStat.png"    alt="Stations-Erreichbarkeit" /></td>
          </tr>
          <tr>
           <td>
            $current.cloudbase
           </td>
           <td>&nbsp;</td>
           <td><img src="daycloudbase.png"    alt="Wolken" /></td>
          </tr>
          <tr>
           <td>
            $current.windrun
           </td>
           <td>&nbsp;</td>
           <td><img src="daywindrun.png"    alt="Windrun" /></td>
          </tr>
          <tr>
           <td>
            $current.beaufort
           </td>
           <td>&nbsp;</td>
           <td><img src="daywindB.png"    alt="WindBeaufort" /></td>
          </tr>
          <tr>
           <td>
            $current.airDensity
           </td>
           <td>&nbsp;</td>
           <td><img src="dayDensity.png"    alt="Luftdichte" /></td>
          </tr>
          <tr>
           <td>
            $current.windDruck
           </td>
           <td>&nbsp;</td>
           <td><img src="dayWindDruck.png"    alt="Winddruck" /></td>
          </tr>
         </table>
        </div> <!-- End id "plots" -->
      </div> <!-- End id "content" -->


     #include $Extras.footer

#set $tem1 = $current.outTemp.raw 
#set $tem3 = $current.outTemp.raw
#set $hum1 = $current.outHumidity.raw
#set $bar1 = $current.barometer.raw
#set $tem2 = $current.inTemp.raw
#set $hum2 = $current.inHumidity.raw
#set $wihi = $current.windchill.raw
#set $rainhi = $day.rain.sum.raw

<script>
    var gauge = new RGraph.Gauge('temout', -20, 30, $tem1)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Temperatur')
        .Set('title.top.size', 12)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('temcar', -20, 30, $tem3)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Garten')
        .Set('title.top.size', 12)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();


    var gauge = new RGraph.Gauge('humout', 0, 100, $hum1)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Luftfeuchte')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '%')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('barout', 950, 1050, $bar1)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 40)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Luftdruck')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', 'hPa')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('temin', -10, 40, $tem2)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Temperatur')
        .Set('title.top.size', 12)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('humin', 0, 100, $hum2)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Luftfeuchte')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '%')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('wihi', -20, 30, $wihi)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Windchill')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', '°C')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();

    var gauge = new RGraph.Gauge('reghes', 0, 50, $rainhi)
        .Set('scale.decimals', 0)
        .Set('tickmarks.small', 50)
        .Set('tickmarks.big',5)
        .Set('title.top', 'Regen')
        .Set('title.top.size', 10)
        .Set('title.top.pos', 0.15)
        .Set('title.bottom', 'mm')
        .Set('title.bottom.color', '#aaa')
        .Set('border.outer', 'Gradient(white:white:white:white:white:white:white:white:white:white:#aaa)')
        .Draw();


</script>

</div>
</body>

</html>
