#errorCatcher Echo
#encoding UTF-8
## Standard for weewx - Copyright 2012-2013 Matthew Wall
## index.html.tmpl 743 2013-12-22 23:24:18Z mwall $
## Standard for hes61.de
## Version: 4.6.0b4
##
<!DOCTYPE html>
<html lang="de">
 <head>
     <meta charset="utf-8"> 
     <meta http-equiv="cache-control" content="no-cache">
     <meta name='viewport' content='width=device-width' />
     <meta name="robots" content="all" />
     <meta name="keywords" content="weather, Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
     <meta name="description" content="Das Wetter in Klein Rogahn, 
                                       bei Schwerin im Landkreis Ludwiglust-Parchim 
                                       mit aktuellen Temperaturen und Prognosen für 
                                       die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
     <meta name="author"           content="Hartmut Schweidler" />
     <meta name="revisit-after"    content="5 minutes" />

     <!--  <meta name="ICBM" content="53.605963, 11.341407" />
     <meta name="geo.position" contant="53.605963, 11.341407" /> -->

      <script>
         document.createElement("header");
         document.createElement("nav");
         document.createElement("section");
         document.createElement("footer");
      </script>

     <title>$station.location Aktuelles Wetter</title>

     <link rel='stylesheet' type='text/css' href='css/hesweewx.css' />

     <link rel='icon' type='image/png' href='favicon.ico' />
     <script src='js/hesweewx.js'></script>
     <script>
       window.onload = function() { applypopups(); }
     </script>

 </head>

<body>
 <div id='hes11'>
#import time
#import locale
#set $moonDays = int(round(($current.dateTime.raw - $almanac.previous_new_moon.raw) / 86400, 0))

#set $sunrise_ts = $almanac.sun.rise.raw
#set $sunset_ts = $almanac.sun.set.raw
#set $daylight_s = $sunset_ts - $sunrise_ts
#set $daylight_hours = int($daylight_s / 3600)
#set $daylight_minutes = int(($daylight_s % 3600) / 60)
#set $daylight_h_str = "%02d" % $daylight_hours
#set $daylight_m_str = "%02d" % $daylight_minutes

#set $windT_dir_dict = {"N" : "Nord", "NNE" : "Nordnordost", "NE" : "Nordost", "ENE" : "Ostnordost", "E" : "Ost", "ESE" : "Ostsüdost", "SE" : "Südost", "SSE" : "Südsüdost", "S" : "Süd", "SSW" : "Südsüdwest", "SW" : "Südwest", "WSW" : "Westsüdwest", "W" : "West", "WNW" : "Westnordwest", "NW" : "Nordwest", "NNW" : "Nordnordwest"}

#set $summary = $forecast.weather_summary('DS')

#set $dd = $forecast.label('Weather', $summary.windDir)
#set $wind_text = $windT_dir_dict.get($dd)

#include $Extras.header
#include $Extras.cwarn
#include 'index_warn.inc'
#include 'index_alerts.inc'

<div id='hescontainer'>
  <div id='popupanchor' style='float:left'></div>
  <section>

#include "links_forecast.inc"

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>Temperatur</td><td class='hes1_kopf' colspan='2'>Aktuell</td>
       <td class='hes1_kopf' colspan="2">Trend</td></tr>
   <tr>
     <td class='hes1_bigval' style="$decorator_color('tempO', $current.outTemp.raw)"></td>
     <td class='hes1_bigval' colspan='2'><a href='daytemp.png' class='popup'>$current.outTemp</a></td>

 #if $trend.outTemp.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>        
 #elif $trend.outTemp.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class="hes1_vallo">$trend.outTemp</td>
 #elif $trend.outTemp.raw == 0
        <td class="hes1_trendhi"><b>=</b></td>
        <td class="hes1_valhi">$trend.outTemp</td>
 #elif $trend.outTemp.raw > 0
        <td class="hes1_trendhi"> &#8679;</td>
        <td class="hes1_valhi">$trend.outTemp</td>
 #end if
    </tr>
 #if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.tempMax</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$summary.tempMin</span></td>
    </tr>
 #else
    <tr>
     <td><span class='hes1_m'>&nbsp;</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>&nbsp;</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>&nbsp;</span></td>
    </tr>
 #end if
    <tr>
     <td><span class='hes1_m'>Gestern</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$yesterday.outTemp.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$yesterday.outTemp.min</span></td>
    </tr>
   </table>
    <hr />
    <!-- <img src="daytemp.png"  width="300" height="180" alt="Temperatur" /> -->
    <img src="daytempklein.png" alt="Temperatur" />
 </div>
</div> <!-- end Temperatur -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr>
     <td class='hes1_kopfa'>gefühlt</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' style="$decorator_color('temphes', $current.appTemp.raw)"></td>
     <td class='hes1_bigval' colspan='2' ><a href='dayapptemp.png' class='popup'>$current.appTemp</a></td>
 #if $trend.appTemp.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
    #elif $trend.appTemp.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class="hes1_vallo">$trend.appTemp</td>
    #elif $trend.appTemp.raw == 0
       <td class="hes1_trendhi"><b>=</b></td>
       <td class="hes1_valhi">$trend.appTemp</td>
    #elif $trend.appTemp.raw > 0
       <td class="hes1_trendhi"> &#8679;</td>
       <td class="hes1_valhi">$trend.appTemp</td>
    #end if
    </tr>
    <tr>
     <td><span class='hes1_m'>Heute</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$day.appTemp.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$day.appTemp.min</span></td>
    </tr>
    <tr>
     <td><span class='hes1_m'>Gestern</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$yesterday.appTemp.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$yesterday.appTemp.min</span></td>
    </tr>
   </table>
   <hr />
   <img src="dayappklein.png" alt="app Temp" />
 </div>
</div> <!-- end appTemp -->
  
#if $current.outTemp.raw < 26.6
<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr>
     <td class='hes1_kopfa'>Windchill</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' style="$decorator_color('chill_C', $current.windchill.raw)"></td>
     <td class='hes1_bigval' colspan='2' ><a href='daywindchill.png' class='popup'>$current.windchill</a></td>

  #if $trend.windchill.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
  #elif $trend.windchill.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class="hes1_vallo">$trend.windchill</td>
  #elif $trend.windchill.raw == 0
        <td class="hes1_trendhi"><b>=</b></td>
        <td class="hes1_valhi">$trend.windchill</td>
  #elif $trend.windchill.raw > 0
        <td class="hes1_trendhi"> &#8679;</td>
        <td class="hes1_valhi">$trend.windchill</td>
  #end if
    </tr>
    <tr>
     <td><span class='hes1_m'>Heute</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$day.windchill.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$day.windchill.min</span></td>
    </tr>
    <tr>
     <td><span class='hes1_m'>Gestern</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$yesterday.windchill.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$yesterday.windchill.min</span></td>
    </tr>
  </table>
    <hr />
   <img src="daychillklein.png" alt="Windchill" />
 </div>
</div> <!-- end Windchill -->
#end if


#if $current.outTemp.raw > 26.67
<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr>
     <td class='hes1_kopfa'>Hitzeindex</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' style="$decorator_color('heatindex', $current.heatindex.raw)"></td>
     <td class='hes1_bigval' colspan='2' ><a href='dayheatindex.png' class='popup'>$current.heatindex</a></td>

  #if $trend.heatindex.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
  #elif $trend.heatindex.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class="hes1_vallo">$trend.heatindex</td>
  #elif $trend.heatindex.raw == 0
       <td class="hes1_trendhi"><b>=</b></td>
       <td class="hes1_valhi">$trend.heatindex</td>
  #elif $trend.heatindex.raw > 0
       <td class="hes1_trendhi"> &#8679;</td>
       <td class="hes1_valhi">$trend.heatindex</td>
  #end if
    </tr>
    <tr>
     <td><span class='hes1_m'>Heute</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$day.heatindex.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$day.heatindex.min</span></td>
    </tr>
     <tr>
      <td><span class='hes1_m'>Gestern</span></td>
      <td><span class='hes1_m'>max</span></td>
      <td><span class='temphi'>$yesterday.heatindex.max</span></td>
      <td><span class="hes1_m">min</span></td>
      <td><span class='templo'>$yesterday.heatindex.min</span></td>
     </tr>
    </table>
   <hr />
   <img src="dayheatklein.png" alt="HitzeIndex" />
  </div>
 </div> <!-- end Hitzeindex -->
#end if

<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>Taupunkt</td><td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
        <td class='hes1_bigval' colspan='3'><a href='daydewpoint.png' class='popup'>$current.dewpoint</a></td>
 #if $trend.dewpoint.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
    #elif $trend.dewpoint.raw < 0
        <td class="hes1_trendlo"> &#8681;</td>
        <td class='hes1_vallo'>$trend.dewpoint</td>
    #elif $trend.dewpoint.raw == 0
        <td class="hes1_trendhi"><b>=</b></td>
        <td class="hes1_valhi">$trend.dewpoint</td>
    #elif $trend.dewpoint.raw > 0
        <td class="hes1_trendhi"> &#8679;</td>
        <td class='hes1_valhi'>$trend.dewpoint</td>
    #end if
    </tr>
#if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.dewpointMax</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'> $summary.dewpointMin</span></td>
    </tr>
    #else
     <tr>
      <td><span class='hes1_m'>&nbsp;</span></td>
      <td><span class='hes1_m'>max</span></td>
      <td><span class='temphi'>&nbsp;</span></td>
      <td><span class="hes1_m">min</span></td>
      <td><span class='templo'>&nbsp;</span></td>
     </tr>
#end if
     <tr>
      <td><span class='hes1_m'>Gestern</span></td>
      <td><span class='hes1_m'>max</span></td>
      <td><span class='temphi'>$yesterday.dewpoint.max</span></td>
      <td><span class="hes1_m">min</span></td>
      <td><span class='templo'>$yesterday.dewpoint.min</span></td>
     </tr>
   </table>
    <hr />
    <img src="daydewklein.png" alt="Taupunkt" />
  </div>
</div> <!-- ende Taupunkt -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_ludru'>
    <tr>
     <td class='hes1_kopfa'>Luftdruck</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='daybarometer.png' class='popup'>$current.barometer</a></td>

<!-- note: these thresholds are for millibar, not inHg -->
#if $varExists('trend')
#if $trend.barometer.raw is not None:
#if $trend.barometer.raw > 6
       <td class='hes1_trendhi'>&#8679;&#8679;&#8679;</td>
       <td class='hes1_valhi'>$trend.barometer</td>
#elif $trend.barometer.raw > 3
       <td class='hes1_trendhi'>&#8679;&#8679;</td>
       <td class='hes1_valhi'>$trend.barometer</td>
#elif $trend.barometer.raw > 0.5
       <td class='hes1_trendhi'>&#8679;</td>
       <td class='hes1_valhi'>$trend.barometer</td>
#elif $trend.barometer.raw < -6
       <td class='hes1_trendlo'>&#8681;&#8681;&#8681;</td>
       <td class='hes1_vallo'>$trend.barometer</td>
#elif $trend.barometer.raw < -3
       <td class='hes1_trendlo'>&#8681;&#8681;</td>
       <td class='hes1_vallo'>$trend.barometer</td>
#elif $trend.barometer.raw < 0.5
       <td class='hes1_trendlo'>&#8681;</td>
       <td class='hes1_vallo'>$trend.barometer</td>
#elif $trend.barometer.raw == 0.0
       <td class='hes1_trendhi'>=</td>
       <td class='hes1_valhi'>$trend.barometer</td>
#end if
#end if
#end if
     </tr>
#if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.barometerMax.formatted</span></td> <!-- summary.barometerMax.formatted -->
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>$summary.barometerMin.formatted</span></td>
    </tr>
    #else
     <tr>
      <td><span class='hes1_m'>&nbsp;</span></td>
      <td><span class='hes1_m'>max</span></td>
      <td><span class='temphi'>$&nbsp;</span></td>
      <td><span class="hes1_m">min</span></td>
      <td><span class='templo'>&nbsp;</span></td>
     </tr>
#end if
     <tr>
      <td><span class='hes1_m'>Gestern</span></td>
      <td><span class='hes1_m'>max</span></td>
      <td><span class='temphi'>$yesterday.barometer.max.formatted</span></td>
      <td><span class="hes1_m">min</span></td>
      <td><span class='templo'>$yesterday.barometer.min.formatted</span></td>
     </tr>
    </table>
     <hr />
    <img src="daybaroklein.png" alt="Luftdruck" />
 </div>
</div> <!-- luftdruck ende -->

<div class="hes">
 <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>Luftfeuchte</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayhumid.png' class='popup'>$current.outHumidity</a></td>
    #if $trend.outHumidity.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
    #elif $trend.outHumidity.raw < 0
     <td class="hes1_trendlo"> &#8681;</td>
     <td class='hes1_vallo'>$trend.outHumidity</td>
    #elif $trend.outHumidity.raw == 0
     <td class="hes1_trendhi"><b>=</b></td>
     <td class="hes1_valhi">$trend.outHumidity</td>
    #elif $trend.outHumidity.raw > 0
     <td class="hes1_trendhi"> &#8679;</td>
     <td class='hes1_valhi'>$trend.outHumidity</td>
    #end if
    </tr>
#if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.humidityMax</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'> $summary.humidityMin</span></td>
    </tr>
    #else
     <tr>
      <td><span class='hes1_m'>&nbsp;</span></td>
      <td><span class='hes1_m'>max</span></td>
      <td><span class='temphi'>&nbsp;</span></td>
      <td><span class="hes1_m">min</span></td>
      <td><span class='templo'>&nbsp;</span></td>
     </tr>
#end if
     <tr>
      <td><span class='hes1_m'>Gestern</span></td>
      <td><span class='hes1_m'>max</span></td>
      <td><span class='temphi'>$yesterday.outHumidity.max</span></td>
      <td><span class="hes1_m">min</span></td>
      <td><span class='templo'>$yesterday.outHumidity.min</span></td>
     </tr>
   </table>
    <hr />
    <img src="dayhumidklein.png" alt="Luftfeuchte" />
  </div>
</div> <!-- ende Luftfeuchte -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_reg'>
   <tr><td class='hes1_kopfa'>Niederschlag</td>
       <td class='hes1_kopf' colspan='2'>Aktuell</td>
       <td class='hes1_kopf' colspan="2">Heute</td>
   </tr>
   <tr>
     <td class='hes1_bigval' colspan='3' >
      <a href='dayrain.png' class='popup'>$current.rain</a>
     </td>
     <td colspan='2'>$day.rain.sum</td>
   </tr>
   <tr>
     <td colspan='2'><span class='hes1_m'>Regenrisiko</span></td>
     <!-- <td colspan='3'>$summary.pop</td> -->
     #if $summary.pop.raw is None
       <td colspan='3'>&nbsp;</td>
     #elif $summary.pop.raw > 0
        <td class='hes1_valhi'> $summary.pop  </td>
        <td>max</td>
        <td>
         <img class='pop-img' src='xicons/raindrop.png' alt='regen' />
       </td>
    #else
       <td colspan='3'>&nbsp;</td>
    #end if
   </tr>
   <tr>
    <td colspan='3'>Regensumme Gestern</td>
    <td colspan='2'>$yesterday.rain.sum</td>
   </tr>
  </table>
  <hr />
  <img src="dayrainklein.png" alt="Regen" />
 </div>
</div> <!-- ende Niederschlag -->

#if $day.snowTotal.max.raw > 0
<div class="hes">
  <div class='hesbox'>
   <table class='hes_reg'>
   <tr><td class='hes1_kopfa'>Schnee</td>
       <td class='hes1_kopf' colspan='2'>Aktuell</td>
       <td class='hes1_kopf' colspan="2">Heute</td>
   </tr>
   <tr>
     <td class='hes1_bigval' colspan='3' >
      <a href='daysnow.png' class='popup'>$current.snowTotal</a>
     </td>
     <td colspan='2'>$day.snowTotal.max</td>
   </tr>
   <tr>
     <td colspan='2'><span class='hes1_m'>Schneeprognose</span></td>
     #if $summary.qsf.raw is None
       <td colspan='3'>&nbsp;</td>
     #elif $summary.qsf.raw > 0
     <td> $summary.qsf</td>
     <td>max</td>
     <td>
         <img class='pop-img' src='xicons/snowflake.png' alt='schnee' />
      </td>
    #else
       <td colspan='3'>&nbsp;</td>
     #end if
   </tr>
   <tr>
    <td><span class='hes1_m'>Gestern</span></td>
    <td><span class='hes1_m'>max</span></td>
    <td><span class='temphi'>$yesterday.snow.max</span></td>
    <td><span class="hes1_m">min</span></td>
    <td><span class='templo'>$yesterday.snow.min</span></td>
   </tr>
  </table>
  <hr />
  <img src="daysnowklein.png" alt="Schnee" />
 </div>
</div> <!-- ende Schnee -->
#end if

<div class="hes">
 <div class='hesbox'>
   <table class='hes_wind'>
    <tr>
     <td class='hes1_kopfa' colspan='3'>Windgeschwindigkeit</td>
     <td class='hes1_kopf'>Prognose</td>
   </tr>
   <tr>
    <td class='hes1_bigval' colspan='2' style="$decorator_color('windBof', $current.windSpeed.raw)"
         title="$decorator_text('windBof', $current.windSpeed.raw)">
        <a href='daywind.png' class='popup'>$current.windSpeed</a> </td>

    #if $varExists('trend')
        #if $trend.windSpeed.raw is not None:
            #if $trend.windSpeed.raw > 0
               <td class='hes1_trendhi'>&#8679;</td>
            #elif $trend.windSpeed.raw == 0
               <td class="hes1_trendhi"><b>=</b></td>
            #elif $trend.windSpeed.raw < 0
               <td class='hes_trendlo'>&#8681;</td>
            #end if
        #end if
    #end if
    #if $varExists('forecast')
        <td class='hes1_winro' rowspan='2'
    #if $summary.windDirs is not None
         style='width:44px; height:44px; vertical-align:middle; text-align:center; background: url()
      #for $d in $summary.windDirs
        #set $winddir_img = 'xicons/' + $d + '.png'
               ,url($winddir_img)
      #end for
               ; background-repeat:no-repeat; background-position:center; background-size:44px;'
    #end if
         >
    #if $summary.windSpeedMin == $summary.windSpeedMax or $summary.windSpeedMin.raw == $summary.windSpeedMax.raw
          $summary.windSpeedMin.nolabel('%.0f',' ')
    #else
          $summary.windSpeedMin.nolabel('%.0f',' ')-$summary.windSpeedMax.nolabel('%.0f',' ')
    #end if
          <br/>
          $summary.windGust.nolabel('%.0f',' ')
        </td>
    #end if
   </tr>
   <tr>
     <td class="hes1_winbo"  style="$decorator_color('windBof', $current.windSpeed.raw)">
        $decorator_text('windBof', $current.windSpeed.raw)</td>
     <td style='font-size:100%;padding-left:8px;'>
        <a href='daywinddir.png' class='popup'>$current.windDir.ordinal_compass<br />
     <span style='font-size:100%'>$current.windDir</span></a>
     </td> <!-- hes1_wind -->
     <td class='hes1_m' style='padding-left:8px; font-size:245%;'>
     <a href='daywindvec.png' class='popup'>
#if $current.windDir.raw is None:
      -
#else
#if $current.windDir.raw < 22.5
       &#8593;
#elif $current.windDir.raw < 67.5
       &#8599;
#elif $current.windDir.raw < 112.5
       &#8594;
#elif $current.windDir.raw < 157.5
       &#8600;
#elif $current.windDir.raw < 202.5
       &#8595;
#elif $current.windDir.raw < 247.5
       &#8601;
#elif $current.windDir.raw < 292.5
       &#8592;
#elif $current.windDir.raw < 337.5
       &#8598;
#else
       &#8593;
#end if
#end if
      </a>
     </td>
    </tr>
   </table>
    <hr />
    <img src="daywindklein.png" alt="Wind" /> <!-- style="width:300px; height:180px;"/> -->
  </div>
</div> <!-- ende Wind -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr>
     <td class='hes1_kopfa'>UV-Index</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='2' style="$decorator_color('uv', $current.UV.raw)">
          $decorator_text('uv', $current.UV.raw)</td>
     <td class='hes1_bigval'><a href='dayuv.png' class='popup'>$current.UV</a></td>
    #if $trend.UV.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
    #elif $trend.UV.raw < 0
     <td class="hes1_trendlo"> &#8681;</td>
     <td class='hes1_vallo'>$trend.UV.formatted</td>
    #elif $trend.UV.raw == 0.0
     <td class="hes1_trendhi">=</td>
     <td class='hes1_valhi'>$trend.UV.formatted</td>
    #elif $trend.UV.raw > 0
     <td class="hes1_trendhi"> &#8679;</td>
     <td class='hes1_valhi'>$trend.UV.formatted</td>
    #end if
    </tr>
#if $varExists('forecast')
    <tr>
     <td><span class='hes1_m'>Tagesprognose</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$summary.uvIndexMax</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>&nbsp;</span></td>
    </tr>
#else
    <tr>
     <td><span class='hes1_m'>&nbsp;</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>&nbsp;</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>&nbsp;</span></td>
    </tr>
#end if
    <tr>
     <td><span class='hes1_m'>Gestern</span></td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='temphi'>$yesterday.UV.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='templo'>&nbsp;</span></td>
    </tr>
   </table>
   <hr />
   <img src="dayUVklein.png" alt="UV-Index" />
  </div>
</div> <!-- ende UV -->

<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr>
     <td class="hes1_kopfa" colspan="3">Sonnenstrahlung</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'>
        <a href='dayradiation.png' class='popup'>$current.radiation</a></td>
 #if $trend.radiation.raw is None
     <td class="hes1_trendlo">&nbsp;</td>
     <td class="hes1_vallo">N/A</td>
 #elif $trend.radiation.raw < 0
     <td class="hes1_trendlo"> &#8681;</td>
     <td class="hes1_vallo">$trend.radiation.formatted</td>
 #elif $trend.radiation.raw == 0
     <td class="hes1_trendhi"><b>=</b></td>
     <td class="hes1_valhi">$trend.radiation.formatted</td>
 #elif $trend.radiation.raw > 0
     <td class="hes1_trendhi"> &#8679;</td>
     <td class="hes1_valhi">$trend.radiation.formatted</td>
 #end if
    </tr>
    <tr>
     <td><span class='hes1_m'>theor. Strahlung max</span></td>
     <td><span class='temphi'>$current.maxSolarRad.formatted</span></td>
     <td><span class="hes1_m">erreicht</span></td>
     #if $current.radiation.raw > 0.0 and $current.maxSolarRad.raw > 0.0
         #set $anteil = $current.radiation.raw * 100 / $current.maxSolarRad.raw
         #set $anteil = ("{:.1f}".format($anteil));
     #else
         #set $anteil = 0.0
     #end if
     <td><span solspan="2" class='templo'>$anteil %</span></td>
    </tr>
#if $day.sunshineS.sum.raw is not None   
    #set $sun_hours = int($day.sunshineS.sum.raw / 3600)
    #set $sun_minutes = int((($day.sunshineS.sum.raw / 3600) - $sun_hours) * 60 + 0.5)
#else
    #set $sun_hours = 0
    #set $sun_minutes = 0
#end if
    <tr>
     <td class='hes1_m' colspan='2'>Heute Sonnenschein</td>
     <td class='hes1_m' colspan='3'>$sun_hours&nbsp;h :&nbsp;$sun_minutes&nbsp;min</td>
    </tr>
   </table>
   <hr />
   <img src="daysunklein.png" alt="Sonne" />
 </div>
</div> <!-- end Sonne -->


<div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr>
     <td class="hes1_kopfa" colspan="3">&sum;&nbsp;Sonnenenergie</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'>
        <a href='monthRadiationEnergy.png' class='popup'>$day.radiation.energy_integral</a></td>
 #if $trend.radiationEnergy.raw is None
     <td class="hes1_trendlo">&nbsp;</td>
     <td class="hes1_vallo">N/A</td>
 #elif $trend.radiationEnergy.raw < 0
     <td class="hes1_trendlo"> &#8681;</td>
     <td class="hes1_vallo">$trend.radiationEnergy.formatted</td>
 #elif $trend.radiationEnergy.raw == 0
     <td class="hes1_trendhi"><b>=</b></td>
     <td class="hes1_valhi">$trend.radiationEnergy.formatted</td>
 #elif $trend.radiationEnergy.raw > 0
     <td class="hes1_trendhi"> &#8679;</td>
     <td class="hes1_valhi">$trend.radiationEnergy.formatted</td>
 #end if
    </tr>
    <tr>
     <td><span class='hes1_m'>Vortag</span></td>
     <td><span class='temphi' colspan="2">$yesterday.radiation.energy_integral.formatted </span></td>
     <td><span class="hes1_m">Woche</span></td>
     <td><span class='temphi' colspan="2">$week.radiation.energy_integral.formatted</span></td>
    </tr>
    <tr>
     <td class='hes1_m'>Monat</td>
     <td><span class='temphi' colspan="2">$month.radiation.energy_integral.formatted</span></td>
     <td class='hes1_m'>Jahr</td>
     <td><span class='temphi' colspan="2">$year.radiation.energy_integral.formatted</span></td>
    </tr>
   </table>
   <hr />
    <img src="daysuneklein.png" alt="sonne Energie" style="width:300px; height:180px;" />
 </div>
</div> <!-- end Sonne Energie-->


<div class='hes'>
 <div class='hesbox'>
 <table class='hes1'>
  <tr><td class="hes1_kopfa" colspan="2">Berechnete Werte</td></tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'>WeeWx</td></tr>
  <tr>
   <td>Wolkenuntergrenze:</td>
   <td>$current.cloudbase (ASL)</td>
  </tr>
  <tr>
    <td>Wasserbilanz&nbsp;$current.dateTime.format("%Y")</td>
    #set $wasser_year = $year.rain.sum.raw - $year.ET.sum.raw
    #set $WasserYear = ("{:.2f}".format($wasser_year));
    <td>$WasserYear&nbsp;cm</td>
  </tr>
  <tr>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
  </tr> 
  <tr>
   <td>THW-Index:</td>
   <td> $current.thwIndex</td>
  </tr>
  <tr>
   <td>THSW-Index</td>
   <td>$current.thswIndex</td>
  </tr>
  <tr>
   <td>THSW-Davis</td>
   <td>$current.THSW</td>
  </tr>
  <tr>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
  </tr>
  <tr>
   <td>Wachstumstage Monat</td>
   <td>$month.outTemp.max_ge((10.0, "degree_C", "group_temperature")).format("%.0f")</td>
  </tr>
  <tr>
   <td>Wachstumstage Jahr</td>
   <td>$year.outTemp.max_ge((10.0, "degree_C", "group_temperature")).format("%.0f")</td>
  </tr>
  <tr>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
  </tr>
  <tr>
   <td>VantagePro2 Empfang</td>
   <td>$current.rxCheckPercent</td>
  </tr>
  <tr>
   <td>VantagePro2 Batt-Status</td>
   #if $current.txBatteryStatus.raw == 0
   <td><font color='blue'>i.O.</font></td>
   #else
   <td><font color='red'>Null</font></td>
   #end if
  </tr>
  <tr>
   <td>VantagePro2 Console</td>
   <td>$current.consBatteryVoltage</td>
  </tr>
  <!-- <tr>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
  </tr> -->
#if len($day00) > 3
  <tr>
   <td>Heute</td>
   <td><b> $day00 </b></td>
  </tr>
#else
  <tr>
   <td>&nbsp;</td>
   <td>&nbsp;</td>
  </tr>
#end if
 </table>
 </div>
</div> <!-- end werte  -->

<div class='hes'>
 <div class='hesbox'>
  <table class='hes1'>
   <tr><td class="hes1_kopfa" colspan="2">air-Q</td></tr>
   <tr><td colspan='2'><a href="https://www.air-q.com/">Luftanalyse und Feinstaub</a></td></tr>
   <tr><td>Gesundheitsindex </td><td>$latest($data_binding='airq_binding').og_HealthIdx.format("%.2f")</td></tr>
   <tr><td>Leistungsindex   </td><td>$latest($data_binding='airq_binding').og_PerfIdx.format("%.2f")</td></tr>
   <tr><td colspan='2'><b>Gase</b></td></tr>
   <tr><td>Sauerstoff       </td><td>$latest($data_binding='airq_binding').og_o2.format("%.2f")</td></tr>
   <tr><td>Kohlendioxid     </td><td>$latest($data_binding='airq_binding').og_co2</td></tr>
   <tr><td>Stickstoffdioxid </td><td>$latest($data_binding='airq_binding').og_no2.ppb</td></tr>
   <tr><td>Ozon             </td><td>$latest($data_binding='airq_binding').og_o3_m</td></tr>
   <tr><td>Schwefeldioxid   </td><td>$latest($data_binding='airq_binding').og_so2.ppb</td></tr>
   <tr><td>Kohlenmonoxid    </td><td>$latest($data_binding='airq_binding').og_co_m.milligram_per_meter_cubed</td></tr>
   <tr><td>VOC              </td><td>$latest($data_binding='airq_binding').og_TVOC.ppb</td></tr>
   <tr><td colspan='2'><b>Feinstaub</b></td></tr>
   <tr><td>PM&nbsp;<sub>1</sub></td><td>$latest($data_binding='airq_binding').og_pm1_0</td></tr>
   <tr><td>PM&nbsp;<sub>2,5</sub></td><td>$latest($data_binding='airq_binding').og_pm2_5</td></tr>
   <tr><td>PM&nbsp;<sub>10</sub></td><td>$latest($data_binding='airq_binding').og_pm10_0</td></tr>
  </table>
 </div>
</div> <!-- end Luftanalyse -->

<div class="hes">
 <div class='hesbox'>
 <table class='hes1'>
  <tr>
    <td class="hes1_sol">
      <a href="astro.html">Sonne</a></td>
    <td><img src='xicons/CL.png' class='legend-img' alt='S' title='Sonne' />
    </td>
 </tr>
 <tr>
    <td class='hes1_nam'>Tageslicht</td>
    <td class='hes1_nam'>$daylight_h_str&nbsp;Stunden&nbsp;$daylight_m_str&nbsp;Minuten</td>
 </tr>
 <tr>
    <td class='hes1_nam'>Entfernung&nbsp;</td>
    #set $sun_earth = $almanac.sun.earth_distance * 149597870.700
    #set $sonne_erde = locale.format('%.2f', $sun_earth, 1)
    <td class='hes1_nam'>$sonne_erde&nbsp;km</td>
 </tr>
 <tr>
    <td class='hes1_nam'>Aufgang&nbsp;&#8679; </td>
    <td class='hes1_nam'>$almanac.sun.rise</td>
  </tr>
  <tr>
    <td class="hes1_nam">Transit:&nbsp;</td>
    <td class="hes1_nam">$almanac.sun.transit</td>
  </tr>
  <tr>
    <td class='hes1_nam'>Untergang&nbsp; &#8681;</td>
    <td class='hes1_nam'>$almanac.sun.set</td>
  </tr>
  <tr>
    <td class="hes1_nam">Frühlings-<br />punkt</td>
    <td class="hes1_nam">$almanac.next_vernal_equinox</td>
  </tr>
  <tr>
    <td class="hes1_nam">Sommer-<br />sonnenwende</td>
    <td class="hes1_nam">$almanac.next_summer_solstice</td>
  </tr>
  <tr>
    <td class="hes1_nam">Herbst<br />Tagundnachtgleiche</td>
    <td class="hes1_nam">$almanac.next_autumnal_equinox</td>
  </tr>
  <tr>
    <td class="hes1_nam">Winter-<br /> sonnenwende</td>
    <td class="hes1_nam">$almanac.next_winter_solstice</td>
  </tr>
 <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr>
    <td class="hes1_nam">Ostern</td>
    <td class="hes1_nam">$Easter.format('%d.%m.%Y')</td>
  </tr>
</table>
</div>
</div> <!-- ende sonne -->

<div class='hesSonne'>
 <div class='hesbox'>
  <h3>Sonnenstand</h3>
  <img src="https://www.timeanddate.com/scripts/sunmap.php?iso=201904T0640" width="620px" height="250px" style="border:1px solid black" alt="Sonnenstand"/>
   Quelle:<a href = 'https://www.timeanddate.com/weather/@2888316' target='_blank'> www.timeanddate.com</a>
 </div>
</div> <!-- Sonne die Zweite -->

<div class='hes'>
 <div class='hesbox'>
 <table class='hes1'>
 <tr>
    <td class="hes1_sol">
       <a href="astro.html">Mond</a></td>
    #set $moonn = str($moonDays)
    #set $mooni = 'xicons/moon/' + $moonn + '.png'
    <td><img src=$mooni width='70px' height='70px' alt='M' title='Mond' /> 
    <!-- <td><img src='xicons/mond.png' class='legend-img' alt='M' title='Mond' /> -->
    </td>
 </tr>
 <tr>
  <td class='hes1_mon'>$almanac.moon_phase</td>
  <td class='hes1_mon'>$almanac.moon_fullness %</td>
 </tr>
 <tr>
  <td class='hes1_mon'>Entfernung&nbsp;</td>
#set $moon_earth = $almanac.moon.earth_distance * 149597870.700
#set $mond_erde = locale.format('%.2f', $moon_earth, 1)
  <td class='hes1_mon'>$mond_erde&nbsp;km</td>
 </tr>
 <tr>
    <td class='hes1_mon'>Aufgang&nbsp;&#8679;</td>
    <td class='hes1_mon'>$almanac.moon.rise</td>
  </tr>
  <tr>
    <td class="hes1_mon">Transit:&nbsp;</td>
    <td class="hes1_mon">$almanac.moon.transit</td>
  </tr>
  <tr>
    <td class='hes1_mon'>Untergang&nbsp;&#8681;</td>
    <td class='hes1_mon'>$almanac.moon.set</td>
  </tr>
 <tr>
  <td class='hes1_mon'>&nbsp;</td>
  <td class='hes1_mon'>&nbsp;</td>
 </tr>
#if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
  <tr>
   <td class='hes1_mon'>Vollmond:<br></td>
   <td class='hes1_mon'>$almanac.next_full_moon</td>
  </tr>
  <tr>
   <td class='hes1_mon'>Neumond:</td>
   <td class='hes1_mon'>$almanac.next_new_moon</td>
  </tr>
#else
  <tr>
   <td class='hes1_mon'>Neumond:</td>
   <td class='hes1_mon'>$almanac.next_new_moon</td>
  </tr>
  <tr>
   <td class='hes1_mon'>Vollmond:</td>
   <td class='hes1_mon'>$almanac.next_full_moon</td>
  </tr>
#end if
 <tr>
  <td class='hes1_mon'>&nbsp;</td>
  <td class='hes1_mon'>&nbsp;</td>
 </tr>
  <tr>
   <td class='hes1_mon'> Azimut</td>
   <td class='hes1_mon'>$("%.2f&deg;" % $almanac.moon.az)</td>
  </tr>
  <tr>
   <td class='hes1_mon'> Altitude</td>
   <td class='hes1_mon'>$("%.2f&deg;" % $almanac.moon.alt)</td>
  </tr>
 <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
 </tr>
  <tr>
   <td class='hes1_mon'>Alter des Mondes:</td>
   <td class='hes1_mon'>$moonDays&nbsp;Tage</td>
  </tr>
  <!--  <tr>
    <td class='hes1_mon'>&nbsp;</td>
    <td class='hes1_mon'>&nbsp;</td>
   </tr> -->
</table>
</div>
</div> <!-- ende  mond -->

<div class="hes">
 <div class='hesbox'>
  <h3>Regen Radar</h3>
  <a href='$Extras.radar_local_img'>
  <img src='$Extras.radar_local_img' width="300" height="300" alt="WetterRadar" /></a>
  Quelle:<a href = 'https://www.dwd.de/DE/Home/home_node.html' target='_blank'> DWD</a>
 </div>
</div> <!-- end dwd.de wetterRadar -->

<div class="hes">
 <div class='hesbox'>
  <h3>ISS-Überflug</h3>
  <a href="http://www.heavens-above.com/">
  <img src="http://www.heavens-above.com/orbitdisplay.aspx?icon=iss&width=300&height=300&satid=25544" width="250" height="250" alt="ISS" /></a>
  <hr />
  <p> &nbsp;  &nbsp;<br>
      &nbsp;  &nbsp;</p>
 </div>
</div> <!-- end ISS -->

 <div class="hes">
 <div class='hesbox'>
  <h3>Wetterwarnung BRD</h3>
  <a href="http://www.dwd.de/DE/wetter/warnungen/warnWetter_node.html?ort=Klein%20Rogahn"> 
  <!-- <a href="http://www.dwd.de/DE/wetter/warnungen/warnWetter_node.html"> -->
  <!-- new view-source:https://wettwarn.de/txt/LPW.html -->
 <img src="http://www.dwd.de/DWD/warnungen/warnapp/json/warning_map.png" width="300" height="400" alt="WetterWarn" /></a>
 </div>
</div>  <!-- end dwd.de wetter -->

<div class="hes">
 <div class='hesbox'>
  <h3>Wetterwarnung M-V</h3>
  <a href="http://www.dwd.de/DE/wetter/warnungen/warnWetter_node.html?ort=Klein%20Rogahn">
  <img src="https://www.dwd.de/DWD/warnungen/warnapp_gemeinden/json/warnungen_gemeinde_map_mvp.png" width="300" height="400" alt="WetterWarn" /></a>
 </div>
</div> <!-- end dwd.de Landkreis LUP wetter -->

<div class="hes">
 <div class='hesbox'>
  <h3>Deutscher Wetterdienst</h3>
  #include "warn-MV.inc"
 </div>
</div> <!-- end dwd warnungen -->

<div class="hes">
 <div class='hesbox'>
  <h3>Weather365</h3>
  <p>
 <iframe src='//api.weather365.net/foreign/citygeoip.php?tm=3&hpw=0&cityid=19409 width="99%" height="880" align="center" scrolling="no" frameborder="0" allowtransparency="true" name="Weather365" '>
    <p>Ihr Browser kann leider keine eingebetteten Frames anzeigen: Sie können die eingebettete Seite über den folgenden Verweis aufrufen: 
        <a href="http://www.weather365.net"> WEATHER365.net </a></p> </iframe>
  </p>
 </div>
</div> <!-- end weather365_net  -->

<div class="hes">
 <div class='hesbox'>
  <h3>Bekannt bei</h3>
  #include "bekannt.inc"
 </div>
</div> <!-- end bekannt -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'> OWFS </td></tr>
   <tr><td>4x Lufttemperatur-Sensor</td></tr>
   <tr><td>5x Bodentemperatur-Sensor</td></tr>
   <tr><td><a href='indexOWFS.html'>weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end owfs Boden -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'> Gartenteiche </td></tr>
   <tr><td>4x Wassertemperatur-Sensor</td></tr>
   <tr><td>&nbsp;</td></tr>
   <tr><td><a href='index2.html'>weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end owfs Teich -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>Davis Sensorstation 6345</td></tr>
   <tr><td>2x Blattfeuchte/-temperatur-Sensor</td></tr>
   <tr><td>4x Bodenfeuchte/-temperatur-Sensor</td></tr>
   <tr><td><a href='index1.html'>weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end Davis -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>Air Sensoren</td></tr>
   <tr><td>2.5 ppm Sensor</td></tr>
   <tr><td>10 ppm Sensor</td></tr>
   <tr><td><a href='indexAir.html'>weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end Air -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>air-Q Luftanalyse</td></tr>
   <tr><td>PM<sub>2,5</sub>&nbsp;<sub>10</sub> Sensor</td></tr>
   <tr><td>CO, CO<sub>2</sub> VOC Sensor</td></tr>
   <tr><td><a href='indexAirQ.html'>weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end AirQ -->


<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>Radioaktivität</td></tr>
   <tr><td>GQ GMC-300E</td></tr>
   <tr><td>AS 3935 Blitz</td></tr>
   <tr><td><a href='indexRad.html'>weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end Rad Blitz -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>Wachstum GDD</td></tr>
   <tr><td>Wachstumsgradtage</td></tr>
   <tr><td>Apfelwickler</td></tr>
   <tr><td><a href='index3.html'>weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end GDD -->

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>Tagesübersicht</td></tr>
   <tr><td>Einzelwerte</td></tr>
   <tr><td>Diagramme</td></tr>
   <tr><td><a href='day.html'>weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end Tag -->

<div class="hes">
 <div class='hesbox'>
  <h3>Besucherzähler</h3>
    <a href="http://info.flagcounter.com/Qo1g"><img src="http://s11.flagcounter.com/count/Qo1g/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_0/labels_0/pageviews_0/flags_0/" alt="Flag Counter"></a>
 </div>
</div> <!-- end counter -->

</section >

</div> <!-- ende container -->

     #include $Extras.footer

  </div> 

##include $Extras.cookie

 </body>

</html>
