#errorCatcher Echo
#encoding UTF-8
## Standard for weewx - Copyright 2012-2013 Matthew Wall
## $Id: indexAir.html.tmpl 743 2013-12-22 23:24:18Z mwall $

<!DOCTYPE html>
<html lang="de">
  <head>
     <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
     <meta name='viewport' content='width=device-width' />
     <meta name="robots" content="all" />
     <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
     <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
     <meta name="author"           content="Hartmut Schweidler" />
     <meta name="revisit-after"    content="5 min" />

     <!--  <meta name="ICBM" content="53.605963, 11.341407" />
     <meta name="geo.position" contant="53.605963, 11.341407" /> -->

      <script>
         document.createElement("header");
         document.createElement("nav");
         document.createElement("section");
         document.createElement("footer");
      </script>

     <title>$station.location Aktuelles Wetter</title>

     <link rel='stylesheet' type='text/css' href='css/hesweewx.css' />

     <link rel='icon' type='image/png' href='favicon.ico' />
     <script src='js/hesweewx.js'></script>
     <script>
       window.onload = function() { applypopups(); }
     </script>
 </head>

<body>

 <div id='hes11'>

#include $Extras.header
#include $Extras.cwarn

<section>
<div id='hescontainer'>
  <div id='popupanchor' style='float:left'></div>

#include "links_forecast.inc"

#if $day($data_binding='aqiCar_binding').aqi_pm2_5.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>AQI-Index</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_winbo' colspan='2' style='$decorator_color('pm_25', $current($data_binding='aqiCar_binding').aqi_pm2_5_category.raw)'>
                  $decorator_text('pm_25', $current($data_binding='aqiCar_binding').aqi_pm2_5_category.raw)</td>
     <td class='hes1_bigval'><a href='dayPM25C.png' class='popup'>
            $latest($data_binding='aqiCar_binding').aqi_pm2_5</a></td>
   #if $trend($data_binding='aqiCar_binding').aqi_pm2_5.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='aqiCar_binding').aqi_pm2_5.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='aqiCar_binding').aqi_pm2_5</td>
   #elif $trend($data_binding='aqiCar_binding').aqi_pm2_5.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='aqiCar_binding').aqi_pm2_5</td>
   #elif $trend($data_binding='aqiCar_binding').aqi_pm2_5.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='aqiCar_binding').aqi_pm2_5</td>
   #end if
    </tr>
  </table>
   <hr />
   <img src="dayAqiPM25C.png" alt="carport-PM2.5" style="width:300px; height:160px;" />
  </div>
 </div><!-- ende Luftqualitaet 2.5_Car_sensor -->
#end if

#if $day($data_binding='airCar_binding').pm_25.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>Feinstaub<br>PM 2,5</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayPM25C.png' class='popup'>
            $latest($data_binding='airCar_binding').pm_25</a></td>
   #if $trend($data_binding='airCar_binding').pm_25.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='airCar_binding').pm_25.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='airCar_binding').pm_25</td>
   #elif $trend($data_binding='airCar_binding').pm_25.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='airCar_binding').pm_25</td>
   #elif $trend($data_binding='airCar_binding').pm_25.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='airCar_binding').pm_25</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='airCar_binding').pm_25.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='airCar_binding').pm_25.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='airCar_binding').pm_25.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='airCar_binding').pm_25.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='airCar_binding').pm_25.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
    #elif $day($data_binding='airCar_binding').pm_25.avg.raw <= 10
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $day($data_binding='airCar_binding').pm_25.avg.raw > 10 and $day($data_binding='airCar_binding').pm_25.avg.raw <= 20
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $day($data_binding='airCar_binding').pm_25.avg.raw > 20 and $day($data_binding='airCar_binding').pm_25.avg.raw <= 30
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $day($data_binding='airCar_binding').pm_25.avg.raw > 30 and $day($data_binding='airCar_binding').pm_25.avg.raw <= 40
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='airCar_binding').pm_25.avg.raw > 40 and $day($data_binding='airCar_binding').pm_25.avg.raw <= 60
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='airCar_binding').pm_25.avg.raw > 60
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='airCar_binding').pm_25.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='airCar_binding').pm_25.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
    #else if $hour($data_binding='airCar_binding').pm_25.avg.raw <= 15
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='airCar_binding').pm_25.avg.raw > 15 and $hour($data_binding='airCar_binding').pm_25.avg.raw <= 30
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='airCar_binding').pm_25.avg.raw > 30 and $hour($data_binding='airCar_binding').pm_25.avg.raw <= 55
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='airCar_binding').pm_25.avg.raw > 55 and $hour($data_binding='airCar_binding').pm_25.avg.raw <= 70
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='airCar_binding').pm_25.avg.raw > 70 and $hour($data_binding='airCar_binding').pm_25.avg.raw < 110
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='airCar_binding').pm_25.avg.raw > 110
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='airCar_binding').pm_25.avg</td>
    </tr>
   </table>
  </div>
 </div><!-- ende pm_25 sensor -->
#end if
 
#if $day($data_binding='airCar_binding').pm_10.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>Feinstaub<br>PM 10</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayPM10C.png' class='popup'>
            $latest($data_binding='airCar_binding').pm_10</a></td>
   #if $trend($data_binding='airCar_binding').pm_10.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='airCar_binding').pm_10.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='airCar_binding').pm_10</td>
   #elif $trend($data_binding='airCar_binding').pm_10.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='airCar_binding').pm_10</td>
   #elif $trend($data_binding='airCar_binding').pm_10.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='airCar_binding').pm_10</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='airCar_binding').pm_10.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='airCar_binding').pm_10.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='airCar_binding').pm_10.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='airCar_binding').pm_10.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='airCar_binding').pm_10.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
    #else if $day($data_binding='airCar_binding').pm_10.avg.raw <= 25
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $day($data_binding='airCar_binding').pm_10.avg.raw > 25 and $day($data_binding='airCar_binding').pm_10.avg.raw <= 30
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $day($data_binding='airCar_binding').pm_10.avg.raw > 30 and $day($data_binding='airCar_binding').pm_10.avg.raw <= 50
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $day($data_binding='airCar_binding').pm_10.avg.raw > 50 and $day($data_binding='airCar_binding').pm_10.avg.raw <= 55
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='airCar_binding').pm_10.avg.raw > 55 and $day($data_binding='airCar_binding').pm_10.avg.raw <= 100
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='airCar_binding').pm_10.avg.raw > 100
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='airCar_binding').pm_10.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='airCar_binding').pm_10.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
    #else if $hour($data_binding='airCar_binding').pm_10.avg.raw <= 25
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='airCar_binding').pm_10.avg.raw > 50 and $hour($data_binding='airCar_binding').pm_10.avg.raw < 25
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='airCar_binding').pm_10.avg.raw > 25 and $hour($data_binding='airCar_binding').pm_10.avg.raw <= 50
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='airCar_binding').pm_10.avg.raw > 50 and $hour($data_binding='airCar_binding').pm_10.avg.raw <= 90
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='airCar_binding').pm_10.avg.raw > 90 and $hour($data_binding='airCar_binding').pm_10.avg.raw <= 180
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='airCar_binding').pm_10.avg.raw > 180
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='airCar_binding').pm_10.avg</td>
    </tr>
   </table>
  </div>
 </div><!-- ende gas_sensor -->
#end if

#if $day($data_binding='airCar_binding').tempAir.has_data
 <div class='hes'>
  <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>AQI-Index<br>Temperatur</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
      <td class='hes1_bigval' colspan='3'><a href='daytemp.png' class='popup'>$latest($data_binding='airCar_binding').tempAir</a></td>
    #if $trend($data_binding='airCar_binding').tempAir.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
    #elif $trend($data_binding='airCar_binding').tempAir.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='airCar_binding').tempAir</td>
    #elif $trend($data_binding='airCar_binding').tempAir.raw == 0
      <td class="hes1_trendhi">=</td>
      <td class="hes1_valhi">$trend($data_binding='airCar_binding').tempAir</td>
    #elif $trend($data_binding='airCar_binding').tempAir.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='airCar_binding').tempAir</td>
    #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>min</span></td>
     <td><span class='hes1_valhi'> $day($data_binding='airCar_binding').tempAir.min</span></td>
     <td><span class="hes1_m">max</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='airCar_binding').tempAir.max</span> </td>
    </tr>
    <tr>
     <td class='hes1_kopfa'>AQI-Index<br>Luftfeuchte</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
      <td class='hes1_bigval' colspan='3'><a href='dayhumid.png' class='popup'>$latest($data_binding='airCar_binding').humiAir</a></td>
    #if $trend($data_binding='airCar_binding').humiAir.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
    #elif $trend($data_binding='airCar_binding').humiAir.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='airCar_binding').humiAir</td>
    #elif $trend($data_binding='airCar_binding').humiAir.raw == 0
      <td class="hes1_trendhi">=</td>
      <td class="hes1_valhi">$trend($data_binding='airCar_binding').humiAir</td>
    #elif $trend($data_binding='airCar_binding').humiAir.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='airCar_binding').humiAir</td>
    #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>min</span></td>
     <td><span class='hes1_valhi'> $day($data_binding='airCar_binding').humiAir.min</span></td>
     <td><span class="hes1_m">max</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='airCar_binding').humiAir.max</span> </td>
    </tr>
   </table>
  </div>
</div> <!-- ende temp humi Air car -->
#end if

#if $day($data_binding='air_binding').air_sensor.has_data
  <div class="hes">
  <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>Air Quality <br />Sensor</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
    <td class='hes1_bigval' colspan='3'>
        <a href='dayAir.png' class='popup'>$latest($data_binding='air_binding').air_sensor</a></td>
   #if $trend($data_binding='air_binding').air_sensor.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air_binding').air_sensor.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air_binding').air_sensor</td>
   #elif $trend($data_binding='air_binding').air_sensor.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='air_binding').air_sensor</td>
   #elif $trend($data_binding='air_binding').air_sensor.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air_binding').air_sensor</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air_binding').air_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air_binding').air_sensor.min</span> </td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='air_binding').air_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='air_binding').air_sensor.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='air_binding').air_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #elif $day($data_binding='air_binding').air_sensor.avg.raw <= 50
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #elif $day($data_binding='air_binding').air_sensor.avg.raw > 50 and $day($data_binding='air_binding').air_sensor.avg.raw <= 100
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #elif $day($data_binding='air_binding').air_sensor.avg.raw > 100 and $day($data_binding='air_binding').air_sensor.avg.raw <= 150
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #elif $day($data_binding='air_binding').air_sensor.avg.raw > 150 and $day($data_binding='air_binding').air_sensor.avg.raw <= 200
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #elif $day($data_binding='air_binding').air_sensor.avg.raw > 200 and $day($data_binding='air_binding').air_sensor.avg.raw <= 300
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #elif $day($data_binding='air_binding').air_sensor.avg.raw > 300
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='air_binding').air_sensor.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='air_binding').air_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $hour($data_binding='air_binding').air_sensor.avg.raw <= 50
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='air_binding').air_sensor.avg.raw > 50 and $hour($data_binding='air_binding').air_sensor.avg.raw <= 100
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='air_binding').air_sensor.avg.raw > 100 and $hour($data_binding='air_binding').air_sensor.avg.raw <= 150
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='air_binding').air_sensor.avg.raw > 150 and $hour($data_binding='air_binding').air_sensor.avg.raw <= 200
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').air_sensor.avg.raw > 200 and $hour($data_binding='air_binding').air_sensor.avg.raw <= 300
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').air_sensor.avg.raw > 300
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='air_binding').air_sensor.avg</td>
    </tr>
   </table>
  </div>
</div> <!-- ende Air-Sensor -->
#end if

#if $day($data_binding='air_binding').gas_sensor.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>LPG, CH4<br />Sensor</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayGas.png' class='popup'>
          $latest($data_binding='air_binding').gas_sensor</a></td>
   #if $trend($data_binding='air_binding').gas_sensor.raw is None
     <td class="hes1_trendlo">&nbsp;</td>
     <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air_binding').gas_sensor.raw < 0
     <td class="hes1_trendlo"> &#8681;</td>
     <td class='hes1_vallo'>$trend($data_binding='air_binding').gas_sensor</td>
   #elif $trend($data_binding='air_binding').gas_sensor.raw == 0
     <td class="hes1_trendhi"><b>=</b></td>
     <td class="hes1_valhi">$trend($data_binding='air_binding').gas_sensor</td>
   #elif $trend($data_binding='air_binding').gas_sensor.raw > 0
     <td class="hes1_trendhi"> &#8679;</td>
     <td class='hes1_valhi'>$trend($data_binding='air_binding').gas_sensor</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air_binding').gas_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air_binding').gas_sensor.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='air_binding').gas_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='air_binding').gas_sensor.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='air_binding').gas_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $day($data_binding='air_binding').gas_sensor.avg.raw <= 5000
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $day($data_binding='air_binding').gas_sensor.avg.raw > 5000 and $day($data_binding='air_binding').gas_sensor.avg.raw <= 7500
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $day($data_binding='air_binding').gas_sensor.avg.raw > 7500 and $day($data_binding='air_binding').gas_sensor.avg.raw <= 10000
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $day($data_binding='air_binding').gas_sensor.avg.raw > 10000 and $day($data_binding='air_binding').gas_sensor.avg.raw <= 20000
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air_binding').gas_sensor.avg.raw > 20000 and $day($data_binding='air_binding').gas_sensor.avg.raw <= 30000
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air_binding').gas_sensor.avg.raw > 30000
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='air_binding').gas_sensor.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='air_binding').gas_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $hour($data_binding='air_binding').gas_sensor.avg.raw <= 5000
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='air_binding').gas_sensor.avg.raw > 5000 and $hour($data_binding='air_binding').gas_sensor.avg.raw <= 7500
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='air_binding').gas_sensor.avg.raw > 7500 and $hour($data_binding='air_binding').gas_sensor.avg.raw <= 10000
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='air_binding').gas_sensor.avg.raw > 10000 and $hour($data_binding='air_binding').gas_sensor.avg.raw <= 20000
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').gas_sensor.avg.raw > 20000 and $hour($data_binding='air_binding').gas_sensor.avg.raw <= 30000
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').gas_sensor.avg.raw > 30000
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='air_binding').gas_sensor.avg</td>
    </tr>
   </table>
  </div>
 </div><!-- ende lpg ch4 sensor -->
#end if

#if $day($data_binding='air_binding').hcho_sensor.has_data
  <div class="hes">
  <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>HCHO-<br>Sensor</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayHCHO.png' class='popup'>
         $latest($data_binding='air_binding').hcho_sensor</a></td>
    #if $trend($data_binding='air_binding').hcho_sensor.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air_binding').hcho_sensor.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air_binding').hcho_sensor</td>
   #elif $trend($data_binding='air_binding').hcho_sensor.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='air_binding').hcho_sensor</td>
   #elif $trend($data_binding='air_binding').hcho_sensor.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air_binding').hcho_sensor</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air_binding').hcho_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air_binding').hcho_sensor.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='air_binding').hcho_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='air_binding').hcho_sensor.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='air_binding').hcho_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $day($data_binding='air_binding').hcho_sensor.avg.raw <= 5000
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $day($data_binding='air_binding').hcho_sensor.avg.raw > 5000 and $day($data_binding='air_binding').hcho_sensor.avg.raw <= 7500
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $day($data_binding='air_binding').hcho_sensor.avg.raw > 7500 and $day($data_binding='air_binding').hcho_sensor.avg.raw <= 10000
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $day($data_binding='air_binding').hcho_sensor.avg.raw > 10000 and $day($data_binding='air_binding').hcho_sensor.avg.raw <= 20000
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air_binding').hcho_sensor.avg.raw > 20000 and $day($data_binding='air_binding').hcho_sensor.avg.raw <= 30000
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air_binding').hcho_sensor.avg.raw > 30000
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='air_binding').hcho_sensor.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='air_binding').hcho_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $hour($data_binding='air_binding').hcho_sensor.avg.raw <= 5000
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='air_binding').hcho_sensor.avg.raw > 5000 and $hour($data_binding='air_binding').hcho_sensor.avg.raw <= 7500
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='air_binding').hcho_sensor.avg.raw > 7500 and $hour($data_binding='air_binding').hcho_sensor.avg.raw <= 10000
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='air_binding').hcho_sensor.avg.raw > 10000 and $hour($data_binding='air_binding').hcho_sensor.avg.raw <= 20000
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').hcho_sensor.avg.raw > 20000 and $hour($data_binding='air_binding').hcho_sensor.avg.raw <= 30000
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').hcho_sensor.avg.raw > 30000
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='air_binding').hcho_sensor.avg</td>
    </tr>
   </table>
  </div>
</div> <!-- ende HCHO-Sensor -->
#end if

#if $day($data_binding='air_binding').gasC_sensor.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>CO-<br>Sensor</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
      <td class='hes1_bigval' colspan='3'><a href='daygasC.png' class='popup'>
            $latest($data_binding='air_binding').gasC_sensor</a></td>
    #if $trend($data_binding='air_binding').gasC_sensor.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air_binding').gasC_sensor.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air_binding').gasC_sensor</td>
   #elif $trend($data_binding='air_binding').gasC_sensor.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='air_binding').gasC_sensor</td>
   #elif $trend($data_binding='air_binding').gasC_sensor.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air_binding').gasC_sensor</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air_binding').gasC_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air_binding').gasC_sensor.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='air_binding').gasC_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='air_binding').gasC_sensor.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='air_binding').gasC_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $day($data_binding='air_binding').gasC_sensor.avg.raw <= 5000
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $day($data_binding='air_binding').gasC_sensor.avg.raw > 5000 and $day($data_binding='air_binding').gasC_sensor.avg.raw <= 7500
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $day($data_binding='air_binding').gasC_sensor.avg.raw > 7500 and $day($data_binding='air_binding').gasC_sensor.avg.raw <= 10000
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $day($data_binding='air_binding').gasC_sensor.avg.raw > 10000 and $day($data_binding='air_binding').gasC_sensor.avg.raw <= 20000
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air_binding').gasC_sensor.avg.raw > 20000 and $day($data_binding='air_binding').gasC_sensor.avg.raw <= 30000
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air_binding').gasC_sensor.avg.raw > 30000
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='air_binding').gasC_sensor.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='air_binding').gasC_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $hour($data_binding='air_binding').gasC_sensor.avg.raw <= 5000
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='air_binding').gasC_sensor.avg.raw > 5000 and $hour($data_binding='air_binding').gasC_sensor.avg.raw <= 7500
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='air_binding').gasC_sensor.avg.raw > 7500 and $hour($data_binding='air_binding').gasC_sensor.avg.raw <= 10000
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='air_binding').gasC_sensor.avg.raw > 10000 and $hour($data_binding='air_binding').gasC_sensor.avg.raw <= 20000
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').gasC_sensor.avg.raw > 20000 and $hour($data_binding='air_binding').gasC_sensor.avg.raw <= 30000
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').gasC_sensor.avg.raw > 30000
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='air_binding').gasC_sensor.avg</td>
    </tr>
   </table>
  </div>
 </div><!-- ende co sensor -->
#end if

#if $day($data_binding='air_binding').gasO_sensor.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>O³-<br>Sensor</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='daygasO.png' class='popup'>
             $latest($data_binding='air_binding').gasO_sensor</a></td>
    #if $trend($data_binding='air_binding').gasO_sensor.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air_binding').gasO_sensor.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air_binding').gasO_sensor</td>
   #elif $trend($data_binding='air_binding').gasO_sensor.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='air_binding').gasO_sensor</td>
   #elif $trend($data_binding='air_binding').gasO_sensor.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air_binding').gasO_sensor</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air_binding').gasO_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air_binding').gasO_sensor.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='air_binding').gasO_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='air_binding').gasO_sensor.min</span></td>
    </tr>
    <tr>
    <td class='hes1_kopfb' colspan='5'>Tagesmittelwert:&nbsp;$day($data_binding='air_binding').gasO_sensor.avg</td>
    </tr>
   </table>
  </div>
 </div>
#end if
<!-- ende gasO_sensor -->

#if $day($data_binding='air_binding').gasN_sensor.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>NO-<br>Sensor</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='daygasN.png' class='popup'>
            $latest($data_binding='air_binding').gasN_sensor</a></td>
    #if $trend($data_binding='air_binding').gasN_sensor.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air_binding').gasN_sensor.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air_binding').gasN_sensor</td>
   #elif $trend($data_binding='air_binding').gasN_sensor.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='air_binding').gasN_sensor</td>
   #elif $trend($data_binding='air_binding').gasN_sensor.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air_binding').gasN_sensor</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air_binding').gasN_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air_binding').gasN_sensor.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='air_binding').gasN_sensor.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='air_binding').gasN_sensor.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='air_binding').gasN_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $day($data_binding='air_binding').gasN_sensor.avg.raw <= 5000
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $day($data_binding='air_binding').gasN_sensor.avg.raw > 5000 and $day($data_binding='air_binding').gasN_sensor.avg.raw <= 7500
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $day($data_binding='air_binding').gasN_sensor.avg.raw > 7500 and $day($data_binding='air_binding').gasN_sensor.avg.raw <= 10000
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $day($data_binding='air_binding').gasN_sensor.avg.raw > 10000 and $day($data_binding='air_binding').gasN_sensor.avg.raw <= 20000
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air_binding').gasN_sensor.avg.raw > 20000 and $day($data_binding='air_binding').gasN_sensor.avg.raw <= 30000
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air_binding').gasN_sensor.avg.raw > 30000
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='air_binding').gasN_sensor.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='air_binding').gasN_sensor.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $hour($data_binding='air_binding').gasN_sensor.avg.raw <= 5000
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='air_binding').gasN_sensor.avg.raw > 5000 and $hour($data_binding='air_binding').gasN_sensor.avg.raw <= 7500
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='air_binding').gasN_sensor.avg.raw > 7500 and $hour($data_binding='air_binding').gasN_sensor.avg.raw <= 10000
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='air_binding').gasN_sensor.avg.raw > 10000 and $hour($data_binding='air_binding').gasN_sensor.avg.raw <= 20000
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').gasN_sensor.avg.raw > 20000 and $hour($data_binding='air_binding').gasN_sensor.avg.raw <= 30000
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air_binding').gasN_sensor.avg.raw > 30000
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='air_binding').gasN_sensor.avg</td>
    </tr>
   </table>
  </div>
 </div>
#end if
<!-- ende gasN_sensor -->

#if $day($data_binding='aqi_binding').aqi_pm2_5.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>AQI-Index²</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td>     
    </tr>
    <tr>
     <td class='hes1_winbo' colspan='2' style='$decorator_color('pm_25', $current($data_binding='aqi_binding').aqi_pm2_5_category.raw)'>
                  $decorator_text('pm_25', $current($data_binding='aqi_binding').aqi_pm2_5_category.raw)</td>
     <td class='hes1_bigval'><a href='dayPM25C.png' class='popup'>
            $latest($data_binding='aqi_binding').aqi_pm2_5</a></td>
   #if $trend($data_binding='aqi_binding').aqi_pm2_5.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='aqi_binding').aqi_pm2_5.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='aqi_binding').aqi_pm2_5</td>
   #elif $trend($data_binding='aqi_binding').aqi_pm2_5.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='aqi_binding').aqi_pm2_5</td>
   #elif $trend($data_binding='aqi_binding').aqi_pm2_5.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='aqi_binding').aqi_pm2_5</td>
   #end if
    </tr>
  </table>
   <hr />
   <img src="dayAqiPM25.png" alt="Vergleich-PM2.5" style="width:300px; height:160px;" />
  </div>
 </div><!-- ende Luftqualitaet 2.5__sensor -->
#end if

#if $day($data_binding='air2_binding').pm_25.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>PM 2,5²<br />Feinstaub&nbsp;</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayPM25.png' class='popup'>
            $latest($data_binding='air2_binding').pm_25</a></td>
   #if $trend($data_binding='air2_binding').pm_25.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air2_binding').pm_25.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air2_binding').pm_25</td>
   #elif $trend($data_binding='air2_binding').pm_25.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='air2_binding').pm_25</td>
   #elif $trend($data_binding='air2_binding').pm_25.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air2_binding').pm_25</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air2_binding').pm_25.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air2_binding').pm_25.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='air2_binding').pm_25.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='air2_binding').pm_25.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='air2_binding').pm_25.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $day($data_binding='air2_binding').pm_25.avg.raw <= 10
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $day($data_binding='air2_binding').pm_25.avg.raw > 10 and $day($data_binding='air2_binding').pm_25.avg.raw <= 20
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $day($data_binding='air2_binding').pm_25.avg.raw > 20 and $day($data_binding='air2_binding').pm_25.avg.raw <= 30
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $day($data_binding='air2_binding').pm_25.avg.raw > 30 and $day($data_binding='air2_binding').pm_25.avg.raw <= 40
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air2_binding').pm_25.avg.raw > 40 and $day($data_binding='air2_binding').pm_25.avg.raw <= 60
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air2_binding').pm_25.avg.raw > 60
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='air2_binding').pm_25.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='air2_binding').pm_25.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $hour($data_binding='air2_binding').pm_25.avg.raw <= 15
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='air2_binding').pm_25.avg.raw > 15 and $hour($data_binding='air2_binding').pm_25.avg.raw <= 30
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='air2_binding').pm_25.avg.raw > 30 and $hour($data_binding='air2_binding').pm_25.avg.raw <= 55
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='air2_binding').pm_25.avg.raw > 55 and $hour($data_binding='air2_binding').pm_25.avg.raw <= 70
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air2_binding').pm_25.avg.raw > 70 and $hour($data_binding='air2_binding').pm_25.avg.raw < 110
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air2_binding').pm_25.avg.raw > 110
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='air2_binding').pm_25.avg</td>
    </tr>
   </table>
  </div>
 </div><!-- ende pm_25 sensor -->
#end if

#if $day($data_binding='air2_binding').pm_10.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>PM 10²<br />Feinstaub&nbsp;</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayPM10.png' class='popup'>
            $latest($data_binding='air2_binding').pm_10</a></td>
   #if $trend($data_binding='air2_binding').pm_10.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air2_binding').pm_10.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air2_binding').pm_10</td>
   #elif $trend($data_binding='air2_binding').pm_10.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='air2_binding').pm_10</td>
   #elif $trend($data_binding='air2_binding').pm_10.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air2_binding').pm_10</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air2_binding').pm_10.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air2_binding').pm_10.min</span></td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td><span class='hes1_m'>max</span></td>
     <td><span class='hes1_valhi'>$yesterday($data_binding='air2_binding').pm_10.max</span></td>
     <td><span class="hes1_m">min</span></td>
     <td><span class='hes1_vallo'>$yesterday($data_binding='air2_binding').pm_10.min</span></td>
    </tr>
    <tr><td colspan='5'>Tagesmittelwert</td></tr>
    <tr>
    #if $day($data_binding='air2_binding').pm_10.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $day($data_binding='air2_binding').pm_10.avg.raw <= 25
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $day($data_binding='air2_binding').pm_10.avg.raw > 25 and $day($data_binding='air2_binding').pm_10.avg.raw <= 30
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $day($data_binding='air2_binding').pm_10.avg.raw > 30 and $day($data_binding='air2_binding').pm_10.avg.raw <= 50
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $day($data_binding='air2_binding').pm_10.avg.raw > 50 and $day($data_binding='air2_binding').pm_10.avg.raw <= 55
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air2_binding').pm_10.avg.raw > 55 and $day($data_binding='air2_binding').pm_10.avg.raw <= 100
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $day($data_binding='air2_binding').pm_10.avg.raw > 100
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $day($data_binding='air2_binding').pm_10.avg</td>
    </tr>
    <tr><td colspan='5'>stündlicher Mittelwert</td></tr>
    <tr>
    #if $hour($data_binding='air2_binding').pm_10.avg.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">
    #else if $hour($data_binding='air2_binding').pm_10.avg.raw <= 25
      <td class='hes1_winbo' colspan='3' style="background-color: limegreen">Gut</td>
      <td class='hes1_m' colspan='2' style="background-color: limegreen">
    #else if $hour($data_binding='air2_binding').pm_10.avg.raw > 50 and $hour($data_binding='air2_binding').pm_10.avg.raw < 25
      <td class='hes1_winbo' colspan='3' style="background-color: yellow">Mittel</td>
      <td class='hes1_m' colspan='2' style="background-color: yellow">
    #else if $hour($data_binding='air2_binding').pm_10.avg.raw > 25 and $hour($data_binding='air2_binding').pm_10.avg.raw <= 50
      <td class='hes1_winbo' colspan='3' style="background-color: orange">Sensibel</td>
      <td class='hes1_m' colspan='2' style="background-color: orange">
    #else if $hour($data_binding='air2_binding').pm_10.avg.raw > 50 and $hour($data_binding='air2_binding').pm_10.avg.raw <= 90
      <td class='hes1_winbo' colspan='3' style="background-color: red">Ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air2_binding').pm_10.avg.raw > 90 and $hour($data_binding='air2_binding').pm_10.avg.raw <= 180
      <td class='hes1_winbo' colspan='3' style="background-color: red">sehr ungesund</td>
      <td class='hes1_m' colspan='2' style="background-color: red">
    #else if $hour($data_binding='air2_binding').pm_10.avg.raw > 180
      <td class='hes1_winbo' colspan='3' style="background-color: maroon">Gefährlich</td>
      <td class='hes1_m' colspan='2' style="background-color: maroon">
    #end if
         $hour($data_binding='air2_binding').pm_10.avg</td>
    </tr>
   </table>
  </div>
 </div><!-- ende gas_sensor -->
#end if

#if $day($data_binding='air_binding').temp.has_data
 <div class='hes'>
  <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>AQI-Index²<br>Temperatur</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
      <td class='hes1_bigval' colspan='3'><a href='daytemp.png' class='popup'>$latest($data_binding='air_binding').inTemp</a></td>
    #if $trend($data_binding='air_binding').inTemp.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
    #elif $trend($data_binding='air_binding').inTemp.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air_binding').inTemp</td>
    #elif $trend($data_binding='air_binding').inTemp.raw == 0
      <td class="hes1_trendhi">=</td>
      <td class="hes1_valhi">$trend($data_binding='air_binding').inTemp</td>
    #elif $trend($data_binding='air_binding').inTemp.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air_binding').inTemp</td>
    #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>min</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air_binding').inTemp.min</span></td>
     <td><span class="hes1_m">max</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air_binding').inTemp.max</span> </td>
    </tr>
    <tr>
     <td class='hes1_kopfa'>AQI-Index²<br>Luftfeuchte</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
      <td class='hes1_bigval' colspan='3'><a href='dayhumid.png' class='popup'>$latest($data_binding='air_binding').inHumidity</a></td>
    #if $trend($data_binding='air_binding').inHumidity.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
    #elif $trend($data_binding='air_binding').inHumidity.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air_binding').inHumidity</td>
    #elif $trend($data_binding='air_binding').inHumidity.raw == 0
      <td class="hes1_trendhi">=</td>
      <td class="hes1_valhi">$trend($data_binding='air_binding').inHumidity</td>
    #elif $trend($data_binding='air_binding').inHumidity.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air_binding').inHumidity</td>
    #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td><span class='hes1_m'>min</span></td>
     <td><span class='hes1_valhi'>$day($data_binding='air_binding').inHumidity.min</span></td>
     <td><span class="hes1_m">max</span></td>
     <td><span class='hes1_vallo'>$day($data_binding='air_binding').inHumidity.max</span> </td>
    </tr>
   </table>
  </div>
</div> <!-- ende inTemp inHumidity Air Innen -->
#end if

#include 'pollen.inc'

#if $day($data_binding='air_binding').sound.has_data
 <div class="hes">
  <div class='hesbox'>
   <table class='hes_temp'>
    <tr><td class='hes1_kopfa'>Sound-Sensor<br />&nbsp;</td>
        <td class='hes1_kopf' colspan='2'>Aktuell</td>
        <td class='hes1_kopf' colspan="2">Trend</td></tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='daySound.png' class='popup'>
             $latest($data_binding='air_binding').sound.formatted</a></td>
   #if $trend($data_binding='air_binding').sound.raw is None
      <td class="hes1_trendlo">&nbsp;</td>
      <td class="hes1_vallo">N/A</td>
   #elif $trend($data_binding='air_binding').sound.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='air_binding').sound.format("%.1f")</td>
   #elif $trend($data_binding='air_binding').sound.raw == 0
      <td class="hes1_trendhi"><b>=</b></td>
      <td class="hes1_valhi">$trend($data_binding='air_binding').sound.format("%.1f")</td>
   #elif $trend($data_binding='air_binding').sound.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='air_binding').sound.format("%.1f")</td>
   #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td class='hes1_m'>max</td>
     <td class='hes1_valhi'>$day($data_binding='air_binding').sound.max.format("%.1f")</td>
     <td class="hes1_m">min</td>
     <td class='hes1_vallo'>$day($data_binding='air_binding').sound.min.format("%.1f")</td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td class='hes1_m'>max</td>
     <td class='hes1_valhi'>$yesterday($data_binding='air_binding').sound.max.format("%.1f")</td>
     <td class="hes1_m">min</td>
     <td class='hes1_vallo'>$yesterday($data_binding='air_binding').sound.min.format("%.1f")</td>
    </tr>
    <tr>
    <td colspan='5' style="$decorator_color('insound', $latest($data_binding='air_binding').sound.raw)">
            Tagesmittelwert:&nbsp;$day($data_binding='air_binding').sound.avg.format("%.2f")</td>
    </tr>
   </table>
  </div>
 </div>
#end if
<!-- ende sound -->

##if $day($data_binding='lightning_binding').distance.has_data
<div class="hes">
  <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>Blitz-Sensor<br />&nbsp;</td>
     <td class='hes1_kopf' colspan='2'>Entfernung</td>
     <td class="hes1_kopf" colspan="2">Uhrzeit</td>
    </tr>
    <tr>
     <td class='hes1_bigval' colspan='3'><a href='dayBlitz.png' class='popup'>
              $latest($data_binding='lightning_binding').distance</a></td>
     <td class="hes1_trendlo"> &#8681;</td>
     <td class='hes1_valhi'>$latest($data_binding='lightning_binding').dateTime.format("%H:%M") Uhr</td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Letzter<br />Blitz</td>
     <td class='hes1_m'>am</td>
     <td class='hes1_valhi'>$latest($data_binding='lightning_binding').dateTime.format("%H:%M")</td>
     <td class="hes1_m">um</td>
     <td class='hes1_vallo'>$latest($data_binding='lightning_binding').dateTime.format("%d.%m.%Y")</td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Anzahl<br />Blitz</td>
     <td class='hes1_m'>Tag</td>
     <td class='hes1_valhi'>$day($data_binding='lightning_binding').distance.count.format('%.0f')</td>
     <td class="hes1_m">Woche</td>
     <td class='hes1_vallo'>$week($data_binding='lightning_binding').distance.count.format('%.0f')</td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Anzahl<br />Blitz</td>
     <td class='hes1_m'>Monat</td>
     <td class='hes1_valhi'>$month($data_binding='lightning_binding').distance.count.format('%.0f')</td>
     <td class="hes1_m">Jahr</td>
     <td class='hes1_vallo'>$year($data_binding='lightning_binding').distance.count.format('%.0f')</td>
    </tr>
   </table>
  </div>
</div> <!-- ende Blitz-Sensor -->
##end if

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr>
     <td class='hes1_kopfa'>Radioaktivität</td>
   </tr>
   <tr>
     <td>GQ GMC-300E</td>
   </tr>
   <tr>
     <td>Geigerzähler</td>
   </tr>
   <tr>
     <td><a href='indexRad.html'>weiter</a></td>
   </tr>
  </table>
 </div>
</div> <!-- end Rad -->

</div> <!-- ende container -->

</section>     

     #include $Extras.footer

 </div> 

##include $Extras.cookie

</body>

</html>
