#errorCatcher Echo
## Standard for weewx - Copyright 2012-2013 Matthew Wall
## $Id: indexAir.html.tmpl 743 2013-12-22 23:24:18Z mwall $
#encoding UTF-8
<!DOCTYPE html>
<html lang="de">
  <head>
     <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
     <meta name='viewport' content='width=device-width' />
     <meta name="robots" content="all" />
     <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
     <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und
 Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
     <meta name="author"           content="Hartmut Schweidler" />
     <meta name="revisit-after"    content="5 min" />

     <!--  <meta name="ICBM" content="53.605963, 11.341407" />
     <meta name="geo.position" contant="53.605963, 11.341407" /> -->

      <script>
         document.createElement("header");
         document.createElement("nav");
         document.createElement("section");
         document.createElement("footer");
      </script>

     <title>$station.location Aktuelles Wetter</title>

     <link rel='stylesheet' type='text/css' href='css/hesweewx.css' />

     <link rel='icon' type='image/png' href='favicon.ico' />
     <script src='js/hesweewx.js'></script>
     <script>
       window.onload = function() { applypopups(); }
     </script>
 </head>

<body>

 <div id='hes11'>

#include $Extras.header
#include $Extras.cwarn

<div id='hescontainer'>
  <div id='popupanchor' style='float:left'></div>

#include "links_forecast.inc"

#if $day($data_binding='geiger_binding').rad_nsvh.has_data
  <div class="hes">
  <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>Radio-<br />aktivität</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
      <td class='hes1_bigval' colspan='3' style="$decorator_color('msvh', $latest($data_binding='geiger_binding').rad_nsvh.raw)">
          <a href='dayGeigerS.png' class='popup'>$latest($data_binding='geiger_binding').rad_nsvh</a></td>
    #if $trend($data_binding='geiger_binding').rad_nsvh.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
    #elif $trend($data_binding='geiger_binding').rad_nsvh.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='geiger_binding').rad_nsvh.formatted</td>
    #elif $trend($data_binding='geiger_binding').rad_nsvh.raw == 0
      <td class="hes1_trendhi">=</td>
      <td class="hes1_valhi">$trend($data_binding='geiger_binding').rad_nsvh.formatted</td>
    #elif $trend($data_binding='geiger_binding').rad_nsvh.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='geiger_binding').rad_nsvh.formatted</td>
    #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td class='hes1_m'>max</td>
     <td class='hes1_valhi'>$day($data_binding='geiger_binding').rad_nsvh.max.formatted</td>
     <td class="hes1_m">min</td>
     <td class='hes1_vallo'>$day($data_binding='geiger_binding').rad_nsvh.min.formatted</td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td class='hes1_m'>max</td>
     <td class='hes1_valhi'>$yesterday($data_binding='geiger_binding').rad_nsvh.max.formatted</td>
     <td class="hes1_m">min</td>
     <td class='hes1_vallo'>$yesterday($data_binding='geiger_binding').rad_nsvh.min.formatted</td>
    </tr>
    <tr>
     <td class='hes1_m' colspan='2'>Tagessumme</td>
     <td class='hes1_valhi' colspan='3'>$day($data_binding='geiger_binding').rad_nsvh.sum</td>
    </tr>
    <tr>
     <td class='hes1_kopfb' colspan='2'>Wochensumme</td>
     <td class='hes1_valhi' colspan='3'>$week($data_binding='geiger_binding').rad_nsvh.sum</td>
    </tr>
   <tr>
     <td class='hes1_kopfb' colspan='2'>Monatssumme</td>
     <td class='hes1_valhi' colspan='3'>$month($data_binding='geiger_binding').rad_nsvh.sum</td>
    </tr>
   <tr>
     <td class='hes1_kopfb' colspan='2'>Jahressumme</td>
     <td class='hes1_valhi' colspan='3'>$year($data_binding='geiger_binding').rad_nsvh.sum.mSv_per_hour</td>
    </tr> 
   </table>
  </div>
</div> <!-- ende radio-aktiv -->
#end if

#if $day($data_binding='geiger_binding').rad_cpm.has_data
  <div class="hes">
  <div class='hesbox'>
   <table class='hes_lufe'>
    <tr>
     <td class='hes1_kopfa'>Zerfall je<br />Minute</td>
     <td class='hes1_kopf' colspan='2'>Aktuell</td>
     <td class="hes1_kopf" colspan="2">Trend</td>
    </tr>
    <tr>
      <td class='hes1_bigval' colspan='3' style="$decorator_color('cpm', $latest($data_binding='geiger_binding').rad_cpm.raw)">
          <a href='dayGeigerS.png' class='popup'>$latest($data_binding='geiger_binding').rad_cpm</a></td>
    #if $trend($data_binding='geiger_binding').rad_cpm.raw is None
        <td class="hes1_trendlo">&nbsp;</td>
        <td class="hes1_vallo">N/A</td>
    #elif $trend($data_binding='geiger_binding').rad_cpm.raw < 0
      <td class="hes1_trendlo"> &#8681;</td>
      <td class='hes1_vallo'>$trend($data_binding='geiger_binding').rad_cpm.formatted</td>
    #elif $trend($data_binding='geiger_binding').rad_cpm.raw == 0
      <td class="hes1_trendhi">=</td>
      <td class="hes1_valhi">$trend($data_binding='geiger_binding').rad_cpm.formatted</td>
    #elif $trend($data_binding='geiger_binding').rad_cpm.raw > 0
      <td class="hes1_trendhi"> &#8679;</td>
      <td class='hes1_valhi'>$trend($data_binding='geiger_binding').rad_cpm.formatted</td>
    #end if
    </tr>
    <tr>
     <td class='hes1_kopfb'>Heute seit<br />Mitternacht</td>
     <td class='hes1_m'>max</td>
     <td class='hes1_valhi'>$day($data_binding='geiger_binding').rad_cpm.max.formatted</td>
     <td class="hes1_m">min</td>
     <td class='hes1_vallo'>$day($data_binding='geiger_binding').rad_cpm.min.formatted</td>
    </tr>
    <tr>
     <td class='hes1_kopfb'>Werte<br />Gestern</td>
     <td class='hes1_m'>max</td>
     <td class='hes1_valhi'>$yesterday($data_binding='geiger_binding').rad_cpm.max.formatted</td>
     <td class="hes1_m">min</td>
     <td class='hes1_vallo'>$yesterday($data_binding='geiger_binding').rad_cpm.min.formatted</td>
    </tr>
    <tr>
     <td class='hes1_m' colspan='2'>Tagessumme</td>
     <td class='hes1_valhi' colspan='3'>$day($data_binding='geiger_binding').rad_cpm.sum</td>
    </tr>
    <tr>
     <td class='hes1_kopfb' colspan='2'>Wochensumme</td>
     <td class='hes1_valhi' colspan='3'>$week($data_binding='geiger_binding').rad_cpm.sum</td>
    </tr>
   <tr>
     <td class='hes1_kopfb' colspan='2'>Monatssumme</td>
     <td class='hes1_valhi' colspan='3'>$month($data_binding='geiger_binding').rad_cpm.sum</td>
    </tr>
   <tr>
     <td class='hes1_kopfb' colspan='2'>Jahressumme</td>
     <td class='hes1_valhi' colspan='3'>$year($data_binding='geiger_binding').rad_cpm.sum</td>
    </tr>
   </table>
  </div>
</div> <!-- ende cpm -->
#end if

<div class="hes">
 <div class='hesbox'>
  <table class='hes_temp'>
   <tr><td class='hes1_kopfa'>Wachstum<br />
                              GDD / Green Day</td></tr>
   <tr><td><a href='index3.html'> weiter</a></td></tr>
  </table>
 </div>
</div> <!-- end gdd -->

</div> <!-- ende container -->

   #include $Extras.footer

 </div> 
</body>

</html>
