## isswatch for weewx - Copyright 2016 Chris Davies-Barnard
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <!-- ISSWatch for weewx - Copyright Matthew Wall -->

    <title>ISS Watch</title>

    <style>
			body {
				font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
			  font-size: 10px;
			  background-color: #ffffff;
				width:75%;
				margin: 10px auto;
				text-align:center;
			}	
			
			div { margin-bottom:10px; }
			
			div.alert-box{
			    color:#555;
			    border-radius:10px;
			    padding:10px 10px 10px 36px;
			}
			div.notice {
			    background:#e3f7fc;
			    border:1px solid #8ed9f6;
			}

			table.gridtable {
				color:#333333;
 				border-radius:10px;				
				border-width: 1px;
				border-color: #666666;
				border-collapse: collapse;
				width:100%;
			}
			table.gridtable th {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background:#e3f7fc;
			}
			table.gridtable td {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background-color: #ffffff;
			}
		</style>
  </head>

  <body>
	
		<!-- The next sighting -->
		<div class="alert-box notice">
			<p>You can see the <strong>$issnext.title</strong> next at <strong>$issnext.time</strong> on <strong>$issnext.date</strong></p>
			<p>It will be visible for $issnext.duration,  approaching from $issnext.approach and departing $issnext.departure.  
				It will reach a maximum elevation of $issnext.maximumelevation. From <a href="$issnext.guid">http://spotthestation.nasa.gov/</a>.</p>
		</div>
		
		<!-- All the sightings -->
		<table class="gridtable">
			<tr>
				<th>&nbsp;</th>
				<th title="Published Time Stamp">Date</th>
				<th>Time</th>
				<th>What can you see?</th>
				<th>How long for?</th>
				<th>Approach</th>
				<th>Maximum Elevation</th>
				<th>Departure</th>
			</tr>
			#for $sighting in $issall
			<tr>
				<td><a href="$sighting.guid">&#9741;</a></td>
				<td>$sighting.date</td>
				<td>$sighting.time</td>
				<td>$sighting.title</td>
				<td>$sighting.duration</td>
				<td>$sighting.approach</td>
				<td>$sighting.maximumelevation</td>
				<td>$sighting.departure</td>
			</tr>
			#end for
		</table>
  </body>
</html>

