#errorCatcher Echo
##    $Revision: 730 $
##    $Author: tkeffer $
##    $Date: 2012-11-03 10:58:13 -0700 (Sat, 03 Nov 2012) $
#encoding UTF-8
<!doctype html>
<html lang = "de">
  <head>
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location Monatliche Wetterdaten</title>
    <link rel="stylesheet" type="text/css" href="hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type='text/javascript' src='js/hesweewx.js'></script>

  </head>

<body>
   <div id="container">

    #include $Extras.header
    #include $Extras.cwarn
            
     <div id="stats_group">
        #set global $werte = $month
        #set global $wertename = 'Dieser Monat'
        #set global $wertum = 'am'
        #include $Extras.cwerte

      </div> <!-- End class "stats_group" -->

      <div id="content">
        
        <div class="header">
          <h3>Monatliche Statistik und Diagramme  <a href='month-table.html' alt='tab'>/ Tabelle</a></h3>
        </div>
        <div id="plots">
          <img src="monthtempdew.png" alt="temperatures" />
          <img src="monthtempchill.png" alt="heatchill" />
          <img src="monthhumid.png" alt="humidity" />   
          <img src="monthrain.png" alt="rain" />
         #if $month.ET.has_data
           <img src="monthET.png" alt="ET Rechnung" />
         #end if
          <img src="monthbarometer.png" alt="barometer"/>
          <img src="monthwind.png" alt="wind" />
          <img src="monthwinddir.png" alt="Hi Wind" />
          <img src="monthwindvec.png" alt="Wind Vector" />
          <img src="monthinside.png" alt="Inside" />
          <img src="monthinhume.png" alt="InsideHumid" />
          #if $month.extraTemp4.has_data
          <img src="monthextra2.png" alt="Carport" />
          #end if
          #if $month.lighting.has_data
          <img src="monthlighting.png" alt="Helligkeit" />
          #end if
          #if $month.radiation.has_data
          <img src="monthradiation.png" alt="Radiation" />
          #end if
          #if $month.rxCheckPercent.has_data
          <img src="monthrx.png" alt="month rx percent"/>
          #end if
          #if $month.extraTemp1.has_data
          <img src="monthextra1.png" alt="Teich Wassertemperaturen" />
          #end if
          #if $month.extraTemp2.has_data
          <img src="monthTeichB.png" alt="Bade Wassertemperaturen" />
          #end if
          #if $month.extraTemp6.has_data
          <img src="monthTeichG.png" alt="Gondfisch Wassertemperaturen" />
          #end if

          #if $month.soilTemp1.has_data
          <img src="monthTempB.png" alt="Bodentemperaturen" />
          <img src="monthsoilT.png" alt="Boden Luft" />
          #end if
          #if $month.soilMoist1.has_data
          <img src="monthsoilF.png" alt="Bodenfeuchtigkeit" />
          #end if
          #if $month.cloudbase.has_data
          <img src="monthcloudbase.png" alt="Wolkenunterkante" />
          #end if
          #if $month.windrund.has_data
          <img src="monthwindrun.png" alt="Windrun" />
          #end if
          #if $month.beaufort.has_data
          <img src="monthwindB.png" alt="Wind in Beaufort" />
          #end if
        </div>
      </div> <!-- End id "content" -->

    </div> <!-- End id "container" -->

  #include $Extras.footer


</body>
</html>
