#errorCatcher Echo
##    $Revision: 1126 $
##    $Author: tkeffer $
##    $Date: 2013-03-27 14:52:32 -0700 (Wed, 27 Mar 2013) $
#encoding UTF-8
<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperatueren und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author" content="hes1" />
    <!-- <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->

    <title>Wetterstation&nbsp;$station.location</title>
    <link rel="stylesheet" type="text/css" href="hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <!-- <script type='text/javascript' src='js/exfoliation.js'></script> -->
    <script type='text/javascript' src='js/hesweewx.js'></script>
    <script>
      window.onload = function() { applypopups(); }
    </script>

  </head>

<body>

 #include $Extras.header

 <div id="stats_group">

  #include $Extras.current
  #set global $period1 = $yesterday
  #set global $period2 = $day
  #set global $period1Name = "Gestern"
  #set global $period2Name = "Heute"

  #include $Extras.chart
               
  </div> <!--End class "stats_group" -->
   <div id="content">
    <div id="about">
     <div class="header">
      Die Wetterstation:
     </div>
     <table>
      <caption class="caption">Koordinaten</caption>
      <tr>
       <td class="label">Breitengrad:</td>
       <td class="data">$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</td>
      </tr>
      <tr>
       <td class="label">L&auml;ngengrad:</td>
       <td class="data">$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</td>
      </tr>
      <tr>
       <td class="label">H&ouml;he:</td>
       <td class="data">$station.altitude</td>
      </tr>
      </table>
      <hr />
      <h3>Messwerterfassung</h3>
      <p>
       Diese private Wetterstation <a href ="http://weewx.com/stations">'in Klein Rogahn'</a> verwendet eine Solar-Funk-Wetterstation mit der Bezeichnung  $station.hardware, 
       <br />verwaltet von der Open Source Software  <a href="http://www.weewx.com">'weewx'</a>. <br />Die Software wurde in Python geschrieben. 
       Es werden weitere Sensoren per Bussystem (1-wire) erfasst. <br />Unter <a href = "https://github.com/hesWeewx/hesWetter.git">hesWetter </a>&nbsp;liegt die Quelle.
      </p>
      <h3>Haftung</h3>
      <ul>
       <li>Die ver&ouml;ffentlichten Daten sind Eigentum des Betreibers und erheben keinerlei Anspruch auf Richtigkeit,<br />
         da es sich hierbei um eine rein private Wetterstation handelt.</li>
       <li>Die von meiner Wetterstation gemessenen und berechneten Daten und Bilder sind ohne Gewähr</li>
       <li>Ich als Betreiber dieser Seiten hafte nicht für die Zuverlässigkeit und Richtigkeit der von meiner Wetterstation<br /> 
           bereitgestellten oder berechneten Daten und Bilder</li>
       <li><b>Die Nutzung der Wetterinformationen geschieht auf eigene Gefahr</b></li>
      </ul>
      <h3>Standort</h3>
      <p>Die Gemeinde <a href="http://de.wikipedia.org/wiki/Klein_Rogahn"> Klein Rogahn </a>&nbsp;liegt ca. 5 km s&uuml;dwestlich der Landeshauptstadt Schwerin.<br />
         Amt Strahlendorf<br />Landkreis Ludwigslust-Parchim<br />Bundesland Mecklenburg-Vorpommern<br />Deutschland<br />Europa </p>
      <hr />
      <h3>Die Wetterstation</h3> 
      <p>Die Wetterstation mit der Bezeichnung "WX-2013" ist eine Solar-Funk-Wetterstation (868MHz),
          sie ist Baugleich mit einer WH1080. Im Unterschied zur WH-1080 hat die Sendeeinheit eine 
          Solarzelle zur Stromversorgung. In der Sendeeinheit sind zwei 1.2 V, 1900mAh Akkus (Type AA)
          für den Nachtbetrieb. Das Empfangsteil der Station ist mit einem USB-Kabel mit dem&nbsp;
          <a href="server.html">Wetterserver</a> 
          &nbsp;verbunden.<br />
          Die Entfernung zwischen der Sendestation mit den Sensoren und dem Empfangsteil beträgt ca. 20 m. 
          Die Sensoren der Solar-Funk-Wetterstation WX-2013 ermitteln die Lufttemperatur, 
          die Luftfeuchtigkeit, die Windrichtung, die Windgeschwindigkeit sowie die Niederschlagsmenge 
          und übermitteln diese drahtlos über Funk (868 MHz) alle 48 s an die Basisstation. 
          Diese verfügt außerdem über eine eingebaute DCF-Funkuhr und einen Zwischenspeicher für die Messwerte.</p>
       <p>aus dem WX-2013 Handbuch:</p>
       <ul>
        <li>Außentemperatur: Messbereich -40 °C bis +65 ° C; Auflösung: 0,1 °C; Genauigkeit: ± 1 °C </li>
        <li>Außenluftfeuchtigkeit: Messbereich 10 bis 99 % rel. Feuchte, Auflösung: 1 %; Genauigkeit: ± 1% </li>
        <li>Innentemperatur: Messbereich 0 °C bis +60 ° C, Auflösung: 0,1 °C; Genauigkeit: ± 1 °C </li>
        <li>Innenluftfeuchtigkeit: Messbereich 10 bis 99 % rel. Feuchte, Auflösung: 1 %, Genauigkeit: ± 3% ( zwischen 5 und 85%) </li>
        <li>Luftdruck: Messbereich: 919 hPa - 1080 hPa, Auflösung: 0,1 hPa, Genauigkeit: 1,5 hPa </li>
        <li>Niederschlagssensor: Anzeigebereich: 0 bis 9999 mm, Auflösung pro Wippenschlag: 0,3 mm, Genauigkeit: ± 0,3 mm (auf 5mm Niederschlagsmenge) </li>
        <li>Windgeschwindigkeitssensor: Messbereich Windstärke: 0 km/h bis 160 km/h, Genauigkeit Windstärke: keine Angabe, Auflösung: 0,1 km/h </li>
        <li>Windrichtungssensor Auflösung Windrichtung grafisch: N, O, S, W mit 3 Zwischenschritten </li>
      </ul>
      <hr />
      <h3>Aufstellung der Sensoren der Solar-Funk-Wetterstation</h3>
      <p>
       Die Sendeeinheit mit dem <b>Thermo-/Hygrosensor</b> befindet sich 2 m über Grund. <br /> 
       <a href='xicons/p/kombi.jpg'>
        <img src="xicons/p/kombi.jpg" width="120" hight="60" alt="Kombisensor" title="Sensor 1" /></a><br />
       Der <b>Windmesser</b> (Anemometer) ist über der Sendeeinheit in 4 m über Grund. <br />
       <a href='xicons/p/wind.jpg'>
        <img src="xicons/p/wind.jpg" width="120" hight="60" alt="Wind" title="Wind-Sensor" /></a><br />
       Der <b>Niederschlagsmesser</b> ist unterhalb der Sendeeinheit in 1,10 m über Grund installiert. <br />
       <a href='xicons/p/regen.jpg'>
        <img src="xicons/p/regen.jpg" width="120" hight="60" alt="Regen" title="Regensensor" /></a><br />
       </p>
       <p>Der <em>Luftdruck</em>, die <em>Innentemperatur</em> und die <em>Innenluftfeuchtigkeit</em> 
          werden in der Basisstation ermittelt.<br />
          <em>Taupunkt</em>, <em>Hitzeindex </em>und<em> Windchill</em> werden berechnet.<br />
       </p>
       <p> Die Messeinrichtungen der Wetterstation WX-2013 stehen am Steg zwischen dem Schwimmteich und dem Gartenteich.<br />
       <b>Die Position:</b><br /><strong>Breitengrad, Latitude $station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2],
          Längengrad, Longitude $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]
          Höhe $station.altitude</strong><br /></p>
      <p>
       <iframe width="640" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=11.32692575454712%2C53.60213186134444%2C11.355786323547362%2C53.60979627851543&amp;layer=mapnik&amp;marker=53.60596424379707%2C11.3413667678833" style="border: 1px solid black"></iframe><br/>
       <small><a href="http://www.openstreetmap.org/?mlat=53.6060&amp;mlon=11.3414#map=16/53.6060/11.3414&amp;layers=N">Größere Karte anzeigen</a></small></p>

     <h3>Zusätzliche Sensoren</h3>
     <p>Als Temperatursensoren verwende ich sowohl die wasserdichte Ausführung des <b>DS18B20</b> mit 1m Anschlussleitung als auch die einfache Form.<br />
     <br />Der Messbereich dieser Sensoren liegt zwischen -55°C und 125°C (Messgenauigkeit > ± 0,5°C).<br />
     <!-- &#177; &plusmn; ). -->
        Im Bereich zwischen -10°C und +85°C haben diese Sensoren eine Messgenauigkeit von ± 0,5°C, laut Hersteller. </p>
     <p>Für die Messung der Luftfeuchtigkeit wird ein Sensor aus der <b>HIH-4000 Serie</b> verwendet.<br /> 
        Die Messgenauigkeit des HIH-4000 Sensors liegt zwischen 0% und 59% relative Luftfeuchte bei ± 5% und <br />
        zwischen 60% und 100% relative Luftfeuchtigkeit bei ± 8% (Spannung 5 V und 25°C).</p>
     <br />
     <p>Es befindet sich am Carport in 2 m über Grund ein Kombisensor für Temperatur (DS18B20) und <br /> 
        ein DS2438 Multisensor zur Erfassung der Luftfeuchte (2. Messstelle) mittels HIH4000er Serie Sensor.<br /><br /> 
        Dieser Kombimesseinrichtung ist ein Helligkeits-, Feuchte- und Temperatursensor des Anbieters 'e-service online'.
        Diese Sensoreinheit wird mittels Strahlungsschutzschild aus Blumentopfuntersetzern vor der direkten Sonnenbestrahlung geschützt.<br /> 
        <a href='xicons/p/tempfeucht.jpg'>
         <img src="xicons/p/tempfeucht.jpg" width="120" hight="60" alt="Sensor" title="Humid1" /></a><br />
        Ein Sensor (DS18B20) erfasst die Lufttemperatur in 1m Höhe über Grund. <br />
         <img src="" width="" hight="" alt="" title="" />(Bild)<br />
        Die Wassertemperatur des kleinen Teiches (0,75 m³) wird per wasserdichten Temperatursensor (DS18B20) in 50 cm Tiefe ermittelt. <br />
         <a href='xicons/p/teichklein.jpg'>
          <img src="xicons/p/teichklein.jpg" width="120" hight="60" alt="kleiner Teich" title="Kleiner Teich" /></a><br />
        Im Schwimmteich (96 m³) gibt es zwei wasserdichte Temperatursensoren (DS18B20), einer in 20 cm und einer in 180 cm Tiefe. <br /> 
          <img src="" width="" hight="" alt="" title="" /><br />
        Auch im Gartenteich (20m³) befindet sich in ca. 50 cm Tiefe ein wasserdichter Temperatursensor (DS18B20). <br />
          <img src="xicons/p/gartenteich.jpg" width="120" hight="60" alt="Gartenteich" title="Gartenteich" /><br />
        Die Bodentemperaturen werden in 5 cm, 10 cm, 20 cm, 50 cm und 100 cm Tiefe mittels wasserdichter Temperatursensoren (DS18B20) gemessen.<br />
          <a href='xicons/p/boden.jpg'>
           <img src="xicons/p/boden.jpg" width="120" hight="60" alt="Bodentemperaturmessung" title="Bodentemperatur" /></a>
        <br />Geplant sind noch Bodenfeuchtesensoren in 10 cm, 20 cm und 50 cm Tiefe.
         Auch 5 cm über Grund befindet sich ein wasserdichte Temperatursensor (DS18B20).
         Ein Solar-, Helligkeits- und Temperatursensor in 2 m Höhe südwestlich neben dem Schwimmteich liefert nur die Globalstrahlungswerte. <br />
           <a href='xicons/p/solar.jpg'>
            <img src="xicons/p/solar.jpg" width="120" hight="60" alt="Solar" title="Solar" /></a>
        </p>
        <hr />
        <h3>Umgebung der Sensoren</h3>
         <p>Die Messeinrichtungen der WX-2013 Station sind entsprechend der Aufbauanleitung zusammengesetzt. 
            Die Einheit Windrichtung und Windgeschwindigkeit wurde mittels Schlauchklemmen und Verlängerungsrohr an einem einbetonierten Rohr befestigt. </p>
         <p>In einer Entfernung von 5 m in Richtung Nordnordwest befindet sich ein kleiner flacher Erdwall,
            &nbsp;mit einem ca. 8 m x 2 m x 1m Filterteich (Pflanzenklärteich).</p>
         <hr />
         <h3> Der Wetterserver</h3>
         <ul>
          <li> Green -PC Amd350 mit </li>
          <li>16GB RAM, </li>
          <li>RAID 1 mit 1TB </li>
          <li>Betriebssystem: debian 8.1</li>
          <li>Software: weewx mit den Erweiterungen owfs, forecast, cmon </li>
          <li>Die Wetterdaten werden in einer MYSQL-Datenbank gespeichert.</li>
          <li>Zusätzlich werden die forecast-Daten und die cmon-Daten in einer sqlite-Datei temporär abgelegt.</li>
          <li>Die Daten von den AIR-Sensoren werden mit einem RasberryPi und einem GrovePi+board erfasst,</li>
          <li>diese Air-Daten werden aus einer eigenen MYSQL-Datenbank importiert und nur angezeigt.</li>
         </ul>
         <hr />
         <h3>Auswertungssoftware weewx</h3>
         <p>Die Installation der Software ist sehr gut unter Weewx dokumentiert. 
            Außerdem gibt es ein Forum unter ...<a href="https://groups.google.com/forum/#!forum/weewx-user">...WeewxHelp...</a>. Des 
            Weiteren ist das ..<a href="http://sourceforge.net/p/weewx/wiki/Weewx%20Wiki/"> .Weewx Wiki..</a> . sehr hilfreich. 
            Die meisten Webseiten werden alle 5 min neu erstellt und hochgeladen. Die weiteren Webseiten in unterschiedlichen Intervallen. </p>
        <h4>Danke an Thomas Keffer, Matthew Wall und all die Anderen</h4>
        <p>Neben der Software <a href="http://www.weewx.com">weewx</a> werden gegenwärtig Erweiterungen von Matthew Wall verwendet:<br />
         1. <a href="http://lancet.mit.edu/mwall/projects/weather/releases/weewx-owfss-0.11.tgz">...OWFS Driver... </a>
            Quelle:&nbsp;<a href="https://github.com/weewx/weewx/wiki/owfs">...owfss.py...</a>&nbsp;zum Auslesen der 1-wire Sensoren.<br />
         2. <a href="http://lancet.mit.edu/mwall/projects/weather/releases/weewx-forecast-3.0.4.tgz">...forecasting...</a>
            Quelle:&nbsp;<a href="https://github.com/weewx/weewx/wiki/forecasting">...Vorschau..</a>. zum Darstellen der Wetterprognose<br />
         3. <a href="http://lancet.mit.edu/mwall/projects/weather/releases/weewx-cmon-0.7.tgz">...Monitor Computer Health...</a>
            Quelle:&nbsp;<a href="https://github.com/weewx/weewx/wiki/cmon">...Server-</a>Überwachung...<br />
         4. Ich verwende außerdem einige Erweiterungen aus dem Forum.<br />
         5. Air-Daten von einem RasberryPi und einem GrovePi+board mit Air-Sensor, Sensor M9 und Sensor N 
            <a href="http://www.seeedstudio.com/depot/GrovePi-Starter-Kit-for-Raspberry-Pi-p-2240.html">...(Grove)...</a>
         </p>

       <h5>Die Änderungen</h5>
        <ul>
        <li>Datenbank 'wview schema'</li>
        <li>die Datei (units.py), </li>
        <li>die Datei (wxformulas.py), </li>
        <li>sowie die Datei (tags.py )</li>
      </ul>
      <p>Ein Beispiel zur Ermittlung der Anzahl der Tage wenn 'min' größer ist als <br />nach:</p>
      <p>bin/weewx/tags.py</p> 
        <code>def max_ge(self, val):</code><br />
        <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return self._do_query('max_ge', val=val)</code>
      <p>zur Ermittlung der Tage ergänzt</p>
       <code>def <b>min_ge</b>(self, val):</code><br />
       <code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return self._do_query('<b>min_ge</b>', val=val)</code>
      <p> eingefügt.</p>
      <p>bin/weewx/manager.py</p>
<code>
      'max_ge': "SELECT SUM(max >= %(val)s) FROM %(table_name)s_day_%(obs_key)s <br />WHERE dateTime >= %(start)s AND dateTime < %(stop)s",<br />
   <b>'min_ge': "SELECT SUM(min >= %(val)s) FROM %(table_name)s_day_%(obs_key)s <br />WHERE dateTime >= %(start)s AND dateTime < %(stop)s",</b><br /><br /><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;elif aggregate_type in ['mintime', 'maxmintime', 'maxtime', 'minmaxtime', 'maxsumtime',<br />
                                    'count', 'max_ge', 'max_le', <b>'min_ge',</b> 'min_le', 'sum_ge']:<br />
</code>
<p>bin/weewx/units.py</p>
<code>       'max_ge'     : "group_count",<br />
             'max_le'     : "group_count",<br />
             <b>'min_ge'     : "group_count",</b><br />
</code>
      <p>Außerdem wurden div. Variablen 'extraTemp1', 'extraHumid1',  und weitere Schema Änderungen eingepflegt, 
         dieses sind bei jedem update zur Zeit noch per Hand zu Ergänzen.</p>  
     <p>Zusätzlich und nicht unerwähnt die diversen Erweiterungen und Anpassungen in den Dateien skin.conf und weewx.conf.</p>
     <h3>Wetterkamera</h3>
     <p>Bei meiner Wetterkamera handelt es sich um eine IP-Camera der Marke 'INKOVIDEO'. (gegwärtig in der Testphase)<br />
      <a href='xicons/p/ipcam.jpg'><img src="xicons/p/ipcam.jpg" width="120" hight="160" alt="IP-Cam" title="IP-Cam" /></a><br />
      In der jetzigen Testphase wird mittels shell-skript, gesteuert durch CRON, alle 2 min ein Bild aufgenommen und gespeichert. <br />
      Einige dieser Bilder werden als Wetterbild auf der Seite <a href="wetter.html">...Wetterbilder..."</a> angezeigt. 
      Des Weiteren werden die Bilder des aktuellen Tages in einem Verzeichnis abgelegt.
      Bilder aus diesem Verzeichnis werden gegen Mitternacht per shell-skript zu einem Video zusammengesetzt. </p>
     <p>Es werden für 7 Tage die Bilder von 6:00, 9:00, 12:00, 15:00 und 18:00 Uhr einschließlich des 
        Vortagsvideos auf der Seite &nbsp;<a herf="wetter.html">wetterbilder</a>&nbsp; präsentiert. </p>

     <hr />
      <img src="pict0049.jpg" alt="Wetterstation" style="width:320px; height:340px;" />
      <img src="pict0056.jpg" alt="Wetterstation" style="width:320px; height:340px;" />

   </div> <!-- End id "content" -->
 </div>

  #include $Extras.footer

</body>

</html>
