#errorCatcher Echo
## Standard for weewx - Copyright 2015 Hartmut Schweidler
## temp.html.tmpl  2015-03-12 23:24:18Z hes $
#encoding UTF-8
<!doctype html>
<html lang="de">
 <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name="robots" content="all" />
    <meta name="keywords" content="Wetter, hes61, Wind, Regen, Wolken, Sonne, Mond, Sternzeichen" />
    <meta name="description" content="Das Wetter in Klein Rogahn, bei Schwerin im Landkreis Ludwiglust-Parchim mit aktuellen Temperaturen und Prognosen für die nächsten Tage, Bundesland Mecklenburg-Vorpommern" />
    <meta name="author"           content="Hartmut Schweidler" />
    <meta name="revisit-after"    content="5 min" />
    <!--  <meta name="ICBM" content="53.605963, 11.341407" />
    <meta name="geo.position" contant="53.605963, 11.341407" /> -->
     <script>
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("footer");
     </script>

    <title>$station.location Wind - Daten</title>
    <link rel="stylesheet" type="text/css" href="hesweewx.css" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type='text/javascript' src='js/hesweewx.js'></script>


  </head>

<body>
 <div id="hes11"> 
   #include $Extras.header
  <div id="stats_group">
    #include $Extras.current
  </div> <!--End class "stats_group" -->  
  <div id="content">        
   <div id="about">
    <div class="section">

<h2>Außentemperatur</h2>
<h3>nach Jahren, seit Beginn meiner Wetteraufzeichnungen </h3>
<p>&nbsp; </p> 
<div id="Report">

<table>
    <tr>
     <td>Anzahl der <br />nach Jahren</td>
     <td style="background-color: #FF4949;">Wüstentag        <br />T<sub>max</sub> &gt;= 35°C</td>
     <td style="background-color: #FF6969;">Heißer Tag         <br />T<sub>max</sub> &gt;= 30°C</td>
     <td style="background-color: #FF8C5F;">Tropennacht     <br />T<sub>min</sub> &gt;= 20°C</td>
     <td style="background-color: #FFAC4B;">Sommertag      <br />T<sub>max</sub> &gt;= 25°C</td>
     <td style="background-color: #33FF33;">Vegetationstag<br />T<sub>min</sub> &gt;= 5°C</td>
     <td style="background-color: #23FF9E;">Frosttag            <br />T<sub>min</sub> &lt;&nbsp;0°C</td>
     <td style="background-color: #4B84FF;">Eistag                <br />T<sub>max</sub> &lt;&nbsp;0 °C</td>
     <td style="background-color: #4B84FF;">Kalter Tag        <br />T<sub>min</sub> &lt;&nbsp;-10 °C</td>
     <td style="background-color: #4B84FF;">Sehr kalter Tag<br />T<sub>min</sub> &lt;&nbsp;-15 °C</td>
    </tr>

#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      <td style="background-color: #FF4949;">$year.outTemp.max_ge((35.0, "degree_C", "group_temperature")).format("%.0f")</td>
      <td style="background-color: #FF6969;">$year.outTemp.max_ge((30.0, "degree_C", "group_temperature")).format("%.0f")</td>
      <td style="background-color: #FF8C5F;">$year.outTemp.min_ge((20.0, "degree_C", "group_temperature")).format("%.0f")</td>
      <td style="background-color: #FFAC4B;">$year.outTemp.max_ge((25.0, "degree_C", "group_temperature")).format("%.0f")</td>
      <td style="background-color: #33FF33;">$year.outTemp.max_ge((5.0, "degree_C", "group_temperature")).format("%.0f")</td>
      <td style="background-color: #23FF9E;">$year.outTemp.min_le((0.0, "degree_C", "group_temperature")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.outTemp.max_le((0.0, "degree_C", "group_temperature")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.outTemp.min_le((-10.0, "degree_C", "group_temperature")).format("%.0f")</td>
      <td style="background-color: #4B84FF;">$year.outTemp.min_le((-15.0, "degree_C", "group_temperature")).format("%.0f")</td>
   </tr>
#end for
</table>
<hr />

<h3>Durchschnittliche Tagestemperatur in °C</h3>
 <p> Die durchschnittliche Tagestemperatur ist nicht identisch mit der Tagesmitteltemperatur, auch Tagesdurchschnittstemperatur entsprechend den Festlegungen des Deutschen Wetterdienstes. Die hier dargestellten durchschnittlichen Tagestemperaturen sind das arithmetische Mittel aus den aufgezeichneten Werten. Die Außentemperaturwerte werden in der Regel alle fünf Minuten, in 2 m Höhe über Grund, elektronisch ermittelt und gespeichert.</p>

<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
     #for $month in $year.months
          #if $month.outTemp.avg.raw is not None:
             #if $month.outTemp.avg.raw < -30
                 <td class="hest01">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < -25
                 <td class="hest02">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < -20
                 <td class="hest03">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < -15
                 <td class="hest04">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < -10
                 <td class="hest05">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < -5
                 <td class="hest06">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 0
                 <td class="hest07">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 5
                 <td class="hest08">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 10
                 <td class="hest09">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 15
                 <td class="hest10">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 20
                 <td class="hest11">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 25
                 <td class="hest12">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 30
                 <td class="hest13">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 35
                 <td class="hest14">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw < 40
                 <td class="hest15">$month.outTemp.avg.formatted</td>
             #elif $month.outTemp.avg.raw > 39.9 
                 <td class="hest16">$month.outTemp.avg.formatted</td>
             #end if
          #else
                 <td class="hest00">-</td>
          #end if
      #end for
    </tr>
#end for
 </table>
<hr />

<h3>Höchste Außentemperatur in °C</h3>
<p>Tageshöchsttemperatur je Monat, mit der Angabe des Tages und der Uhrzeit</p>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.outTemp.max.raw is not None:
             #if $month.outTemp.max.raw < -30
                 <td class="hest01">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < -25
                 <td class="hest02">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < -20
                 <td class="hest03">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < -15
                 <td class="hest04">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < -10
                 <td class="hest05">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < -5
                 <td class="hest06">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 0
                 <td class="hest07">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 5
                 <td class="hest08">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 10
                 <td class="hest09">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 15
                 <td class="hest10">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 20
                 <td class="hest11">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 25
                 <td class="hest12">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 30
                 <td class="hest13">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 35
                 <td class="hest14">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw < 40
                 <td class="hest15">$month.outTemp.max.formatted<br /><small>$month.outTemp.maxtime</small></td>
             #elif $month.outTemp.max.raw > 39.9 
                 <td class="hest16">$month.outTemp.max.formatted</td>
             #end if
          #else
                 <td class="hest00">-</td>
          #end if
      #end for
    </tr>
#end for
 </table>
<hr />

<h3>Tiefste Außentemperatur in °C</h3>
<p>Tagestiefsttemperatur je Monat, mit der Angabe des Tages und der Uhrzeit</p>
<table>
    <tr>
      <td>&nbsp;</td>
      <td>Jan</td><td>Feb</td><td>Mär</td>
     <td>Apr</td><td>Mai</td><td>Jun</td>
     <td>Jul</td><td>Aug</td><td>Sep</td>
     <td>Okt</td><td>Nov</td><td>Dez</td>
    </tr>
#for $year in $alltime.years
    <tr>
      <td>$year.dateTime.format("%Y")</td>
      #for $month in $year.months
          #if $month.outTemp.min.raw is not None:
             #if $month.outTemp.min.raw < -30
                 <td class="hest01">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < -25
                 <td class="hest02">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < -20
                 <td class="hest03">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < -15
                 <td class="hest04">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < -10
                 <td class="hest05">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < -5
                 <td class="hest06">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 0
                 <td class="hest07">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 5
                 <td class="hest08">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 10
                 <td class="hest09">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 15
                 <td class="hest10">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 20
                 <td class="hest11">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 25
                 <td class="hest12">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 30
                 <td class="hest13">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 35
                 <td class="hest14">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw < 40
                 <td class="hest15">$month.outTemp.min.formatted<br /><small>$month.outTemp.mintime</small></td>
             #elif $month.outTemp.min.raw > 39.9 
                 <td class="hest16">$month.outTemp.min.formatted</td>
             #end if
          #else
                 <td class="hest00">-</td>
          #end if
       #end for
    </tr>
#end for
 </table>
</div>
   </div> <!-- end id "about" -->
  </div>  <!-- end id "content" -->
 </div> 

  #include $Extras.footer


</body>

</html>
