/*
############################################################################
# CSS external file for Summary and detail pages
############################################################################
*/

#report{
     font-family: arial;
     color: #000000;
}

#report table {
	width: 100%;
	border-collapse: collapse;
}

#report form {
    display: inline; 
}
    
#report .labels {
	background-color: #666666;
	color: #cccccc;
	border: 1px solid #222222;
	text-align: center;
	padding: 2px;
}


#report .colorband {
	border-style: solid;
	border-width: 0px 1px 0px 1px;
	border-color: #666666;
	text-align: center;
	padding: 2px;
	background-color: #666666;
	color: #cccccc;	
	font-size: 85%;
    font-weight: bold;
}



#report .hest1 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0000cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;
}

#report .hest2 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0066cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;;
}

#report .hest3 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0099cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;
}

#report .hest4 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ccff;
    font-weight: bold;
    font-size: 85%;
}

#report .hest5 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ffcc;
    font-weight: bold;
    font-size: 85%;;
}

#report .hest6 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ff99;
    font-weight: bold;
    font-size: 85%;
}

#report .hest7 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ccff00;
    font-weight: bold;
    font-size: 85%;
}

#report .hest8 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ffff66;
    font-weight: bold;
    font-size: 85%;
}

#report .hest9 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ffcc00;
    font-weight: bold;
    font-size: 85%;
}

#report .hest10 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff9933;
    font-weight: bold;
    font-size: 85%;
}

#report .hest11 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff6600;
    font-weight: bold;
    font-size: 85%;
}

#report .hest12 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff3300;
    font-weight: bold;
    font-size: 85%;
}

#report .hest13 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #cc3300;
    font-weight: bold;
    font-size: 85%;
}

#report .hest14 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff6600;
    font-weight: bold;
    font-size: 85%;
}

#report .hest15 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff3300;
    font-weight: bold;
    font-size: 85%;
}

#report .hest16 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #cc3300;
    font-weight: bold;
    font-size: 85%;
}

#report .colorkeyborder {
    border-style: solid;
    border-width: 8px 3px 8px 3px;
    border-color: #666666;
    background-color: green; /* #FF0000; */
}


#report .noday {
	background-color: #666666; 
	background-repeat: repeat-x;
}


#report .beaufort0 {
    background-color: #ffffff;

}

#report .beaufort1 {
    background-color: #ccffff;
}

#report .beaufort2 {
    background-color: #99ffcc;
}

#report .beaufort3 {
    background-color: #99ff99;
}

#report .beaufort4 {
    background-color: #99ff66;
}

#report .beaufort5 {
    background-color: #99ff00;
}

#report .beaufort6 {
    background-color: #99cc00;
}

#report .beaufort7 {
    background-color: #cccc00;
}

#report .beaufort8 {
    background-color: #ffcc00;
}

#report .beaufort9 {
    background-color: #ff9900;
}

#report .beaufort10 {
    background-color: #ff6600;
}

#report .beaufort11 {
    background-color: #ff3300;
}

#report .beaufort12 {
    background-color: #ff0000;
}

#report .hesb0 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FFFFFF;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb1 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #CCFFFF;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb2 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #99FFCC;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb3 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #99FF99;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb4 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #99FF66;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb5 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #99FF00;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb6 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #99CC00;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb7 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #CCCC00;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb8 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FFCC00;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb9 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FF9900;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb10 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FF6600;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb11 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FF3300;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb12 {
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FF0000;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .hesb13 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #cc3300;
    font-weight: bold;
    font-size: 85%;
}

#report .hesuv1 {
    border: 1px solid #666666;
    text-align: center;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 85%;
}

#report .hesuv2 {
    border: 1px solid #666666;
    text-align: center;
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 85%;;
}

#report .hesuv3 {
    border: 1px solid #666666;
    text-align: center;
    background-color: orange;
    color: black;
    font-weight: bold;
    font-size: 85%;
}

#report .hesuv4 {
    border: 1px solid #666666;
    text-align: center;
    background-color: red;
    font-weight: bold;
    font-size: 85%;
}

#report .hesuv5 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ee82ee;
    font-weight: bold;
    font-size: 85%;;
}


#report .heswdir1 {  /* North */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #0000FF;
    color:white;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .heswdir2 {	/* NNE */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #003399;
    color:white;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
}

#report .heswdir3 {	/* NE */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #2A52BE;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:white;
}

#report .heswdir4 {	/* ENE */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FFF700;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir5 {	/* East */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FFFF00;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir6 {	/* ESE */	
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FFEF00;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir7 {	/* SE */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #F4C2C2;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir8 {	/* SSE */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FF5C5C;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir9 {	/* South */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #FF0000;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir10 { /* SSW */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #E34234;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir11 {	/* SW */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #CD5C5C;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir12 {	/* WSW */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #D2691E;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir13 {	/* West */
    border: 1px solid #666666;
    text-align: center;
    background-color: #FF6700;
    font-weight: bold;
    font-size: 85%;
    color:black;
}

#report .heswdir14 {	/* WNW */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #ED872D;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:black;
}

#report .heswdir15 {	/* NW */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #002FA7;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:white;
}

#report .heswdir16 {	/* NNW */
    border: 1px solid #22464F;
    text-align: center;
    background-color: #00009C;
    font-weight: bold;
    padding: 2px;
    font-size: 85%;
    color:white;
}

#reportteich .hest1 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0000cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest2 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0066cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;;
}

#reportteich  .hest3 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0099cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest4 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ccff;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest5 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ffcc;
    font-weight: bold;
    font-size: 85%;;
}

#reportteich  .hest6 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ff99;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest7 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ccff00;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest8 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ffff66;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest9 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ffcc00;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest10 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff9933;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest11 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff6600;
    font-weight: bold;
    font-size: 85%;
}

#reportteich  .hest12 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff3300;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest1 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0000cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest2 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0066cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;;
}

#reportboden .hest3 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #0099cc;
    color: #ffffff;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest4 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ccff;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest5 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ffcc;
    font-weight: bold;
    font-size: 85%;;
}

#reportboden .hest6 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #00ff99;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest7 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ccff00;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest8 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ffff66;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest9 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ffcc00;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest10 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff9933;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest11 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff6600;
    font-weight: bold;
    font-size: 85%;
}

#reportboden .hest12 {
    border: 1px solid #666666;
    text-align: center;
    background-color: #ff3300;
    font-weight: bold;
    font-size: 85%;
}



