#errorCatcher Echo
##def round1(val): $eval('%6.1f' % $round($val, 1))
##def round2(val): $eval('%6.2f' % $round($val, 2))
#set $Wind="%6.1f"
#set $Dir="%6.0f"
#set $NONE="#N/A"
YR,MO,DAY,TMPAVG_F,TMPMAX_F,TMPMIN_F,DEWPT_F,HDD_F,CDD_F
#for $month in $year.months
#for $day in $month.days
#if $day.barometer.count.raw
#$day.dateTime.format("%Y"),$day.dateTime.format("%m"),$day.dateTime.format("%d"),$round1($day.outTemp.avg.degree_F.raw),$round1($day.outTemp.max.degree_F.raw),$round1($day.outTemp.min.degree_F.raw),$round1($day.dewpoint.avg.degree_F.raw),$round1($day.heatdeg.sum.degree_F_day.raw),$round1($day.cooldeg.sum.degree_F_day.raw)
$day.dateTime.format("%Y"),$day.dateTime.format("%m"),$day.dateTime.format("%d"),$day.outTemp.avg.degree_F.raw,$day.outTemp.max.degree_F.raw,$day.outTemp.min.degree_F.raw,$day.dewpoint.avg.degree_F.raw,$day.heatdeg.sum.degree_F_day.raw,$day.cooldeg.sum.degree_F_day.raw
#end if
#end for
#end for
