#errorCatcher Echo
##    $Revision: 730 $
##    $Author: tkeffer $
##    $Date: 2012-11-03 10:58:13 -0700 (Sat, 03 Nov 2012) $
#encoding UTF-8
<!doctype html>
<html lang = "de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$station.location Woche Zusammenstellung</title>
    <link rel="stylesheet" type="text/css" href="css/hesweewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type='text/javascript' src='js/hesweewx.js'></script>

  </head>

<body>
<button onclick="topFunction()" id="hesBtn" title="Go to top">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("hesBtn").style.display = "block";
    } else {
        document.getElementById("hesBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

   <div id="container">

    #include $Extras.header
    #include $Extras.cwarn
            
      <div id="stats_group">
        #set global $werte = $day
        #set global $wertename = 'Heute seit Mitternacht'
        #set global $wertum = 'um'
        #include $Extras.cwerte

      </div> <!-- End class "stats_group" -->

      <div id="content">
        <div id="about">
          <div class="header">
            <h3>T&auml;gliche Statistik und Diagramme</h3>
          </div>
        </div> <!-- End id "about" -->

        <div id="hes">  <!-- align="center"> -->

      #include 'zeitdiff.inc'

     </div>
     <hr />
    <div id="plots">
     <img src="dayatemp.png" alt="temperatures" />
     <img src="dayaapptemp.png" alt="gefuehlt" />
     <img src="dayawindchill.png" alt="windchill" />
     <img src="dayaheatindex.png" alt="heatindex" />
     <img src="dayahumid.png"     alt="humidity" />
     <img src="dayaabsF.png" alt="absoluteFeuchtigkeit" />
     <img src="dayabarometer.png" alt="barometer"/>
     <hr />
     <img src="dayarain.png" alt="rain" />
     <img src="dayaraintot.png" alt="rain" />
     <img src="dayasnow.png" alt="Schnee" />
     <img src="dayaET.png" alt="ET" />
     <img src="dayarain_ET.png" alt="rain_ET" />
     <hr />
     <img src="dayawind.png" alt="wind" />
     <img src="dayawinddir.png" alt="Hi Wind" />
     <img src="dayawindvec.png" alt="Wind Vector" />
     <hr />
     <img src="dayaGartenTemp.png" alt="Carport/Garten" />
     <img src="dayaTeichTemp.png" alt="GartenTeich" />
     <img src="dayaBadTemp.png" alt="Schwimmteich" />
     <hr />
     <img src="dayalighting.png" alt="Helligkeit" />
     <img src="dayaradiation.png" alt="Radiation" />
     <img src="dayasun.png" alt="Sonnenstunden" />
     <img src="dayauv.png" alt="UV-Index" />
     <hr />
     <img src="dayaBoden5.png" alt="Bodentemperatur" />
     <img src="dayasoilT.png" alt="OWFS Boden" />
     <img src="dayasoilD.png" alt="Davis Boden" />
     <img src="dayasoilF.png" alt="Bodenfeuchte" />
     <hr />
     <img src="dayaleafW.png" alt="Blatt Feuchte" />
     <img src="dayaleafT.png" alt="Blatt Temperatur" />
     <hr />
     <img src="dayaAir.png" alt="LuftGuete" />
     <img src="dayaHCHO.png" alt="Luft hcho" />
     <img src="dayaGas.png" alt="Luft gas" />
     <img src="dayaGasC.png" alt="Luft gasC" />
     <img src="dayaPM10.png" alt="Luft 10ppm" />
     <img src="dayaPM25.png" alt="Luft 2,5ppm" />
     <hr />
     <img src="dayainTemp.png" alt="Inside TEmp" />
     <img src="dayainHumid.png" alt="InsideHumid" />
     <img src="dayaindew.png" alt="Inside dewpoint" />
     <hr />
     <img src="dayaSound.png" alt="Sound" />
     <hr />
     <img src="dayacloudbase.png" alt="Wolkenunterkante" />
     <img src="dayawindrun.png" alt="Windrun" />
     <img src="dayawindB.png" alt="Wind in Beaufort" />
     <img src="dayaDensity.png" alt="Luftdichte" />
     <img src="dayaWindDruck.png" alt="Winddruck" />
     <hr />
     <img src="dayaBlitz.png" alt="Blitz" />
     <hr />
     <img src="dayaVolt.png" alt="OWFS-Spannung" />
     <img src="dayaBate.png" alt="Spannung" />
     <img src="dayaStat.png" alt="ISS-Signal" />
     <hr />
     <img src="dayaGeiger.png" alt="CPM Signal" />
     <img src="dayaGeigerS.png" alt="h Signal" />
    </div>
   </div> <!-- End id "content" -->
  </div> <!-- End id "container" -->

  #include $Extras.footer


</body>
</html>
