#errorCatcher Echo
## display.htm.tmpl  2016-06-12 16:37:18Z hes $
#encoding UTF-8
Wetterstation Klein Rogahn (Blick Richtung Südwest)

 Temperatur: $current.outTemp bei $current.outHumidity Feuchte
 Luftdruck: $current.barometer Tendenz $trend.barometer
 Solarstrahlung: $current.radiation  -  UV-Index: $current.UV
 Wind: $current.windSpeed aus $current.windDir.ordinal_compass mit max. $day.windSpeed.max
 Regen:  $current.rain bei $current.rainRate
 Wolkenuntergrenze: $current.cloudbase
