
aktuelle GTS: $current.GTS
<br>
Zeit GTS: $current.GTSdate
<br>
Tag GTS: $day.GTS
<br>
Zeit GTS: $day.GTSdate
<br>
LMT Zeit:$current.LMTtime.raw
<br>
utcoffsetLMT:$current.utcoffsetLMT.raw

<table>
        <tr>
        <td>Tag GTS</td>
        <td>Basis 10,0°C</td>
        <td><img src="dayGTS.png" alt="GTS day" /></td>
       </tr>
        <tr>
        <td>Week GTS</td>
        <td>Basis 10,0°C</td>
        <td><img src="weekGTS.png" alt="GTS day" /></td>
       </tr>
        <tr>
        <td>Month GTS</td>
        <td>Basis 10,0°C</td>
        <td><img src="monthGTS.png" alt="GTS day" /></td>
       </tr>
        <tr>
        <td>Year GTS</td>
        <td>Basis 10,0°C</td>
        <td><img src="yearGTS.png" alt="GTS day" /></td>
       </tr>
</table>

