/* styles for the forecast_iconic */
.iconic-horizontal td {
    vertical-align: top;
}
.col-outlook {
    min-width: 36px;
}
.col-day {
    min-width: 36px;
    text-transform: uppercase;
}
.col-precip {
}
.col-obvis {
}
.row-outlook {
}
.row-day {
    text-transform: uppercase;
}
.row-precip {
}
.row-obvis {
}
.date {
    font-size: 80%;
}
.outlook-img {
    width: 36px;
}
.precip-img {
    width: 36px;
}
.obvis-img {
    width: 36px;
}
.temp1 {
    float: left;
}
.temp-range {
    min-width: 15px;
    min-height: 15px;
    background-color: #888888;
    border: 1px solid #444444;
    webkit-radius: 10px;
    moz-radius: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
